---
layout: index
title: SKT Open Source Software
tagline: 
tags : [contact, components]
img : 
img-mobile : 
author : Antonio Trento
css: 
js:
keywords: components, demo
canonical: https://sktelecom.github.io
---
{% include JB/setup %}
    <!-- Content Area Start -->
    <div id="content">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="page-header-title">
              <h2 class="heading-title text-center">Contact</h2>
            </div>
          </div>
        </div>

        <!-- CONTACT FORM -->     
        <div class="row">	      
          <div class="col-md-8">
            <h3 class="title-head text-center">Get in touch</h3>
            <form class="contact-form" data-toggle="validator" action="https://formspree.io/opensource@sk.com" method="POST">
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <i class="contact-icon fa fa-user"></i>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Full Name" required data-error="Please enter your name">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <i class="contact-icon fa fa-envelope-o"></i>
                    <input type="email" class="form-control" id="email" name="_replyto" placeholder="Email" required data-error="Please enter your email">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <i class="contact-icon fa fa-pencil-square-o"></i>
                    <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required data-error="Please enter your Subject">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <textarea id="message" name="message" rows="8" placeholder="Message" required data-error="Please enter your message"></textarea>
                    <div class="help-block with-errors"></div>
                  </div>
                  <button type="submit" id="form-submit" class="btn btn-common btn-form-submit">Send Message</button>
                  <div id="msgSubmit" class="h3 text-center hidden"></div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </form>
          </div>

          
          <div class="col-md-4">
            <h4 class="contact-info-title">Contact Information</h4>
            <div class="contact-info">
              <address>
              <i class="fa fa-map-marker icons cyan-color contact-info-icon"></i>
              SK T-Tower, 65, Eulji-ro, Jung-gu, 
              <br>
              Seoul, 04539, Korea
            </address>
              <div class="tel-info">
                <!--<a href="tel:1800452308"><i class="fa fa-mobile icons cyan-color contact-info-icon"></i>1800 452 308</a>-->
                <a href="tel:+82-2-6100-2114"><i class="fa fa-phone icons cyan-color contact-info-icon"></i>+82-2-6100-2114</a>
              </div>
              <a href="mailto:opensource@sk.com"><i class="fa fa-envelope-o icons cyan-color contact-info-icon"></i>opensource@sk.com</a>
              <a href="https://www.sktelecom.com/"><i class="fa fa-tablet icons cyan-color contact-info-icon"></i>https://www.sktelecom.com/</a>
              {% include social-block.html %}
            </div>
          </div>

        </div>
        <!--<div class="sub-title">
          <span>Contact Section #1</span>
        </div>
        <div class="row">
          <div class="col-md-8">
            <h3 class="title-head text-center">Get in touch</h3>
            <form class="contact-form" data-toggle="validator">
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <i class="contact-icon fa fa-user"></i>
                    <input type="text" class="form-control" id="name" placeholder="Full Name" required data-error="Please enter your name">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <i class="contact-icon fa fa-envelope-o"></i>
                    <input type="email" class="form-control" id="email" placeholder="Email" required data-error="Please enter your email">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <i class="contact-icon fa fa-pencil-square-o"></i>
                    <input type="text" class="form-control" id="subject" placeholder="Subject" required data-error="Please enter your Subject">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <textarea id="message" rows="8" placeholder="Message" required data-error="Please enter your message"></textarea>
                    <div class="help-block with-errors"></div>
                  </div>
                  <button type="submit" id="form-submit" class="btn btn-common btn-form-submit">Send Message</button>
                  <div id="msgSubmit" class="h3 text-center hidden"></div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </form>
          </div>

          <div class="col-md-4">
            <h4 class="contact-info-title">Contact Information</h4>
            <div class="contact-info">
              <address>
							<i class="fa fa-map-marker icons cyan-color contact-info-icon"></i>
							Level 13, 2 Elizabeth St, Melbourne,
							<br>
							Victoria 3000, Australia
						</address>
              <div class="tel-info">
                <a href="tel:1800452308"><i class="fa fa-mobile icons cyan-color contact-info-icon"></i>1800 452 308</a>
                <a href="tel:+61(8)82343555"><i class="fa fa-phone icons cyan-color contact-info-icon"></i>+61 (8) 8234 3555</a>
              </div>
              <a href="mailto:hello@spiritapp.com"><i class="fa fa-envelope-o icons cyan-color contact-info-icon"></i>admin@uideck.com</a>
              <a href="#"><i class="fa fa-tablet icons cyan-color contact-info-icon"></i>www.uideck.com</a>
              <ul class="social-links">
                <li>
                  <a href="#" class="fa fa-facebook"></a>
                </li>
                <li>
                  <a href="#" class="fa fa-twitter"></a>
                </li>
                <li>
                  <a href="#" class="fa fa-instagram"></a>
                </li>
                <li>
                  <a href="#" class="fa fa-linkedin"></a>
                </li>
                <li>
                  <a href="#" class="fa fa-skype"></a>
                </li>
              </ul>
            </div>
          </div>

        </div>

        <div class="mb-60"></div>

        <div class="sub-title">
          <span>Contact Section #2</span>
        </div>

        <div class="row">
          <div class="col-md-4">
            <h4 class="contact-info-title">Contact Information</h4>
            <div class="contact-info">
              <address>
								<i class="fa fa-map-marker icons cyan-color contact-info-icon"></i>
								Level 13, 2 Elizabeth St, Melbourne,<br>Victoria 3000, Australia
							</address>
              <div class="tel-info">
                <a href="tel:1800452308"><i class="fa fa-mobile icons cyan-color contact-info-icon"></i>1800 452 308</a>
                <a href="tel:+61(8)82343555"><i class="fa fa-phone icons cyan-color contact-info-icon"></i>+61 (8) 8234 3555</a>
              </div>
              <a href="mailto:hello@spiritapp.com"><i class="fa fa-envelope-o icons cyan-color contact-info-icon"></i>admin@uideck.com</a>
              <a href="#"><i class="fa fa-tablet icons cyan-color contact-info-icon"></i>www.uideck.com</a>
              <ul class="social-links">
                <li>
                  <a href="#" class="fa fa-facebook"></a>
                </li>
                <li>
                  <a href="#" class="fa fa-twitter"></a>
                </li>
                <li>
                  <a href="#" class="fa fa-instagram"></a>
                </li>
                <li>
                  <a href="#" class="fa fa-linkedin"></a>
                </li>
                <li>
                  <a href="#" class="fa fa-skype"></a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-md-8">
            <h3 class="title-head text-center">Get in touch</h3>
            <form class="contact-form" data-toggle="validator">
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <i class="contact-icon fa fa-user"></i>
                    <input type="text" class="form-control" id="name" placeholder="Full Name" required data-error="Please enter your name">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <i class="contact-icon fa fa-envelope-o"></i>
                    <input type="email" class="form-control" id="email" placeholder="Email" required data-error="Please enter your email">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <i class="contact-icon fa fa-pencil-square-o"></i>
                    <input type="text" class="form-control" id="subject" placeholder="Subject" required data-error="Please enter your Subject">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <textarea id="message" rows="8" placeholder="Message" required data-error="Please enter your massage"></textarea>
                    <div class="help-block with-errors"></div>
                  </div>
                  <button type="submit" id="form-submit" class="btn btn-common btn-form-submit">Send Message</button>
                  <div id="msgSubmit" class="h3 text-center hidden"></div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </form>
          </div>
          
        </div>
      -->
      </div>
    </div>
    <!-- Content Area End -->
    <!--<div class="text-center">Love this UI Kit? Get more Free and Premium <a href="https://uideck.com/products/category/ui-kits/">Bootstrap UI Kits</a> </div>-->
