//
// Base styles
//
.date-picker {
  display: inline-flex;
  align-items: center;
  border: 1px solid $date-picker-border-color;
  border-radius: 0.3rem;
  box-sizing: content-box;

  .input-group {
    justify-content: space-between;
    align-items: center;
  }
  .input-hyphen {
    display: block;
    min-width: 0.75rem;
    height: 1px;
    background-color: $date-picker-hyphen-color;
  }
  input[type="text"],
  input[type="date"] {
    max-height: 2.25rem;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    white-space: nowrap;
  }
  input[type="text"] {
    margin-right: -0.125rem;
    color: $date-picker-form-color;
  }
  [class^="glyphicons-"] {
    margin-right: 0.5rem;
    font-size: 1.25rem;
    color: $date-picker-glyphicons-color;
  }
}