//
// Override dropdown-toggle
//
// Dropdown menu
.dropdown-menu {
  @extend %box-shadow-light-1;
}

// Dropdown item
.dropdown-item {
  padding: 0.5rem $dropdown-item-padding-x $dropdown-item-padding-y;

  &.hover,
  &:hover {
    background-color: $dropdown-link-hover-bg;
  }
  &.active,
  &:active {
    color: $dropdown-item-active-color;
    background-color: $dropdown-item-active-bg;
  }
  &.selected {
    color: $dropdown-item-selected-color; 
  }
}

// Dropdown section headers
.dropdown-header {
  @include font-size($dropdown-header-font-size);
  color: $dropdown-header-color;
}

// Dropdown toggle
%dropdown-vee-before {
  &::before {
    @extend .icomoon;

    height: 100%;
    margin-right: 0.5rem;
    border: 0;
    font-size: 1.313rem;
    content: "\ea25";
  }
}
%dropdown-vee-after {
  &::after {
    @extend .icomoon;

    height: 100%;
    margin-left: 0.5rem;
    border: 0;
    font-size: 1.313rem;
    content: "\ea25";
  }
}
.dropdown-toggle {
  @extend %dropdown-vee-after;

  display: inline-flex;
  align-items: center;

  &.btn-lg {
    &::after {
      margin-right: -0.25rem;
      margin-left: 0.8125rem;
      font-size: 1.313rem;
    }
    &.dropdown-toggle-split {
      padding-right: $btn-padding-x-lg * 0.5625;
      padding-left: $btn-padding-x-lg * 0.5625;
    }
  }
  &.btn-sm {
    &::after {
      margin-right: -0.1875rem;
      margin-left: 0.25rem;
      font-size: 0.9375rem;
    }
    &.dropdown-toggle-split {
      padding-right: $btn-padding-x-sm * 0.5625;
      padding-left: $btn-padding-x-sm * 0.5625;
    }
  }
  &.dropdown-toggle-split {
    padding-right: $btn-padding-x * 0.5625;
    padding-left: $btn-padding-x * 0.5625;

    &::after {
      width: 100%;
      margin: 0;
    }
  }
}
.dropup {
  .dropdown-toggle {
    @extend %dropdown-vee-after;

    &::after {
      transform: rotate(-180deg); 
    }
  }
}
.dropright {
  .dropdown-toggle {
    @extend %dropdown-vee-after;

    &::after {
      transform: rotate(-90deg); 
    }
  }
}
.dropleft {
  .dropdown-toggle {
    @extend %dropdown-vee-before;

    &::before {
      transform: rotate(90deg); 
    }
    &.btn-lg {
      &::before {
        margin-right: 0.8125rem;
        font-size: 1.25rem;
      }
    }
    &.btn-sm {
      &::before {
        margin-right: 0.25rem;
        font-size: 0.9375rem;
      }
    }
    &.dropdown-toggle-split {
      &::before {
        width: 100%;
        margin: 0;
      }
    }
  }
}