//
// Base styles
//

// Glyphicons
.icon-only {
  // @at-root {
  //   .btn#{&} {}
  // }

  &.btn {
    padding: .625rem;
    line-height: 0;
  }
	&.btn-lg {
		padding: .8125rem;
	}
	&.btn-sm {
		padding: .4375rem .5rem .5rem;
	}
  &::after {
    display: none;
  }
}

// SVG to Data URL
// filled-action
.icon-filled-action-add {
	background-image: $svg-filled-action-add;
}
.icon-filled-action-alarm {
	background-image: $svg-filled-action-alarm;
}
.icon-filled-action-calendar {
	background-image: $svg-filled-action-calendar;
}
.icon-filled-action-cancel {
	background-image: $svg-filled-action-cancel;
}
.icon-filled-action-checkbox_nor {
	background-image: $svg-filled-action-checkbox_nor;
}
.icon-filled-action-checkbox_off {
	background-image: $svg-filled-action-checkbox_off;
}
.icon-filled-action-checkbox_sel {
	background-image: $svg-filled-action-checkbox_sel;
}
.icon-filled-action-delete {
	background-image: $svg-filled-action-delete;
}
.icon-filled-action-done {
	background-image: $svg-filled-action-done;
}
.icon-filled-action-favorite {
	background-image: $svg-filled-action-favorite;
}
.icon-filled-action-home {
	background-image: $svg-filled-action-home;
}
.icon-filled-action-lock_close {
	background-image: $svg-filled-action-lock_close;
}
.icon-filled-action-lock_open {
	background-image: $svg-filled-action-lock_open;
}
.icon-filled-action-login {
	background-image: $svg-filled-action-login;
}
.icon-filled-action-logout {
  background-image: $svg-filled-action-logout;
}
.icon-filled-action-more_horizon {
	background-image: $svg-filled-action-more_horizon;
}
.icon-filled-action-more_vertical {
	background-image: $svg-filled-action-more_vertical;
}
.icon-filled-action-print {
	background-image: $svg-filled-action-print;
}
.icon-filled-action-rate {
	background-image: $svg-filled-action-rate;
}
.icon-filled-action-refresh {
	background-image: $svg-filled-action-refresh;
}
.icon-filled-action-remove {
	background-image: $svg-filled-action-remove;
}
.icon-filled-action-replay {
	background-image: $svg-filled-action-replay;
}
.icon-filled-action-search {
	background-image: $svg-filled-action-search;
}
.icon-filled-action-setting {
	background-image: $svg-filled-action-setting;
}
.icon-filled-action-share {
	background-image: $svg-filled-action-share;
}
.icon-filled-action-time {
	background-image: $svg-filled-action-time;
}
.icon-filled-action-viewall {
	background-image: $svg-filled-action-viewall;
}
.icon-filled-action-zoom_in {
	background-image: $svg-filled-action-zoom_in;
}
.icon-filled-action-zoom_out {
	background-image: $svg-filled-action-zoom_out;
}
.icon-filled-action-top {
  background-image: $svg-filled-action-top;
}
.icon-filled-action-bottom {
  background-image: $svg-filled-action-bottom;
}

.icon-filled-action-uxs_dropup {
  background-image: $svg-filled-action-uxs_dropup;
}
.icon-filled-action-uxs_forward {
  background-image: $svg-filled-action-uxs_forward;
}
.icon-filled-action-uxs_next {
  background-image: $svg-filled-action-uxs_next;
}
.icon-filled-action-uxs_next10 {
  background-image: $svg-filled-action-uxs_next10;
}
.icon-filled-action-uxs_previous {
  background-image: $svg-filled-action-uxs_previous;
}
.icon-filled-action-uxs_previous10 {
  background-image: $svg-filled-action-uxs_previous10;
}
.icon-filled-action-uxs_swap_down {
  background-image: $svg-filled-action-uxs_swap_down;
}
.icon-filled-action-uxs_swap_up {
  background-image: $svg-filled-action-uxs_swap_up;
}
.icon-filled-action-uxs_swap {
  background-image: $svg-filled-action-uxs_swap;
}
.icon-filled-action-uxs_uxs_back {
  background-image: $svg-filled-action-uxs_uxs_back;
}

.icon-filled-action-mkt_next {
  background-image: $svg-filled-action-mkt_next;
}
.icon-filled-action-mkt_last {
  background-image: $svg-filled-action-mkt_last;
}
.icon-filled-action-mkt_previous {
  background-image: $svg-filled-action-mkt_previous;
}
.icon-filled-action-mkt_first {
  background-image: $svg-filled-action-mkt_first;
}

// filled-community
.icon-filled-community-attachment {
  background-image: $svg-filled-community-attachment;
}
.icon-filled-community-edit {
  background-image: $svg-filled-community-edit;
}
.icon-filled-community-headphone {
  background-image: $svg-filled-community-headphone;
}
.icon-filled-community-headset {
  background-image: $svg-filled-community-headset;
}
.icon-filled-community-mail {
  background-image: $svg-filled-community-mail;
}
.icon-filled-community-message_error {
  background-image: $svg-filled-community-message_error;
}
.icon-filled-community-message_sms {
  background-image: $svg-filled-community-message_sms;
}
.icon-filled-community-message {
  background-image: $svg-filled-community-message;
}
.icon-filled-community-mic_off {
  background-image: $svg-filled-community-mic_off;
}
.icon-filled-community-phone {
  background-image: $svg-filled-community-phone;
}
.icon-filled-community-mic {
  background-image: $svg-filled-community-mic;
}
.icon-filled-community-tag {
  background-image: $svg-filled-community-tag;
}
.icon-filled-community-template {
  background-image: $svg-filled-community-template;
}
.icon-filled-community-ticket {
  background-image: $svg-filled-community-ticket;
}
.icon-filled-community-user_add {
  background-image: $svg-filled-community-user_add;
}
.icon-filled-community-user {
  background-image: $svg-filled-community-user;
}

// filled-contents
.icon-filled-contents-bookmark {
  background-image: $svg-filled-contents-bookmark;
}
.icon-filled-contents-circle_account {
  background-image: $svg-filled-contents-circle_account;
}
.icon-filled-contents-circle_add {
  background-image: $svg-filled-contents-circle_add;
}
.icon-filled-contents-circle_block {
  background-image: $svg-filled-contents-circle_block;
}
.icon-filled-contents-circle_cancel {
  background-image: $svg-filled-contents-circle_cancel;
}
.icon-filled-contents-circle_check {
  background-image: $svg-filled-contents-circle_check;
}
.icon-filled-contents-circle_remove {
  background-image: $svg-filled-contents-circle_remove;
}
.icon-filled-contents-download {
  background-image: $svg-filled-contents-download;
}
.icon-filled-contents-email {
  background-image: $svg-filled-contents-email;
}
.icon-filled-contents-export_file {
  background-image: $svg-filled-contents-export_file;
}
.icon-filled-contents-file {
  background-image: $svg-filled-contents-file;
}
.icon-filled-contents-launch {
  background-image: $svg-filled-contents-launch;
}
.icon-filled-contents-link {
  background-image: $svg-filled-contents-link;
}
.icon-filled-contents-list_bulleted {
  background-image: $svg-filled-contents-list_bulleted;
}
.icon-filled-contents-list {
  background-image: $svg-filled-contents-list;
}
.icon-filled-contents-note {
  background-image: $svg-filled-contents-note;
}
.icon-filled-contents-send {
  background-image: $svg-filled-contents-send;
}
.icon-filled-contents-shopping {
  background-image: $svg-filled-contents-shopping;
}
.icon-filled-contents-store {
  background-image: $svg-filled-contents-store;
}
.icon-filled-contents-text_file {
  background-image: $svg-filled-contents-text_file;
}
.icon-filled-contents-text {
  background-image: $svg-filled-contents-text;
}
.icon-filled-contents-upload {
  background-image: $svg-filled-contents-upload;
}
.icon-filled-contents-vee {
  background-image: $svg-filled-contents-vee;
}
.icon-filled-contents-facebook {
  background-image: $svg-filled-contents-facebook;
}
.icon-filled-contents-instagram {
  background-image: $svg-filled-contents-instagram;
}
.icon-filled-contents-linkedin {
  background-image: $svg-filled-contents-linkedin;
}
.icon-filled-contents-twitter {
  background-image: $svg-filled-contents-twitter;
}

// filled-data
.icon-filled-data-chart_bar {
  background-image: $svg-filled-data-chart_bar;
}
.icon-filled-data-chart_insert {
  background-image: $svg-filled-data-chart_insert;
}
.icon-filled-data-chart_line {
  background-image: $svg-filled-data-chart_line;
}
.icon-filled-data-chart_pie {
  background-image: $svg-filled-data-chart_pie;
}
.icon-filled-data-cloud_done {
  background-image: $svg-filled-data-cloud_done;
}
.icon-filled-data-cloud_download {
  background-image: $svg-filled-data-cloud_download;
}
.icon-filled-data-code {
  background-image: $svg-filled-data-code;
}
.icon-filled-data-data {
  background-image: $svg-filled-data-data;
}
.icon-filled-data-date_base {
  background-image: $svg-filled-data-date_base;
}
.icon-filled-data-date_structured {
  background-image: $svg-filled-data-date_structured;
}
.icon-filled-data-folder_add {
  background-image: $svg-filled-data-folder_add;
}
.icon-filled-data-folder {
  background-image: $svg-filled-data-folder;
}
.icon-filled-data-inbox {
  background-image: $svg-filled-data-inbox;
}
.icon-filled-data-key {
  background-image: $svg-filled-data-key;
}
.icon-filled-data-layer {
  background-image: $svg-filled-data-layer;
}
.icon-filled-data-library_add {
  background-image: $svg-filled-data-library_add;
}
.icon-filled-data-library_list {
  background-image: $svg-filled-data-library_list;
}
.icon-filled-data-library {
  background-image: $svg-filled-data-library;
}
.icon-filled-data-memory {
  background-image: $svg-filled-data-memory;
}
.icon-filled-data-security {
  background-image: $svg-filled-data-security;
}
.icon-filled-data-tool {
  background-image: $svg-filled-data-tool;
}
.icon-filled-data-work {
  background-image: $svg-filled-data-work;
}

// filled-map
.icon-filled-map-bus {
  background-image: $svg-filled-map-bus;
}
.icon-filled-map-car {
  background-image: $svg-filled-map-car;
}
.icon-filled-map-gas_station {
  background-image: $svg-filled-map-gas_station;
}
.icon-filled-map-gps {
  background-image: $svg-filled-map-gps;
}
.icon-filled-map-location {
  background-image: $svg-filled-map-location;
}
.icon-filled-map-map {
  background-image: $svg-filled-map-map;
}
.icon-filled-map-navigation {
  background-image: $svg-filled-map-navigation;
}
.icon-filled-map-near_me {
  background-image: $svg-filled-map-near_me;
}
.icon-filled-map-taxi {
  background-image: $svg-filled-map-taxi;
}
.icon-filled-map-train {
  background-image: $svg-filled-map-train;
}

// filled-media
.icon-filled-media-10forward {
  background-image: $svg-filled-media-10forward;
}
.icon-filled-media-10replay {
  background-image: $svg-filled-media-10replay;
}
.icon-filled-media-camera {
  background-image: $svg-filled-media-camera;
}
.icon-filled-media-forward {
  background-image: $svg-filled-media-forward;
}
.icon-filled-media-gallery {
  background-image: $svg-filled-media-gallery;
}
.icon-filled-media-history {
  background-image: $svg-filled-media-history;
}
.icon-filled-media-list_add {
  background-image: $svg-filled-media-list_add;
}
.icon-filled-media-list_check {
  background-image: $svg-filled-media-list_check;
}
.icon-filled-media-movie {
  background-image: $svg-filled-media-movie;
}
.icon-filled-media-music {
  background-image: $svg-filled-media-music;
}
.icon-filled-media-pause {
  background-image: $svg-filled-media-pause;
}
.icon-filled-media-play {
  background-image: $svg-filled-media-play;
}
.icon-filled-media-repeat_one {
  background-image: $svg-filled-media-repeat_one;
}
.icon-filled-media-repeat {
  background-image: $svg-filled-media-repeat;
}
.icon-filled-media-rewind {
  background-image: $svg-filled-media-rewind;
}
.icon-filled-media-shuffle {
  background-image: $svg-filled-media-shuffle;
}
.icon-filled-media-speaker {
  background-image: $svg-filled-media-speaker;
}
.icon-filled-media-tv {
  background-image: $svg-filled-media-tv;
}
.icon-filled-media-video {
  background-image: $svg-filled-media-video;
}
.icon-filled-media-uxs_play {
  background-image: $svg-filled-media-uxs_play;
}

// filled-notification
.icon-filled-notification-circle_error {
  background-image: $svg-filled-notification-circle_error;
}
.icon-filled-notification-circle_help {
  background-image: $svg-filled-notification-circle_help;
}
.icon-filled-notification-circle_info {
  background-image: $svg-filled-notification-circle_info;
}
.icon-filled-notification-notification_off {
  background-image: $svg-filled-notification-notification_off;
}
.icon-filled-notification-notification {
  background-image: $svg-filled-notification-notification;
}
.icon-filled-notification-warning {
  background-image: $svg-filled-notification-warning;
}
.icon-filled-notification-qna {
  background-image: $svg-filled-notification-qna;
}

// filled-telecom
.icon-filled-telecom-airport {
  background-image: $svg-filled-telecom-airport;
}
.icon-filled-telecom-internet {
  background-image: $svg-filled-telecom-internet;
}
.icon-filled-telecom-language {
  background-image: $svg-filled-telecom-language;
}
.icon-filled-telecom-membership {
  background-image: $svg-filled-telecom-membership;
}
.icon-filled-telecom-mobile_add_service {
  background-image: $svg-filled-telecom-mobile_add_service;
}
.icon-filled-telecom-mobile_charge {
  background-image: $svg-filled-telecom-mobile_charge;
}
.icon-filled-telecom-mobile_data {
  background-image: $svg-filled-telecom-mobile_data;
}
.icon-filled-telecom-mobile_done {
  background-image: $svg-filled-telecom-mobile_done;
}
.icon-filled-telecom-mobile {
  background-image: $svg-filled-telecom-mobile;
}
.icon-filled-telecom-receipt {
  background-image: $svg-filled-telecom-receipt;
}

// filled-weather
.icon-filled-weather-cloud {
  background-image: $svg-filled-weather-cloud;
}
.icon-filled-weather-flog {
  background-image: $svg-filled-weather-flog;
}
.icon-filled-weather-moon {
  background-image: $svg-filled-weather-moon;
}
.icon-filled-weather-rain {
  background-image: $svg-filled-weather-rain;
}
.icon-filled-weather-smog {
  background-image: $svg-filled-weather-smog;
}
.icon-filled-weather-snow {
  background-image: $svg-filled-weather-snow;
}
.icon-filled-weather-sun_cloud {
  background-image: $svg-filled-weather-sun_cloud;
}
.icon-filled-weather-sun {
  background-image: $svg-filled-weather-sun;
}
.icon-filled-weather-thunder {
  background-image: $svg-filled-weather-thunder;
}
.icon-filled-weather-wind {
  background-image: $svg-filled-weather-wind;
}

// outlined-action
.icon-outlined-action-add {
  background-image: $svg-outlined-action-add;
}
.icon-outlined-action-alarm {
  background-image: $svg-outlined-action-alarm;
}
.icon-outlined-action-calendar {
  background-image: $svg-outlined-action-calendar;
}
.icon-outlined-action-cancel {
  background-image: $svg-outlined-action-cancel;
}
.icon-outlined-action-checkbox_nor {
  background-image: $svg-outlined-action-checkbox_nor;
}
.icon-outlined-action-checkbox_off {
  background-image: $svg-outlined-action-checkbox_off;
}
.icon-outlined-action-checkbox_sel {
  background-image: $svg-outlined-action-checkbox_sel;
}
.icon-outlined-action-delete {
  background-image: $svg-outlined-action-delete;
}
.icon-outlined-action-done {
  background-image: $svg-outlined-action-done;
}
.icon-outlined-action-favorite {
  background-image: $svg-outlined-action-favorite;
}
.icon-outlined-action-home {
  background-image: $svg-outlined-action-home;
}
.icon-outlined-action-lock_close {
  background-image: $svg-outlined-action-lock_close;
}
.icon-outlined-action-lock_open {
  background-image: $svg-outlined-action-lock_open;
}
.icon-outlined-action-login {
  background-image: $svg-outlined-action-login;
}
.icon-outlined-action-more_horizon {
  background-image: $svg-outlined-action-more_horizon;
}
.icon-outlined-action-more_vertical {
  background-image: $svg-outlined-action-more_vertical;
}
.icon-outlined-action-print {
  background-image: $svg-outlined-action-print;
}
.icon-outlined-action-rate {
  background-image: $svg-outlined-action-rate;
}
.icon-outlined-action-refresh {
  background-image: $svg-outlined-action-refresh;
}
.icon-outlined-action-remove {
  background-image: $svg-outlined-action-remove;
}
.icon-outlined-action-replay {
  background-image: $svg-outlined-action-replay;
}
.icon-outlined-action-search {
  background-image: $svg-outlined-action-search;
}
.icon-outlined-action-setting {
  background-image: $svg-outlined-action-setting;
}
.icon-outlined-action-share {
  background-image: $svg-outlined-action-share;
}
.icon-outlined-action-time {
  background-image: $svg-outlined-action-time;
}
.icon-outlined-action-viewall {
  background-image: $svg-outlined-action-viewall;
}
.icon-outlined-action-zoom_in {
  background-image: $svg-outlined-action-zoom_in;
}
.icon-outlined-action-zoom_out {
  background-image: $svg-outlined-action-zoom_out;
}

// outlined-community
.icon-outlined-community-attachment {
  background-image: $svg-outlined-community-attachment;
}
.icon-outlined-community-edit {
  background-image: $svg-outlined-community-edit;
}
.icon-outlined-community-headphone {
  background-image: $svg-outlined-community-headphone;
}
.icon-outlined-community-headset {
  background-image: $svg-outlined-community-headset;
}
.icon-outlined-community-mail {
  background-image: $svg-outlined-community-mail;
}
.icon-outlined-community-message_error {
  background-image: $svg-outlined-community-message_error;
}
.icon-outlined-community-message_sms {
  background-image: $svg-outlined-community-message_sms;
}
.icon-outlined-community-message {
  background-image: $svg-outlined-community-message;
}
.icon-outlined-community-mic_off {
  background-image: $svg-outlined-community-mic_off;
}
.icon-outlined-community-phone {
  background-image: $svg-outlined-community-phone;
}
.icon-outlined-community-mic {
  background-image: $svg-outlined-community-mic;
}
.icon-outlined-community-tag {
  background-image: $svg-outlined-community-tag;
}
.icon-outlined-community-template {
  background-image: $svg-outlined-community-template;
}
.icon-outlined-community-ticket {
  background-image: $svg-outlined-community-ticket;
}
.icon-outlined-community-user_add {
  background-image: $svg-outlined-community-user_add;
}
.icon-outlined-community-user {
  background-image: $svg-outlined-community-user;
}

// outlined-contents
.icon-outlined-contents-bookmark {
  background-image: $svg-outlined-contents-bookmark;
}
.icon-outlined-contents-circle_account {
  background-image: $svg-outlined-contents-circle_account;
}
.icon-outlined-contents-circle_add {
  background-image: $svg-outlined-contents-circle_add;
}
.icon-outlined-contents-circle_block {
  background-image: $svg-outlined-contents-circle_block;
}
.icon-outlined-contents-circle_cancel {
  background-image: $svg-outlined-contents-circle_cancel;
}
.icon-outlined-contents-circle_check {
  background-image: $svg-outlined-contents-circle_check;
}
.icon-outlined-contents-circle_remove {
  background-image: $svg-outlined-contents-circle_remove;
}
.icon-outlined-contents-download {
  background-image: $svg-outlined-contents-download;
}
.icon-outlined-contents-email {
  background-image: $svg-outlined-contents-email;
}
.icon-outlined-contents-export_file {
  background-image: $svg-outlined-contents-export_file;
}
.icon-outlined-contents-file {
  background-image: $svg-outlined-contents-file;
}
.icon-outlined-contents-launch {
  background-image: $svg-outlined-contents-launch;
}
.icon-outlined-contents-link {
  background-image: $svg-outlined-contents-link;
}
.icon-outlined-contents-list_bulleted {
  background-image: $svg-outlined-contents-list_bulleted;
}
.icon-outlined-contents-list {
  background-image: $svg-outlined-contents-list;
}
.icon-outlined-contents-note {
  background-image: $svg-outlined-contents-note;
}
.icon-outlined-contents-send {
  background-image: $svg-outlined-contents-send;
}
.icon-outlined-contents-shopping {
  background-image: $svg-outlined-contents-shopping;
}
.icon-outlined-contents-store {
  background-image: $svg-outlined-contents-store;
}
.icon-outlined-contents-text_file {
  background-image: $svg-outlined-contents-text_file;
}
.icon-outlined-contents-text {
  background-image: $svg-outlined-contents-text;
}
.icon-outlined-contents-upload {
  background-image: $svg-outlined-contents-upload;
}

// outlined-data
.icon-outlined-data-chart_bar {
  background-image: $svg-outlined-data-chart_bar;
}
.icon-outlined-data-chart_insert {
  background-image: $svg-outlined-data-chart_insert;
}
.icon-outlined-data-chart_line {
  background-image: $svg-outlined-data-chart_line;
}
.icon-outlined-data-chart_pie {
  background-image: $svg-outlined-data-chart_pie;
}
.icon-outlined-data-cloud_done {
  background-image: $svg-outlined-data-cloud_done;
}
.icon-outlined-data-cloud_download {
  background-image: $svg-outlined-data-cloud_download;
}
.icon-outlined-data-code {
  background-image: $svg-outlined-data-code;
}
.icon-outlined-data-data {
  background-image: $svg-outlined-data-data;
}
.icon-outlined-data-date_base {
  background-image: $svg-outlined-data-date_base;
}
.icon-outlined-data-date_structured {
  background-image: $svg-outlined-data-date_structured;
}
.icon-outlined-data-folder_add {
  background-image: $svg-outlined-data-folder_add;
}
.icon-outlined-data-folder {
  background-image: $svg-outlined-data-folder;
}
.icon-outlined-data-inbox {
  background-image: $svg-outlined-data-inbox;
}
.icon-outlined-data-key {
  background-image: $svg-outlined-data-key;
}
.icon-outlined-data-layer {
  background-image: $svg-outlined-data-layer;
}
.icon-outlined-data-library_add {
  background-image: $svg-outlined-data-library_add;
}
.icon-outlined-data-library_list {
  background-image: $svg-outlined-data-library_list;
}
.icon-outlined-data-library {
  background-image: $svg-outlined-data-library;
}
.icon-outlined-data-memory {
  background-image: $svg-outlined-data-memory;
}
.icon-outlined-data-security {
  background-image: $svg-outlined-data-security;
}
.icon-outlined-data-tool {
  background-image: $svg-outlined-data-tool;
}
.icon-outlined-data-work {
  background-image: $svg-outlined-data-work;
}

// outlined-map
.icon-outlined-map-bus {
  background-image: $svg-outlined-map-bus;
}
.icon-outlined-map-car {
  background-image: $svg-outlined-map-car;
}
.icon-outlined-map-gas_station {
  background-image: $svg-outlined-map-gas_station;
}
.icon-outlined-map-gps {
  background-image: $svg-outlined-map-gps;
}
.icon-outlined-map-location {
  background-image: $svg-outlined-map-location;
}
.icon-outlined-map-map {
  background-image: $svg-outlined-map-map;
}
.icon-outlined-map-navigation {
  background-image: $svg-outlined-map-navigation;
}
.icon-outlined-map-near_me {
  background-image: $svg-outlined-map-near_me;
}
.icon-outlined-map-taxi {
  background-image: $svg-outlined-map-taxi;
}
.icon-outlined-map-train {
  background-image: $svg-outlined-map-train;
}

// outlined-media
.icon-outlined-media-10forward {
  background-image: $svg-outlined-media-10forward;
}
.icon-outlined-media-10replay {
  background-image: $svg-outlined-media-10replay;
}
.icon-outlined-media-camera {
  background-image: $svg-outlined-media-camera;
}
.icon-outlined-media-forward {
  background-image: $svg-outlined-media-forward;
}
.icon-outlined-media-gallery {
  background-image: $svg-outlined-media-gallery;
}
.icon-outlined-media-history {
  background-image: $svg-outlined-media-history;
}
.icon-outlined-media-list_add {
  background-image: $svg-outlined-media-list_add;
}
.icon-outlined-media-list_check {
  background-image: $svg-outlined-media-list_check;
}
.icon-outlined-media-movie {
  background-image: $svg-outlined-media-movie;
}
.icon-outlined-media-music {
  background-image: $svg-outlined-media-music;
}
.icon-outlined-media-pause {
  background-image: $svg-outlined-media-pause;
}
.icon-outlined-media-play {
  background-image: $svg-outlined-media-play;
}
.icon-outlined-media-repeat_one {
  background-image: $svg-outlined-media-repeat_one;
}
.icon-outlined-media-repeat {
  background-image: $svg-outlined-media-repeat;
}
.icon-outlined-media-rewind {
  background-image: $svg-outlined-media-rewind;
}
.icon-outlined-media-shuffle {
  background-image: $svg-outlined-media-shuffle;
}
.icon-outlined-media-speaker {
  background-image: $svg-outlined-media-speaker;
}
.icon-outlined-media-tv {
  background-image: $svg-outlined-media-tv;
}
.icon-outlined-media-video {
  background-image: $svg-outlined-media-video;
}

// outlined-notification
.icon-outlined-notification-circle_error {
  background-image: $svg-outlined-notification-circle_error;
}
.icon-outlined-notification-circle_help {
  background-image: $svg-outlined-notification-circle_help;
}
.icon-outlined-notification-circle_info {
  background-image: $svg-outlined-notification-circle_info;
}
.icon-outlined-notification-notification_off {
  background-image: $svg-outlined-notification-notification_off;
}
.icon-outlined-notification-notification {
  background-image: $svg-outlined-notification-notification;
}
.icon-outlined-notification-warning {
  background-image: $svg-outlined-notification-warning;
}

// outlined-telecom
.icon-outlined-telecom-airport {
  background-image: $svg-outlined-telecom-airport;
}
.icon-outlined-telecom-internet {
  background-image: $svg-outlined-telecom-internet;
}
.icon-outlined-telecom-language {
  background-image: $svg-outlined-telecom-language;
}
.icon-outlined-telecom-membership {
  background-image: $svg-outlined-telecom-membership;
}
.icon-outlined-telecom-mobile_add_service {
  background-image: $svg-outlined-telecom-mobile_add_service;
}
.icon-outlined-telecom-mobile_charge {
  background-image: $svg-outlined-telecom-mobile_charge;
}
.icon-outlined-telecom-mobile_data {
  background-image: $svg-outlined-telecom-mobile_data;
}
.icon-outlined-telecom-mobile_done {
  background-image: $svg-outlined-telecom-mobile_done;
}
.icon-outlined-telecom-mobile {
  background-image: $svg-outlined-telecom-mobile;
}
.icon-outlined-telecom-receipt {
  background-image: $svg-outlined-telecom-receipt;
}

// outlined-weather
.icon-outlined-weather-cloud {
  background-image: $svg-outlined-weather-cloud;
}
.icon-outlined-weather-flog {
  background-image: $svg-outlined-weather-flog;
}
.icon-outlined-weather-moon {
  background-image: $svg-outlined-weather-moon;
}
.icon-outlined-weather-rain {
  background-image: $svg-outlined-weather-rain;
}
.icon-outlined-weather-smog {
  background-image: $svg-outlined-weather-smog;
}
.icon-outlined-weather-snow {
  background-image: $svg-outlined-weather-snow;
}
.icon-outlined-weather-sun_cloud {
  background-image: $svg-outlined-weather-sun_cloud;
}
.icon-outlined-weather-sun {
  background-image: $svg-outlined-weather-sun;
}
.icon-outlined-weather-thunder {
  background-image: $svg-outlined-weather-thunder;
}
.icon-outlined-weather-wind {
  background-image: $svg-outlined-weather-wind;
}