//
// Override list group(items)
//
// list-group
.list-group {
  @extend %box-shadow-light-2;

  &[class*="list-group-horizontal"] {
    display: inline-flex;
  }
}

// list-group-flush
.list-group-flush {
  box-shadow: none;
  
  .list-group-item {
    margin: 0;
    border: 0;
  }
}

// list-group-item
.list-group-item {
  padding: $list-group-item-padding-y $list-group-item-padding-x 0.75rem;
  color: $list-group-item-color;

  .list-group-item-title {
    font-size: 1.125rem;
    color: $list-group-item-title-color;  
  }
  .text-muted {
    color: $card-muted-color !important;
  }
  small {
    font-size: 0.875rem;
  }
  &.list-group-item-action {
    &.active {
      color: $list-group-item-action-active-color;

      .list-group-item-title {
        color: $list-group-item-title-active-color;
      }
      small,
      .text-muted {
        color: $list-group-muted-active-color !important;
      }
    }
  }
}

@each $color, $value in $theme-colors {
  .list-group-item-#{$color} {
    border-color: $value;
    background-color: $value;
    @if $color == light {
      color: $list-group-item-light-color;
    } @else {
      color: $list-group-item-white-color;
    }
    
    &.list-group-item-action {
      @include hover-focus {
        @if $color == dark {
          border-color: lighten($value, 15%);
          background-color: lighten($value, 15%);
        } @else {
          border-color: darken($value, 10%);
          background-color: darken($value, 10%);
        }

        @if $color == light {
          color: $list-group-item-light-color;
        } @else {
          color: $list-group-item-white-color;
        }
      }
    }
  }
}