//
// Override media
//
.media {
  display: flex;
  align-items: flex-start;
  padding-top: 1.5rem;
  border-top: 1px solid $media-border-color;

  .media {
    margin-top: 1.625rem;
  }
}
.media-body {
  flex: 1;
  color: $media-body-color;
}
.media-title {
  font-size: 0.875rem;
  color: $media-title-color;
}
