//
// Override pagination
//
.pagination {
  border-radius: 0;

  .page-item {
    margin: 0;
    padding: 0.4375rem;
  
    .page-link {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 1.5rem;
      height: 1.5rem;
      padding: 0;
      font-size: 0.875rem;
      text-align: center;
      // line-height: 1.5rem;
      border-radius: 50% !important;
      border: 0;
    }
    &.prev,
    &.prev-10,
    &.next,
    &.next-10,
    &.previous {
      padding: 0.4375rem 0;

      .page-link {
        width: auto !important;
        padding: 0 0.875rem;
        border-radius: 0 !important;

        &:hover {
          background-color: $pagination-hover-bg;
        }
        [class^="glyphicons"] {
          position: relative;
          top: 1px;
        }
      }
    }
    &.page-icon {
      .page-link {
        padding: 0 0.4375rem;
        font-size: 1.313rem;
      }
    }
  }
  &.pagination-lg {
    .page-item {
      padding: 0.6875rem 0.5rem;

      .page-link {
        width: 1.625rem;
        height: 1.625rem;
        font-size: 1rem;
        // line-height: 1.625rem;
      }
      &.prev,
      &.prev-10,
      &.next,
      &.next-10,
      &.previous {
        padding: 0.6875rem 0;
      }
      &.page-icon {
        .page-link {
          padding: 0 0.6875rem;
          font-size: 1.563rem;
        }
      }
    }
  }
  &.pagination-sm {
    .page-item {
      padding: 0.1875rem;

      .page-link {
        width: 1.125rem;
        height: 1.125rem;
        font-size: 0.75rem;
        // line-height: 1.125rem;
      }
      &.prev,
      &.prev-10,
      &.next,
      &.next-10,
      &.previous {
        padding: 0.1875rem 0;

        .page-link {
          padding: 0 0.3125rem;
        }
      }
      &.page-icon {
        .page-link {
          font-size: 1rem;
        }
      }
    }
  }
}
