//
// Override popover
//
.popover {
  z-index: 1000;
}

.popover-header {
  padding: 0.4375rem $popover-header-padding-x 0.3125rem;
  font-size: 0.875rem;
  border-bottom: $popover-border-width solid $popover-header-border-color;
}

.popover-body {
  padding: 0.75rem $popover-body-padding-x $popover-body-padding-y;
}

