//
// Override toast
//
.toast {
  @extend %box-shadow-light-3;

  padding-bottom: 0.9375rem;
  background-color: $toast-bg-color;
	border: 1px solid $toast-border-color;

	.toast-header {
		padding: $toast-padding-y $toast-padding-x 0;
		border-bottom: none;

		[class^="glyphicons-"] {
			margin-right: 0.6875rem;
			font-size: 1.125rem;
		}
	}
	.toast-body {
		color: $toast-body-color;
    padding: 0.4375rem $toast-body-padding-x 0;
    background-color: $toast-body-bg-color;
	}
	&.toast-icon {
		.toast-body {
			padding: 0.4375rem $toast-icon-body-padding-x 0;
		}
  }

	.close {
		color: $toast-close-color;
		height: 1.25rem;
	}
}
