//
// Base styles
//
%wizard-lines {
	position: absolute;
	top: $wizard-bg-position-top;
	height: $wizard-stage-bg-height;
	content: "";
	z-index: 1;
}
.wizard {
	position: relative;

	&:before {
		@extend %wizard-lines;

		left: 50%;
		width: 96%;
		transform: translateX(-50%);
		background-color: $wizard-line-bg-color;
	}
	ul, ol {
		display: flex;
		justify-content: space-between;
		// margin: 0;
		padding: 0;

		.items {
			position: relative;
			list-style: none;
			z-index: 1;
			color: $wizard-items-color;
			font-size: $wizard-items-font-size;

			&.current {
				color: $wizard-items-current-color;

				.stage {
					color: $wizard-stage-current-color;
					border-color: $wizard-stage-border-current-color;
					background-color: $wizard-stage-bg-current-color;
				}
			}
			&.disabled {
				.stage {
					color: $wizard-stage-disabled-color;
					border-color: $wizard-stage-border-disabled-color;
					background-color: $wizard-stage-bg-disabled-color;

					&:before {
						@extend .icomoon;

						display: inline-block;
						position: relative;
						top: 1px;
						width: 100%;
						font-size: $wizard-stage-icon-size;
						color: $wizard-stage-disabled-icon-color;
						content: "\e924";
					}
				}
			}
			&:first-child {
				&:before {
					@extend %wizard-lines;

					left: 0;
					width: calc(100% / 2);
				}
			}
			&:last-child {
				&:after {
					@extend %wizard-lines;

					right: 0;
					width: calc(100% / 2);
				}
			}
			.stage {
        overflow: hidden;
				position: relative;
				display: block;
				width: $wizard-stage-width;
				height: $wizard-stage-height;
				margin: 0 auto $wizard-stage-mb;
				color: $wizard-stage-color;
				font-size: $wizard-stage-font-size;
				text-align: center;
				line-height: $wizard-stage-line-height;
				border: 1px solid $wizard-stage-border-color;
				border-radius: $wizard-stage-radius;
				background-color: $wizard-stage-bg-color;
				z-index: 2;
			}
		}
	}
}