//
// 1. Boostrap functions
// 2. Override Boostrap variables
// 3. Customized Bootstrap variables
//
@import "functions";
@import "variables";

//
// Import Bootstrap source files
//
@import "bootstrap/bootstrap";

//
// SKT UX Studio source files
//
// Mixins
@import "mixins";

// Reboot
@import "reboot";

// Type
@import "type";

// Global
@import "global";

// Utilities
@import "utilities";

// Components
@import "alert";
@import "badge";
@import "buttons";
@import "buttons";
@import "button-group";
@import "breadcrumb";
@import "close";
@import "carousel";
@import "custom-forms";
@import "card";
@import "dropdown";
@import "datepicker";
@import "forms";
@import "icons";
@import "input-group";
@import "jumbotron";
@import "list-group";
@import "modal";
@import "media";
@import "nav";
@import "navbar";
@import "pagination";
@import "popover";
@import "tables";
@import "toasts";
@import "tooltip";
@import "wizard";

// Patterns
@import "patterns";

// Vendor
@import "vendor/icomoon/glyphicons";
@import "vendor/flatpicker/flatpicker";
// @import "vendor/ckeditor/ckeditor";
@import "vendor/monokai/monkai-sublime";
@import "vendor/perfect_scrollbar/perfect_scrollbar";
@import "vendor/swiper/swiper";