<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1.0, user-scalable=0">
    <meta name="keyword" content="">
    <meta name="description" content="">
    <title>Bootstrap Marketing &amp; Promotion</title>
    <link rel="shortcut icon" href="../../../assets/common/img/favicon/ux.ico">
    <link rel="apple-touch-icon" href="../../../assets/common/img/favicon/ux.png">
    <link rel="stylesheet" type="text/css" href="../../../assets/mkt/css/uxs.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/mkt/css/demo.css">
  </head>
  <body>
    <!-- wrapper -->
    <div class="wrapper wrapper-fixed" id="go-to-top">
      <!-- docs-header -->
      <div class="docs-header">
        <!-- lnb-toggler -->
        <button class="navbar-toggler docs-sidebar-toggler" type="button" aria-controls="theme-lnb" aria-expanded="false" aria-label="Toggle LNB">
          <span class="navbar-toggler-icon" aria-hidden="true"></span>
          <span class="sr-only">주 메뉴 바로가기</span>
        </button>
        <!-- /lnb-toggler -->
        <!--
          navbar-brand
          React - text-react,
          Vue   - text-vue
        -->
        <span class="navbar-brand text-bootstrap">Bootstrap</span>
        <span class="navbar-brand">Marketing &amp; Promotion</span>
      </div>
      <!-- /docs-header -->
      <div class="docs-body">
        <div class="docs-sidebar" data-include="../_includes/ct-sidebar.html" data-name="alerts"></div>
        <!-- docs-contents -->
        <main class="docs-contents contents-mt">
          <div class="d-flex flex-row align-items-start mb-7 mb-md-10">
            <!-- toc -->
            <div class="toc">
              <nav class="nav flex-column js-toc-triggers">
                <a class="nav-link" href="#alerts-examples">Examples</a>
                <a class="nav-link" href="#alerts-link">Link color</a>
                <a class="nav-link" href="#alerts-dismissing">Dismissing</a>
                <a class="nav-link" href="#alerts-icon">With icon</a>
                <a class="nav-link" href="#alerts-additional">Additional content</a>
              </nav>
            </div>
            <!-- /toc -->

            <!-- toc-content -->
            <div class="toc-content">
              <div>Components</div>
              <div class="component-title font-weight-bold mb-7">Alerts</div>

              <div class="card mb-5" id="alerts-examples">
                <div class="card-header">
                  Examples
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <div class="alert alert-primary" role="alert">
                    UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.
                  </div>
                  <div class="alert alert-secondary" role="alert">
                    UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.
                  </div>
                  <div class="alert alert-success" role="alert">
                    UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.
                  </div>
                  <div class="alert alert-danger" role="alert">
                    UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.
                  </div>
                  <div class="alert alert-warning" role="alert">
                    UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.
                  </div>
                  <div class="alert alert-info" role="alert">
                    UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.
                  </div>
                  <div class="alert alert-light" role="alert">
                    UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.
                  </div>
                  <div class="alert alert-dark" role="alert">
                    UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.
                  </div>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="alerts-link">
                <div class="card-header">
                  Link color
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <div class="alert alert-primary" role="alert">
                    UX Studio는 <a href="#" class="alert-link">빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스</a>입니다.
                  </div>
                  <div class="alert alert-secondary" role="alert">
                    UX Studio는 <a href="#" class="alert-link">빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스</a>입니다.
                  </div>
                  <div class="alert alert-success" role="alert">
                    UX Studio는 <a href="#" class="alert-link">빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스</a>입니다.
                  </div>
                  <div class="alert alert-danger" role="alert">
                    UX Studio는 <a href="#" class="alert-link">빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스</a>입니다.
                  </div>
                  <div class="alert alert-warning" role="alert">
                    UX Studio는 <a href="#" class="alert-link">빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스</a>입니다.
                  </div>
                  <div class="alert alert-info" role="alert">
                    UX Studio는 <a href="#" class="alert-link">빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스</a>입니다.
                  </div>
                  <div class="alert alert-light" role="alert">
                    UX Studio는 <a href="#" class="alert-link">빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스</a>입니다.
                  </div>
                  <div class="alert alert-dark" role="alert">
                    UX Studio는 <a href="#" class="alert-link">빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스</a>입니다.
                  </div>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="alerts-dismissing">
                <div class="card-header">
                  Dismissing
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    UX Studio는 <strong>빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스</strong>입니다.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span class="glyphicons-cancel" aria-hidden="true"></span>
                    </button>
                  </div>
                  <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                    UX Studio는 <strong>빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스</strong>입니다.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span class="glyphicons-cancel" aria-hidden="true"></span>
                    </button>
                  </div>
                  <div class="alert alert-success alert-dismissible fade show" role="alert">
                    UX Studio는 <strong>빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스</strong>입니다.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span class="glyphicons-cancel" aria-hidden="true"></span>
                    </button>
                  </div>
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    UX Studio는 <strong>빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스</strong>입니다.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span class="glyphicons-cancel" aria-hidden="true"></span>
                    </button>
                  </div>
                  <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    UX Studio는 <strong>빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스</strong>입니다.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span class="glyphicons-cancel" aria-hidden="true"></span>
                    </button>
                  </div>
                  <div class="alert alert-info alert-dismissible fade show" role="alert">
                    UX Studio는 <strong>빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스</strong>입니다.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span class="glyphicons-cancel" aria-hidden="true"></span>
                    </button>
                  </div>
                  <div class="alert alert-light alert-dismissible fade show" role="alert">
                    UX Studio는 <strong>빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스</strong>입니다.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span class="glyphicons-cancel" aria-hidden="true"></span>
                    </button>
                  </div>
                  <div class="alert alert-dark alert-dismissible fade show" role="alert">
                    UX Studio는 <strong>빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스</strong>입니다.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span class="glyphicons-cancel" aria-hidden="true"></span>
                    </button>
                  </div>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="alerts-icon">
                <div class="card-header">
                  With icon
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <div class="alert alert-success alert-dismissible alert-icon fade show" role="alert">
                    UX Studio는 <strong>빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스</strong>입니다.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span class="glyphicons-cancel" aria-hidden="true"></span>
                    </button>
                  </div>
                  <div class="alert alert-danger alert-dismissible alert-icon fade show" role="alert">
                    UX Studio는 <strong>빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스</strong>입니다.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span class="glyphicons-cancel" aria-hidden="true"></span>
                    </button>
                  </div>
                  <div class="alert alert-warning alert-dismissible alert-icon fade show" role="alert">
                    UX Studio는 <strong>빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스</strong>입니다.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span class="glyphicons-cancel" aria-hidden="true"></span>
                    </button>
                  </div>
                  <div class="alert alert-info alert-dismissible alert-icon fade show" role="alert">
                    UX Studio는 <strong>빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스</strong>입니다.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span class="glyphicons-cancel" aria-hidden="true"></span>
                    </button>
                  </div>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="alerts-additional">
                <div class="card-header">
                  Additional content
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">제목 요소</h4>
                    <p>UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                    <hr>
                    <p class="mb-0 text-white-87">이를 위해, 가이드, 문서, 테마&패키지, UX 점검 및 커뮤니티 기능을 제공합니다.</p>
                  </div>
                  <!--/Component-->
                </div>
              </div>
            </div>
            <!-- /toc-content -->
          </div>
        </main>
        <!-- /docs-contents -->
      </div>

      <!-- theme-go-to-top -->
      <div class="theme-go-to-top">
        <a class="ux-top-link" href="#go-to-top">
          <span class="glyphicons-top" aria-hidden="true"></span>
          <span class="sr-only">Go to Top</span>
        </a>
      </div>
      <!-- /theme-go-to-top -->
    </div>
    <!-- /wrapper -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>

    <!-- UI Script -->
    <script src="../../../assets/common/js/vendor/perfect_scrollbar_1.4.0/perfect_scrollbar.min.js"></script>
    <script src="../../../assets/common/js/ui.js"></script>
    <script src="../../../assets/common/js/demo.js"></script>
  </body>
</html>