<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1.0, user-scalable=0">
    <meta name="keyword" content="">
    <meta name="description" content="">
    <title>Bootstrap Marketing &amp; Promotion</title>
    <link rel="shortcut icon" href="../../../assets/common/img/favicon/ux.ico">
    <link rel="apple-touch-icon" href="../../../assets/common/img/favicon/ux.png">
    <link rel="stylesheet" type="text/css" href="../../../assets/mkt/css/uxs.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/mkt/css/demo.css">
  </head>
  <body>
    <!-- wrapper -->
    <div class="wrapper wrapper-fixed" id="go-to-top">
      <!-- docs-header -->
      <div class="docs-header">
        <!-- lnb-toggler -->
        <button class="navbar-toggler docs-sidebar-toggler" type="button" aria-controls="theme-lnb" aria-expanded="false" aria-label="Toggle LNB">
          <span class="navbar-toggler-icon" aria-hidden="true"></span>
          <span class="sr-only">주 메뉴 바로가기</span>
        </button>
        <!-- /lnb-toggler -->
        <!--
          navbar-brand
          React - text-react,
          Vue   - text-vue
        -->
        <span class="navbar-brand text-bootstrap">Bootstrap</span>
        <span class="navbar-brand">Marketing &amp; Promotion</span>
      </div>
      <!-- /docs-header -->
      <div class="docs-body">
        <div class="docs-sidebar" data-include="../_includes/ct-sidebar.html" data-name="badges"></div>
        <!-- docs-contents -->
        <main class="docs-contents contents-mt">
          <div class="d-flex flex-row align-items-start mb-7 mb-md-10">
            <!-- toc -->
            <div class="toc">
              <nav class="nav flex-column js-toc-triggers">
                <a class="nav-link" href="#badges-examples">Examples</a>
                <a class="nav-link" href="#badges-counter">Counter</a>
                <a class="nav-link" href="#badges-contextual">Contextual variations</a>
                <a class="nav-link" href="#badges-outline">Outline badges</a>
                <a class="nav-link" href="#badges-pill">Pill badges</a>
                <a class="nav-link" href="#badges-links">Links</a>
              </nav>
            </div>
            <!-- /toc -->

            <!-- toc-content -->
            <div class="toc-content">

              <div>Components</div>
              <div class="component-title font-weight-bold mb-7">Badges</div>

              <div class="card mb-5" id="badges-examples">
                <div class="card-header">
                  Examples
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <h1>제목 요소(h1) <span class="badge badge-secondary">New</span></h1>
                  <br>
                  <h2>제목 요소(h2) <span class="badge badge-secondary">New</span></h2>
                  <br>
                  <h3>제목 요소(h3) <span class="badge badge-secondary">New</span></h3>
                  <br>
                  <h4>제목 요소(h4) <span class="badge badge-secondary">New</span></h4>
                  <br>
                  <h5>제목 요소(h5) <span class="badge badge-secondary">New</span></h5>
                  <br>
                  <h6>제목 요소(h6) <span class="badge badge-secondary">New</span></h6>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="badges-counter">
                <div class="card-header">
                  Counter
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <button type="button" class="btn btn-primary">
                    알림<span class="badge badge-pill badge-light">4</span>
                    <span class="sr-only">읽지 않은 메시지</span>
                  </button>
                  <button type="button" class="btn btn-primary">
                    프로필<span class="badge badge-pill badge-light">9</span>
                    <span class="sr-only">읽지 않은 메시지</span>
                  </button>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="badges-contextual">
                <div class="card-header">
                  Contextual variations
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <span class="badge badge-primary">배지</span>
                  <span class="badge badge-secondary">배지</span>
                  <span class="badge badge-success">배지</span>
                  <span class="badge badge-danger">배지</span>
                  <span class="badge badge-warning">배지</span>
                  <span class="badge badge-info">배지</span>
                  <span class="badge badge-light">배지</span>
                  <span class="badge badge-dark">배지</span>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="badges-outline">
                <div class="card-header">
                  Outline badges
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <span class="badge badge-outline-primary">배지</span>
                  <span class="badge badge-outline-secondary">배지</span>
                  <span class="badge badge-outline-success">배지</span>
                  <span class="badge badge-outline-danger">배지</span>
                  <span class="badge badge-outline-warning">배지</span>
                  <span class="badge badge-outline-info">배지</span>
                  <span class="badge badge-outline-light">배지</span>
                  <span class="badge badge-outline-dark">배지</span>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="badges-pill">
                <div class="card-header">
                  Pill badges
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <span class="badge badge-pill badge-primary">배지</span>
                  <span class="badge badge-pill badge-secondary">배지</span>
                  <span class="badge badge-pill badge-success">배지</span>
                  <span class="badge badge-pill badge-danger">배지</span>
                  <span class="badge badge-pill badge-warning">배지</span>
                  <span class="badge badge-pill badge-info">배지</span>
                  <span class="badge badge-pill badge-light">배지</span>
                  <span class="badge badge-pill badge-dark">배지</span>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="badges-links">
                <div class="card-header">
                  Links
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <div class="mb-3">
                    <a href="#" class="badge badge-primary">Primary</a>
                    <a href="#" class="badge badge-secondary">Secondary</a>
                    <a href="#" class="badge badge-success">Success</a>
                    <a href="#" class="badge badge-danger">Danger</a>
                    <a href="#" class="badge badge-warning">Warning</a>
                    <a href="#" class="badge badge-info">Info</a>
                    <a href="#" class="badge badge-light">Light</a>
                    <a href="#" class="badge badge-dark">Dark</a>
                  </div>
                  <div class="mb-3">
                    <a href="#" class="badge badge-outline-primary">Primary</a>
                    <a href="#" class="badge badge-outline-secondary">Secondary</a>
                    <a href="#" class="badge badge-outline-success">Success</a>
                    <a href="#" class="badge badge-outline-danger">Danger</a>
                    <a href="#" class="badge badge-outline-warning">Warning</a>
                    <a href="#" class="badge badge-outline-info">Info</a>
                    <a href="#" class="badge badge-outline-light">Light</a>
                    <a href="#" class="badge badge-outline-dark">Dark</a>
                  </div>
                  <!--/Component-->
                </div>
              </div>

            </div>
            <!-- /toc-content -->
          </div>
        </main>
        <!-- /docs-contents -->
      </div>

      <!-- theme-go-to-top -->
      <div class="theme-go-to-top">
        <a class="ux-top-link" href="#go-to-top">
          <span class="glyphicons-top" aria-hidden="true"></span>
          <span class="sr-only">Go to Top</span>
        </a>
      </div>
      <!-- /theme-go-to-top -->
    </div>
    <!-- /wrapper -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>

    <!-- UI Script -->
    <script src="../../../assets/common/js/vendor/perfect_scrollbar_1.4.0/perfect_scrollbar.min.js"></script>
    <script src="../../../assets/common/js/ui.js"></script>
    <script src="../../../assets/common/js/demo.js"></script>
  </body>
</html>