<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1.0, user-scalable=0">
    <meta name="keyword" content="">
    <meta name="description" content="">
    <title>Bootstrap Marketing &amp; Promotion</title>
    <link rel="shortcut icon" href="../../../assets/common/img/favicon/ux.ico">
    <link rel="apple-touch-icon" href="../../../assets/common/img/favicon/ux.png">
    <link rel="stylesheet" type="text/css" href="../../../assets/mkt/css/uxs.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/mkt/css/demo.css">
  </head>
  <body>
    <!-- wrapper -->
    <div class="wrapper wrapper-fixed" id="go-to-top">
      <!-- docs-header -->
      <div class="docs-header">
        <!-- lnb-toggler -->
        <button class="navbar-toggler docs-sidebar-toggler" type="button" aria-controls="theme-lnb" aria-expanded="false" aria-label="Toggle LNB">
          <span class="navbar-toggler-icon" aria-hidden="true"></span>
          <span class="sr-only">주 메뉴 바로가기</span>
        </button>
        <!-- /lnb-toggler -->
        <!--
          navbar-brand
          React - text-react,
          Vue   - text-vue
        -->
        <span class="navbar-brand text-bootstrap">Bootstrap</span>
        <span class="navbar-brand">Marketing &amp; Promotion</span>
      </div>
      <!-- /docs-header -->
      <div class="docs-body">
        <div class="docs-sidebar" data-include="../_includes/ct-sidebar.html" data-name="button_group"></div>
        <!-- docs-contents -->
        <main class="docs-contents contents-mt">
          <div class="d-flex flex-row align-items-start mb-7 mb-md-10">
            <!-- toc -->
            <div class="toc">
              <nav class="nav flex-column js-toc-triggers">
                <a class="nav-link" href="#button-group-examples">Examples</a>
                <a class="nav-link" href="#button-group-toolbar">Button toolbar</a>
                <a class="nav-link" href="#button-group-sizing">Sizing</a>
                <a class="nav-link" href="#button-group-nesting">Nesting</a>
                <a class="nav-link" href="#button-group-nesting-vertical">Nesting (Vertical)</a>
              </nav>
            </div>
            <!-- /toc -->

            <!-- toc-content -->
            <div class="toc-content">
              <div>Components</div>
              <div class="component-title font-weight-bold mb-7">Button group</div>

              <div class="card mb-5" id="button-group-examples">
                <div class="card-header">
                  Examples
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary">버튼(Left)</button>
                    <button type="button" class="btn btn-primary">버튼(Middle)</button>
                    <button type="button" class="btn btn-primary">버튼(Right)</button>
                  </div>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="button-group-toolbar">
                <div class="card-header">
                  Button toolbar
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2 mb-2" role="group" aria-label="First group">
                      <button type="button" class="btn btn-secondary">1</button>
                      <button type="button" class="btn btn-secondary">2</button>
                      <button type="button" class="btn btn-secondary">3</button>
                      <button type="button" class="btn btn-secondary">4</button>
                    </div>
                    <div class="btn-group mr-2 mb-2" role="group" aria-label="Second group">
                      <button type="button" class="btn btn-secondary">5</button>
                      <button type="button" class="btn btn-secondary">6</button>
                      <button type="button" class="btn btn-secondary">7</button>
                    </div>
                    <div class="btn-group mb-2" role="group" aria-label="Third group">
                      <button type="button" class="btn btn-secondary">8</button>
                    </div>
                  </div>

                  <hr class="ct-hr">

                  <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2 mb-2" role="group" aria-label="First group">
                      <button type="button" class="btn btn-info">1</button>
                      <button type="button" class="btn btn-info">2</button>
                      <button type="button" class="btn btn-info">3</button>
                      <button type="button" class="btn btn-info">4</button>
                    </div>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text" id="btnGroupAddon">@</div>
                      </div>
                      <input type="text" class="form-control" placeholder="Input group example"
                        aria-label="Input group example" aria-describedby="btnGroupAddon">
                    </div>
                  </div>
                  <div class="btn-toolbar justify-content-between" role="toolbar"
                    aria-label="Toolbar with button groups">
                    <div class="btn-group mb-2" role="group" aria-label="First group">
                      <button type="button" class="btn btn-success">1</button>
                      <button type="button" class="btn btn-success">2</button>
                      <button type="button" class="btn btn-success">3</button>
                      <button type="button" class="btn btn-success">4</button>
                    </div>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text" id="btnGroupAddon2">@</div>
                      </div>
                      <input type="text" class="form-control" placeholder="Input group example"
                        aria-label="Input group example" aria-describedby="btnGroupAddon2">
                    </div>
                  </div>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="button-group-sizing">
                <div class="card-header">
                  Sizing
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary">라지 버튼</button>
                    <button type="button" class="btn btn-primary">라지 버튼</button>
                    <button type="button" class="btn btn-primary">라지 버튼</button>
                  </div>
                  <br><br>
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary">미디엄 버튼</button>
                    <button type="button" class="btn btn-primary">미디엄 버튼</button>
                    <button type="button" class="btn btn-primary">미디엄 버튼</button>
                  </div>
                  <br><br>
                  <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary">스몰 버튼</button>
                    <button type="button" class="btn btn-primary">스몰 버튼</button>
                    <button type="button" class="btn btn-primary">스몰 버튼</button>
                  </div>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="button-group-nesting">
                <div class="card-header">
                  Nesting
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <button type="button" class="btn btn-warning">1</button>
                    <button type="button" class="btn btn-warning">2</button>

                    <div class="dropdown btn-group" role="group">
                      <button id="btnGroupDrop1" type="button" class="btn btn-warning dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        메뉴
                      </button>
                      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      </div>
                    </div>
                  </div>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="button-group-nesting-vertical">
                <div class="card-header">
                  Nesting (Vertical)
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <div class="btn-group-vertical" role="group" aria-label="Button group with nested dropdown">
                    <button type="button" class="btn btn-warning">버튼</button>
                    <button type="button" class="btn btn-warning">버튼</button>

                    <div class="dropdown btn-group" role="group">
                      <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        메뉴
                      </button>
                      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      </div>
                    </div>

                    <button type="button" class="btn btn-warning">버튼</button>
                    <button type="button" class="btn btn-warning">버튼</button>

                    <div class="dropdown btn-group" role="group">
                      <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        메뉴
                      </button>
                      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      </div>
                    </div>
                    <div class="dropdown btn-group" role="group">
                      <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        메뉴
                      </button>
                      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      </div>
                    </div>
                  </div>
                  <!--/Component-->
                </div>
              </div>
            </div>
            <!-- /toc-content -->
          </div>
        </main>
        <!-- /docs-contents -->
      </div>

      <!-- theme-go-to-top -->
      <div class="theme-go-to-top">
        <a class="ux-top-link" href="#go-to-top">
          <span class="glyphicons-top" aria-hidden="true"></span>
          <span class="sr-only">Go to Top</span>
        </a>
      </div>
      <!-- /theme-go-to-top -->
    </div>
    <!-- /wrapper -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>

    <!-- UI Script -->
    <script src="../../../assets/common/js/vendor/perfect_scrollbar_1.4.0/perfect_scrollbar.min.js"></script>
    <script src="../../../assets/common/js/ui.js"></script>
    <script src="../../../assets/common/js/demo.js"></script>
  </body>
</html>