<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1.0, user-scalable=0">
    <meta name="keyword" content="">
    <meta name="description" content="">
    <title>Bootstrap Marketing &amp; Promotion</title>
    <link rel="shortcut icon" href="../../../assets/common/img/favicon/ux.ico">
    <link rel="apple-touch-icon" href="../../../assets/common/img/favicon/ux.png">
    <link rel="stylesheet" type="text/css" href="../../../assets/mkt/css/uxs.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/mkt/css/demo.css">
  </head>
  <body>
    <!-- wrapper -->
    <div class="wrapper wrapper-fixed" id="go-to-top">
      <!-- docs-header -->
      <div class="docs-header">
        <!-- lnb-toggler -->
        <button class="navbar-toggler docs-sidebar-toggler" type="button" aria-controls="theme-lnb" aria-expanded="false" aria-label="Toggle LNB">
          <span class="navbar-toggler-icon" aria-hidden="true"></span>
          <span class="sr-only">주 메뉴 바로가기</span>
        </button>
        <!-- /lnb-toggler -->
        <!--
          navbar-brand
          React - text-react,
          Vue   - text-vue
        -->
        <span class="navbar-brand text-bootstrap">Bootstrap</span>
        <span class="navbar-brand">Marketing &amp; Promotion</span>
      </div>
      <!-- /docs-header -->
      <div class="docs-body">
        <div class="docs-sidebar" data-include="../_includes/ct-sidebar.html" data-name="buttons"></div>
        <!-- docs-contents -->
        <main class="docs-contents contents-mt">
          <div class="d-flex flex-row align-items-start mb-7 mb-md-10">
            <!-- toc -->
            <div class="toc">
              <nav class="nav flex-column js-toc-triggers">
                <a class="nav-link" href="#button-component-example">Examples</a>
                <a class="nav-link" href="#button-component-outline">Outline buttons</a>
                <a class="nav-link" href="#button-component-ghost">Ghost buttons</a>
                <a class="nav-link" href="#button-component-tag">Tags</a>
                <a class="nav-link" href="#button-component-size">Sizes</a>
                <a class="nav-link" href="#button-component-active">Active state</a>
                <a class="nav-link" href="#button-component-disabled">Disabled state</a>
                <a class="nav-link" href="#button-component-toggle">Toggle state</a>
                <a class="nav-link" href="#button-component-etc">Checkbox and radio buttons</a>
                <a class="nav-link" href="#button-component-icon">Icon buttons</a>
              </nav>
            </div>
            <!-- /toc -->

            <!-- toc-content -->
            <div class="toc-content">
              <div>Components</div>
              <div class="component-title font-weight-bold mb-7">Buttons</div>

              <div class="card mb-5" id="button-component-example">
                <div class="card-header">
                  Examples
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <button type="button" class="btn btn-primary">버튼</button>
                  <button type="button" class="btn btn-secondary">버튼</button>
                  <button type="button" class="btn btn-success">버튼</button>
                  <button type="button" class="btn btn-danger">버튼</button>
                  <button type="button" class="btn btn-warning">버튼</button>
                  <button type="button" class="btn btn-info">버튼</button>
                  <button type="button" class="btn btn-light">버튼</button>
                  <button type="button" class="btn btn-dark">버튼</button>
                  <button type="button" class="btn btn-link">링크</button>
                  <div class="mt-3">
                    <button type="button" class="btn btn-primary" disabled>버튼</button>
                    <button type="button" class="btn btn-secondary" disabled>버튼</button>
                    <button type="button" class="btn btn-success" disabled>버튼</button>
                    <button type="button" class="btn btn-danger" disabled>버튼</button>
                    <button type="button" class="btn btn-warning" disabled>버튼</button>
                    <button type="button" class="btn btn-info" disabled>버튼</button>
                    <button type="button" class="btn btn-light" disabled>버튼</button>
                    <button type="button" class="btn btn-dark" disabled>버튼</button>
                    <button type="button" class="btn btn-link" disabled>링크</button>
                  </div>
                  <!--/Component-->
                </div>
              </div>
              <div class="card mb-5" id="button-component-outline">
                <div class="card-header">
                  Outline buttons
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <button type="button" class="btn btn-outline-primary">버튼</button>
                  <button type="button" class="btn btn-outline-secondary">버튼</button>
                  <button type="button" class="btn btn-outline-success">버튼</button>
                  <button type="button" class="btn btn-outline-danger">버튼</button>
                  <button type="button" class="btn btn-outline-warning">버튼</button>
                  <button type="button" class="btn btn-outline-info">버튼</button>
                  <button type="button" class="btn btn-outline-light">버튼</button>
                  <button type="button" class="btn btn-outline-dark">버튼</button>
                  <div class="mt-3">
                    <button type="button" class="btn btn-outline-primary" disabled>버튼</button>
                    <button type="button" class="btn btn-outline-secondary" disabled>버튼</button>
                    <button type="button" class="btn btn-outline-success" disabled>버튼</button>
                    <button type="button" class="btn btn-outline-danger" disabled>버튼</button>
                    <button type="button" class="btn btn-outline-warning" disabled>버튼</button>
                    <button type="button" class="btn btn-outline-info" disabled>버튼</button>
                    <button type="button" class="btn btn-outline-light" disabled>버튼</button>
                    <button type="button" class="btn btn-outline-dark" disabled>버튼</button>
                  </div>
                  <!--/Component-->
                </div>
              </div>
              <div class="card mb-5" id="button-component-ghost">
                <div class="card-header">
                  Ghost buttons
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <button type="button" class="btn btn-ghost-primary">버튼</button>
                  <button type="button" class="btn btn-ghost-secondary">버튼</button>
                  <button type="button" class="btn btn-ghost-success">버튼</button>
                  <button type="button" class="btn btn-ghost-danger">버튼</button>
                  <button type="button" class="btn btn-ghost-warning">버튼</button>
                  <button type="button" class="btn btn-ghost-info">버튼</button>
                  <button type="button" class="btn btn-ghost-light">버튼</button>
                  <button type="button" class="btn btn-ghost-dark">버튼</button>
                  <div class="mt-3">
                    <button type="button" class="btn btn-ghost-primary" disabled>버튼</button>
                    <button type="button" class="btn btn-ghost-secondary" disabled>버튼</button>
                    <button type="button" class="btn btn-ghost-success" disabled>버튼</button>
                    <button type="button" class="btn btn-ghost-danger" disabled>버튼</button>
                    <button type="button" class="btn btn-ghost-warning" disabled>버튼</button>
                    <button type="button" class="btn btn-ghost-info" disabled>버튼</button>
                    <button type="button" class="btn btn-ghost-light" disabled>버튼</button>
                    <button type="button" class="btn btn-ghost-dark" disabled>버튼</button>
                  </div>
                  <!--/Component-->
                </div>
              </div>
              <div class="card mb-5" id="button-component-tag">
                <div class="card-header">
                  Tags
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <div>
                    <a class="btn btn-primary" href="#" role="button">링크</a>
                    <button class="btn btn-secondary" type="submit">Button</button>
                    <input class="btn btn-success" type="button" value="Input">
                    <input class="btn btn-danger" type="submit" value="Submit">
                    <input class="btn btn-info" type="reset" value="Reset">
                  </div>
                  <!--/Component-->
                </div>
              </div>
              <div class="card mb-5" id="button-component-size">
                <div class="card-header">
                  Sizes
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <div class="mb-2">
                    <button type="button" class="btn btn-primary btn-lg">라지 버튼</button>
                    <button type="button" class="btn btn-primary btn-lg">Large button</button>
                  </div>
                  <div class="mb-2">
                    <button type="button" class="btn btn-info">미디엄 버튼</button>
                    <button type="button" class="btn btn-info">Medium button</button>
                  </div>
                  <div class="mb-2">
                    <button type="button" class="btn btn-danger btn-sm">스몰</button>
                    <button type="button" class="btn btn-danger btn-sm">Small button</button>
                  </div>
                  <div>
                    <button type="button" class="btn btn-primary btn-lg btn-block">블록 레벨 버튼</button>
                    <button type="button" class="btn btn-success btn-lg btn-block">Block level button</button>
                  </div>
                  <!--/Component-->
                </div>
              </div>
              <div class="card mb-5" id="button-component-active">
                <div class="card-header">
                  Active state
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">버튼</a>
                  <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">버튼</a>
                  <!--/Component-->
                </div>
              </div>
              <div class="card mb-5" id="button-component-disabled">
                <div class="card-header">
                  Disabled state
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <button type="button" class="btn btn-lg btn-primary" disabled="">버튼</button>
                  <button type="button" class="btn btn-lg btn-outline-primary" disabled="">버튼</button>
                  <button type="button" class="btn btn-lg btn-ghost-primary" disabled="">버튼</button>
                  <a href="#" class="btn btn-secondary btn-lg disabled" tabindex="-1" role="button"
                    aria-disabled="true">링크</a>
                  <a href="#" class="btn btn-outline-secondary btn-lg disabled" tabindex="-1" role="button"
                    aria-disabled="true">링크</a>
                  <a href="#" class="btn btn-ghost-secondary btn-lg disabled" tabindex="-1" role="button"
                    aria-disabled="true">링크</a>
                  <!--/Component-->
                </div>
              </div>
              <div class="card mb-5" id="button-component-toggle">
                <div class="card-header">
                  Toggle states
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false"
                    autocomplete="off">
                    Single toggle
                  </button>
                  <!--/Component-->
                </div>
              </div>
              <div class="card mb-5" id="button-component-etc">
                <div class="card-header">
                  Checkbox and radio buttons
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <div class="mb-2">
                    <div class="btn-group-toggle" data-toggle="buttons">
                      <label class="btn btn-secondary">
                        <input type="checkbox" checked="" autocomplete="off">체크박스
                      </label>
                    </div>
                  </div>
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary">
                      <input type="radio" name="options" id="option1" autocomplete="off" checked=""> 라디오 버튼(활성화)
                    </label>
                    <label class="btn btn-secondary">
                      <input type="radio" name="options" id="option2" autocomplete="off">
                      라디오 버튼
                    </label>
                    <label class="btn btn-secondary active">
                      <input type="radio" name="options" id="option3" autocomplete="off"> 라디오 버튼
                    </label>
                  </div>
                  <!--/Component-->
                </div>
              </div>
              <div class="card mb-5" id="button-component-icon">
                <div class="card-header">
                  Icon buttons
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <div class="mb-4">
                    <button type="button" class="btn btn-primary btn-lg icon-flow">
                      버튼
                      <span class="glyphicons-add" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-primary icon-flow">
                      버튼
                      <span class="glyphicons-add" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-primary btn-sm icon-flow">
                      버튼
                      <span class="glyphicons-add" aria-hidden="true"></span>
                    </button>

                    <button type="button" class="btn btn-primary btn-sm icon-reverse">
                      <span class="glyphicons-add" aria-hidden="true"></span>
                      버튼
                    </button>
                    <button type="button" class="btn btn-primary icon-reverse">
                      <span class="glyphicons-add glyphicons-mr" aria-hidden="true"></span>
                      버튼
                    </button>
                    <button type="button" class="btn btn-primary btn-lg icon-reverse">
                      <span class="glyphicons-add glyphicons-mr" aria-hidden="true"></span>
                      버튼
                    </button>
                  </div>
                  <div class="mb-4">
                    <button type="button" class="btn btn-outline-primary btn-lg icon-flow">
                      버튼
                      <span class="glyphicons-add" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-outline-primary icon-flow">
                      버튼
                      <span class="glyphicons-add" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-outline-primary btn-sm icon-flow">
                      버튼
                      <span class="glyphicons-add" aria-hidden="true"></span>
                    </button>

                    <button type="button" class="btn btn-outline-primary btn-sm icon-reverse">
                      <span class="glyphicons-add" aria-hidden="true"></span>
                      버튼
                    </button>
                    <button type="button" class="btn btn-outline-primary icon-reverse">
                      <span class="glyphicons-add" aria-hidden="true"></span>
                      버튼
                    </button>
                    <button type="button" class="btn btn-outline-primary btn-lg icon-reverse">
                      <span class="glyphicons-add" aria-hidden="true"></span>
                      버튼
                    </button>
                  </div>
                  <div class="mb-4">
                    <button type="button" class="btn btn-ghost-primary btn-lg icon-flow">
                      버튼
                      <span class="glyphicons-add" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-ghost-primary icon-flow">
                      버튼
                      <span class="glyphicons-add" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-ghost-primary btn-sm icon-flow">
                      버튼
                      <span class="glyphicons-add" aria-hidden="true"></span>
                    </button>

                    <button type="button" class="btn btn-ghost-primary btn-sm icon-reverse">
                      <span class="glyphicons-add" aria-hidden="true"></span>
                      버튼
                    </button>
                    <button type="button" class="btn btn-ghost-primary icon-reverse">
                      <span class="glyphicons-add" aria-hidden="true"></span>
                      버튼
                    </button>
                    <button type="button" class="btn btn-ghost-primary btn-lg icon-reverse">
                      <span class="glyphicons-add" aria-hidden="true"></span>
                      버튼
                    </button>
                  </div>
                  <div class="mb-4">
                    <button type="button" class="btn btn-primary btn-lg icon-flow" style="width: 130px;">
                      버튼
                      <span class="glyphicons-add" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-primary icon-flow" style="width: 130px;">
                      버튼
                      <span class="glyphicons-add" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-primary btn-sm icon-flow" style="width: 130px;">
                      버튼
                      <span class="glyphicons-add" aria-hidden="true"></span>
                    </button>

                    <button type="button" class="btn btn-primary btn-sm icon-reverse" style="width: 130px;">
                      <span class="glyphicons-add" aria-hidden="true"></span>
                      버튼
                    </button>
                    <button type="button" class="btn btn-primary icon-reverse" style="width: 130px;">
                      <span class="glyphicons-add glyphicons-mr" aria-hidden="true"></span>
                      버튼
                    </button>
                    <button type="button" class="btn btn-primary btn-lg icon-reverse" style="width: 130px;">
                      <span class="glyphicons-add glyphicons-mr" aria-hidden="true"></span>
                      버튼
                    </button>
                  </div>
                  <div class="mb-4">
                    <button type="button" class="btn btn-outline-primary btn-lg icon-flow" style="width: 130px;">
                      버튼
                      <span class="glyphicons-add" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-outline-primary icon-flow" style="width: 130px;">
                      버튼
                      <span class="glyphicons-add" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-outline-primary btn-sm icon-flow" style="width: 130px;">
                      버튼
                      <span class="glyphicons-add" aria-hidden="true"></span>
                    </button>

                    <button type="button" class="btn btn-outline-primary btn-sm icon-reverse" style="width: 130px;">
                      <span class="glyphicons-add" aria-hidden="true"></span>
                      버튼
                    </button>
                    <button type="button" class="btn btn-outline-primary icon-reverse" style="width: 130px;">
                      <span class="glyphicons-add glyphicons-mr" aria-hidden="true"></span>
                      버튼
                    </button>
                    <button type="button" class="btn btn-outline-primary btn-lg icon-reverse" style="width: 130px;">
                      <span class="glyphicons-add glyphicons-mr" aria-hidden="true"></span>
                      버튼
                    </button>
                  </div>
                  <div class="mb-4">
                    <button type="button" class="btn btn-ghost-primary btn-lg icon-flow" style="width: 130px;">
                      버튼
                      <span class="glyphicons-add" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-ghost-primary icon-flow" style="width: 130px;">
                      버튼
                      <span class="glyphicons-add" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-ghost-primary btn-sm icon-flow" style="width: 130px;">
                      버튼
                      <span class="glyphicons-add" aria-hidden="true"></span>
                    </button>

                    <button type="button" class="btn btn-ghost-primary btn-sm icon-reverse" style="width: 130px;">
                      <span class="glyphicons-add" aria-hidden="true"></span>
                      버튼
                    </button>
                    <button type="button" class="btn btn-ghost-primary icon-reverse" style="width: 130px;">
                      <span class="glyphicons-add glyphicons-mr" aria-hidden="true"></span>
                      버튼
                    </button>
                    <button type="button" class="btn btn-ghost-primary btn-lg icon-reverse" style="width: 130px;">
                      <span class="glyphicons-add glyphicons-mr" aria-hidden="true"></span>
                      버튼
                    </button>
                  </div>
                  <div class="mb-4">
                    <button type="button" class="btn btn-primary btn-lg icon-only">
                      <span class="glyphicons-add" aria-hidden="true"></span>
                      <span class="sr-only">ADD</span>
                    </button>
                    <button type="button" class="btn btn-primary icon-only">
                      <span class="glyphicons-add" aria-hidden="true"></span>
                      <span class="sr-only">ADD</span>
                    </button>
                    <button type="button" class="btn btn-primary btn-sm icon-only">
                      <span class="glyphicons-add" aria-hidden="true"></span>
                      <span class="sr-only">ADD</span>
                    </button>

                    <button type="button" class="btn btn-outline-primary btn-lg icon-only">
                      <span class="glyphicons-add" aria-hidden="true"></span>
                      <span class="sr-only">ADD</span>
                    </button>
                    <button type="button" class="btn btn-outline-primary icon-only">
                      <span class="glyphicons-add" aria-hidden="true"></span>
                      <span class="sr-only">ADD</span>
                    </button>
                    <button type="button" class="btn btn-outline-primary btn-sm icon-only">
                      <span class="glyphicons-add" aria-hidden="true"></span>
                      <span class="sr-only">ADD</span>
                    </button>

                    <button type="button" class="btn btn-ghost-primary btn-lg icon-only">
                      <span class="glyphicons-add" aria-hidden="true"></span>
                      <span class="sr-only">ADD</span>
                    </button>
                    <button type="button" class="btn btn-ghost-primary icon-only">
                      <span class="glyphicons-add" aria-hidden="true"></span>
                      <span class="sr-only">ADD</span>
                    </button>
                    <button type="button" class="btn btn-ghost-primary btn-sm icon-only">
                      <span class="glyphicons-add" aria-hidden="true"></span>
                      <span class="sr-only">ADD</span>
                    </button>
                  </div>
                  <button type="button" class="btn btn-primary icon-only">
                    <span class="glyphicons-add" aria-hidden="true"></span>
                    <span class="sr-only">ADD</span>
                  </button>
                  <button type="button" class="btn btn-secondary icon-only">
                    <span class="glyphicons-add" aria-hidden="true"></span>
                    <span class="sr-only">ADD</span>
                  </button>
                  <button type="button" class="btn btn-success icon-only">
                    <span class="glyphicons-add" aria-hidden="true"></span>
                    <span class="sr-only">ADD</span>
                  </button>
                  <button type="button" class="btn btn-danger icon-only">
                    <span class="glyphicons-add" aria-hidden="true"></span>
                    <span class="sr-only">ADD</span>
                  </button>
                  <button type="button" class="btn btn-warning icon-only">
                    <span class="glyphicons-add" aria-hidden="true"></span>
                    <span class="sr-only">ADD</span>
                  </button>
                  <button type="button" class="btn btn-info icon-only">
                    <span class="glyphicons-add" aria-hidden="true"></span>
                    <span class="sr-only">ADD</span>
                  </button>
                  <button type="button" class="btn btn-light icon-only">
                    <span class="glyphicons-add" aria-hidden="true"></span>
                    <span class="sr-only">ADD</span>
                  </button>
                  <button type="button" class="btn btn-dark icon-only">
                    <span class="glyphicons-add" aria-hidden="true"></span>
                    <span class="sr-only">ADD</span>
                  </button><button type="button" class="btn btn-link icon-only">
                    <span class="glyphicons-add" aria-hidden="true"></span>
                    <span class="sr-only">ADD</span>
                  </button>
                  <button type="button" class="btn btn-primary icon-flow" style="width: 130px;">
                    <span>즐겨찾기</span>
                    <span class="glyphicons-add" aria-hidden="true"></span>
                  </button>
                  <button type="button" class="btn btn-secondary icon-flow" style="width: 130px;">
                    즐겨찾기
                    <span class="glyphicons-add" aria-hidden="true"></span>
                  </button>
                  <button type="button" class="btn btn-success icon-flow" style="width: 130px;">
                    즐겨찾기
                    <span class="glyphicons-add" aria-hidden="true"></span>
                  </button>
                  <button type="button" class="btn btn-danger icon-flow" style="width: 130px;">
                    즐겨찾기
                    <span class="glyphicons-add" aria-hidden="true"></span>
                  </button>
                  <button type="button" class="btn btn-warning icon-flow" style="width: 130px;">
                    즐겨찾기
                    <span class="glyphicons-add" aria-hidden="true"></span>
                  </button>
                  <button type="button" class="btn btn-info icon-flow" style="width: 130px;">
                    즐겨찾기
                    <span class="glyphicons-add" aria-hidden="true"></span>
                  </button>
                  <button type="button" class="btn btn-light icon-flow" style="width: 130px;">
                    즐겨찾기
                    <span class="glyphicons-add" aria-hidden="true"></span>
                  </button>
                  <button type="button" class="btn btn-dark icon-flow" style="width: 130px;">
                    즐겨찾기
                    <span class="glyphicons-add" aria-hidden="true"></span>
                  </button>
                  <button type="button" class="btn btn-link icon-flow" style="width: 130px;">
                    즐겨찾기
                    <span class="glyphicons-add" aria-hidden="true"></span>
                  </button>
                </div>
                <!--/Component-->
              </div>
            </div>
            <!-- /toc-content -->
          </div>
        </main>
        <!-- /docs-contents -->
      </div>

      <!-- theme-go-to-top -->
      <div class="theme-go-to-top">
        <a class="ux-top-link" href="#go-to-top">
          <span class="glyphicons-top" aria-hidden="true"></span>
          <span class="sr-only">Go to Top</span>
        </a>
      </div>
      <!-- /theme-go-to-top -->
    </div>
    <!-- /wrapper -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>

    <!-- UI Script -->
    <script src="../../../assets/common/js/vendor/perfect_scrollbar_1.4.0/perfect_scrollbar.min.js"></script>
    <script src="../../../assets/common/js/ui.js"></script>
    <script src="../../../assets/common/js/demo.js"></script>
  </body>
</html>