<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1.0, user-scalable=0">
    <meta name="keyword" content="">
    <meta name="description" content="">
    <title>Bootstrap Marketing &amp; Promotion</title>
    <link rel="shortcut icon" href="../../../assets/common/img/favicon/ux.ico">
    <link rel="apple-touch-icon" href="../../../assets/common/img/favicon/ux.png">
    <link rel="stylesheet" type="text/css" href="../../../assets/mkt/css/uxs.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/mkt/css/demo.css">
  </head>
  <body>
    <!-- wrapper -->
    <div class="wrapper wrapper-fixed" id="go-to-top">
      <!-- docs-header -->
      <div class="docs-header">
        <!-- lnb-toggler -->
        <button class="navbar-toggler docs-sidebar-toggler" type="button" aria-controls="theme-lnb" aria-expanded="false" aria-label="Toggle LNB">
          <span class="navbar-toggler-icon" aria-hidden="true"></span>
          <span class="sr-only">주 메뉴 바로가기</span>
        </button>
        <!-- /lnb-toggler -->
        <!--
          navbar-brand
          React - text-react,
          Vue   - text-vue
        -->
        <span class="navbar-brand text-bootstrap">Bootstrap</span>
        <span class="navbar-brand">Marketing &amp; Promotion</span>
      </div>
      <!-- /docs-header -->
      <div class="docs-body">
        <div class="docs-sidebar" data-include="../_includes/ct-sidebar.html" data-name="cards"></div>
        <!-- docs-contents -->
        <main class="docs-contents contents-mt">
          <div class="d-flex flex-row align-items-start mb-7 mb-md-10">
            <!-- toc -->
            <div class="toc">
              <nav class="nav flex-column js-toc-triggers">
                <a class="nav-link" href="#cards-examples">Examples</a>
                <a class="nav-link" href="#cards-content">Content types</a>
                <a class="nav-link" href="#cards-listgroups">List groups</a>
                <a class="nav-link" href="#cards-kitchen">Kitchen sink</a>
                <a class="nav-link" href="#cards-header-footer">Header and footer</a>
                <a class="nav-link" href="#cards-sizing">Sizing</a>
                <a class="nav-link" href="#cards-text-alignment">Text alignment</a>
                <a class="nav-link" href="#cards-navigation">Navigation</a>
                <a class="nav-link" href="#cards-images">Images</a>
                <a class="nav-link" href="#cards-styles">Card styles</a>
                <a class="nav-link" href="#cards-mixins">Mixins utilities</a>
                <a class="nav-link" href="#cards-layout">Card layout</a>
              </nav>
            </div>
            <!-- /toc -->

            <!-- toc-content -->
            <div class="toc-content">
              <div>Components</div>
              <div class="component-title font-weight-bold mb-7">Cards</div>

              <div class="card mb-5" id="cards-examples">
                <div class="card-header">
                  Examples
                </div>
                <div class="card-body py-5 px-4">
                  <!-- col 설정에따라 원하는 넓이값 적용 가능 -->
                  <!-- card 콤포넌트에 중복 클래스로도 적용 가능 ex) div class="card col-12" -->
                  <div class="col-12 col-sm-7 col-md-6 col-lg-5 p-0">
                    <!--Component-->
                    <div class="card">
                      <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#6c757d"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
                      <div class="card-body">
                        <h5 class="card-title">카드 제목</h5>
                        <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                        <a href="#" class="btn btn-primary">버튼</a>
                      </div>
                    </div>
                    <!--/Component-->
                  </div>
                </div>
              </div>

              <div class="card mb-5" id="cards-content">
                <div class="card-header">
                  Content types
                </div>
                <div class="card-body py-5 px-4">
                  <div class="sub-title-first">Body</div>
                  <div class="col-12 col-sm-7 col-md-6 col-lg-5 p-0">
                    <!--Component-->
                    <div class="card">
                      <div class="card-body">
                        UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.
                      </div>
                    </div>
                    <!--/Component-->
                  </div>
                  <div class="sub-title">Titles, text, and links</div>
                  <div class="col-12 col-sm-7 col-md-6 col-lg-5 p-0">
                    <!--Component-->
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">카드 제목</h5>
                        <h6 class="card-subtitle">부제목</h6>
                        <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                        <a href="#" class="card-link">카드 링크</a>
                        <a href="#" class="card-link">카드 링크</a>
                      </div>
                    </div>
                    <!--/Component-->
                  </div>
                  <div class="sub-title">Images</div>
                  <div class="col-12 col-sm-7 col-md-6 col-lg-5 p-0">
                    <!--Component-->
                    <div class="card">
                      <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#6c757d"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
                      <div class="card-body">
                        <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                      </div>
                    </div>
                    <!--/Component-->
                  </div>
                </div>
              </div>

              <div class="card mb-5" id="cards-listgroups">
                <div class="card-header">
                  List groups
                </div>
                <div class="card-body py-5 px-4">
                  <div class="sub-title-first">Card header</div>
                  <div class="col-12 col-sm-7 col-md-6 p-0">
                    <!--Component-->
                    <div class="card">
                      <div class="card-header">
                        카드 헤더
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item border-bottom">리스트 아이템</li>
                        <li class="list-group-item border-bottom">리스트 아이템</li>
                        <li class="list-group-item">리스트 아이템</li>
                      </ul>
                    </div>
                    <!--/Component-->
                  </div>
                </div>
              </div>

              <div class="card mb-5" id="cards-kitchen">
                <div class="card-header">
                  Kitchen sink
                </div>
                <div class="card-body py-5 px-4">
                  <div class="col-12 col-sm-7 col-md-6 col-lg-5 p-0">
                    <!--Component-->
                    <div class="card">
                      <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg"
                        preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#6c757d"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image
                          cap</text>
                      </svg>
                      <div class="card-body">
                        <h5 class="card-title">카드 제목</h5>
                        <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">리스트 아이템</li>
                        <li class="list-group-item">리스트 아이템</li>
                        <li class="list-group-item">리스트 아이템</li>
                      </ul>
                      <div class="card-body">
                        <a href="#" class="card-link">카드 링크</a>
                        <a href="#" class="card-link">카드 링크</a>
                      </div>
                    </div>
                    <!--/Component-->
                  </div>
                </div>
              </div>

              <div class="card mb-5" id="cards-header-footer">
                <div class="card-header">
                  Header and footer
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <div class="card">
                    <div class="card-header">
                      카드 헤더
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">카드 제목</h5>
                      <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                      <a href="#" class="btn btn-primary">버튼(링크)</a>
                    </div>
                  </div>
                  <!--/Component-->
                  <div class="sub-title"><code>.card-header</code> to <code>&lt;h*&gt;</code> elements.</div>
                  <!--Component-->
                  <div class="card">
                    <h5 class="card-header">카드 헤더</h5>
                    <div class="card-body">
                      <h5 class="card-title">카드 제목</h5>
                      <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                      <a href="#" class="btn btn-primary">버튼(링크)</a>
                    </div>
                  </div>
                  <!--/Component-->
                  <div class="sub-title"><code>blockquote</code> elements.</div>
                  <!--Component-->
                  <div class="card">
                    <div class="card-header">
                      카드 헤더
                    </div>
                    <div class="card-body">
                      <blockquote class="blockquote mb-0">
                        <p>UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                        <footer class="blockquote-footer">UX Studio <cite title="작가">작가</cite></footer>
                      </blockquote>
                    </div>
                  </div>
                  <!--/Component-->
                  <div class="sub-title"><code>.text-center</code></div>
                  <!--Component-->
                  <div class="card text-center">
                    <div class="card-header">
                      카드 헤더
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">카드 제목</h5>
                      <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                      <a href="#" class="btn btn-primary">버튼(링크)</a>
                    </div>
                    <div class="card-footer">
                      2일 전
                    </div>
                  </div>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="cards-sizing">
                <div class="card-header">
                  Sizing
                </div>
                <div class="card-body py-5 px-4">
                  <div class="sub-title-first">Using grid markup</div>
                  <!--Component-->
                  <div class="row">
                    <div class="col-sm-6 mb-5 mb-sm-0">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">카드 제목</h5>
                          <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                          <a href="#" class="btn btn-primary">버튼(링크)</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 mb-5 mb-sm-0">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">카드 제목</h5>
                          <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                          <a href="#" class="btn btn-primary">버튼(링크)</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--/Component-->
                  <div class="sub-title">Using utilities</div>
                  <!--Component-->
                  <div class="card w-75">
                    <div class="card-body">
                      <h5 class="card-title">카드 제목</h5>
                      <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                      <a href="#" class="btn btn-primary">Button</a>
                    </div>
                  </div>
                  <br><br>
                  <div class="card w-50">
                    <div class="card-body">
                      <h5 class="card-title">카드 제목</h5>
                      <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                      <a href="#" class="btn btn-primary">Button</a>
                    </div>
                  </div>
                  <!--/Component-->
                  <div class="sub-title">Using custom CSS</div>
                  <!--Component-->
                  <div class="card" style="width: 14rem;">
                    <div class="card-body">
                      <h5 class="card-title">카드 제목</h5>
                      <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                      <a href="#" class="btn btn-primary">버튼(링크)</a>
                    </div>
                  </div>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="cards-text-alignment">
                <div class="card-header">
                  Text alignment
                </div>
                <div class="card-body py-5 px-4">
                  <div class="col-12 col-sm-7 col-md-5 col-lg-4 p-0 mb-5">
                    <!-- Component -->
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">카드 제목</h5>
                        <p class="card-text">UX Studio과 흙으로 소녀들의 멀리 별 버리었습니다. 하나에 내 우는 나의 봅니다.</p>
                        <a href="#" class="btn btn-primary">버튼(링크)</a>
                      </div>
                    </div>
                    <!-- //Component -->
                  </div>
                  <div class="col-12 col-sm-7 col-md-5 col-lg-4 p-0 mb-5">
                    <!-- Component -->
                    <div class="card text-center">
                      <div class="card-body">
                        <h5 class="card-title">카드 제목</h5>
                        <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                        <a href="#" class="btn btn-primary">버튼(링크)</a>
                      </div>
                    </div>
                    <!-- //Component -->
                  </div>
                  <div class="col-12 col-sm-7 col-md-5 col-lg-4 p-0 mb-5">
                    <!-- Component -->
                    <div class="card text-right">
                      <div class="card-body">
                        <h5 class="card-title">카드 제목</h5>
                        <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                        <a href="#" class="btn btn-primary">버튼(링크)</a>
                      </div>
                    </div>
                    <!--//Component-->
                  </div>
                </div>
              </div>

              <div class="card mb-5" id="cards-navigation">
                <div class="card-header">
                  Navigation
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <div class="card text-center">
                    <div class="card-header pb-0">
                      <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                          <a class="nav-link active" href="#">메뉴</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">메뉴</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">메뉴</a>
                        </li>
                      </ul>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">카드 제목</h5>
                      <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                      <a href="#" class="btn btn-primary">버튼(링크)</a>
                    </div>
                  </div>
                  <!--/Component-->
                  <div class="sub-title"><code>.nav-pills</code> <code>.card-header-pills</code></div>
                  <!--Component-->
                  <div class="card text-center">
                    <div class="card-header">
                      <ul class="nav nav-pills card-header-pills">
                        <li class="nav-item">
                          <a class="nav-link active" href="#">메뉴</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">메뉴</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">메뉴</a>
                        </li>
                      </ul>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">카드 제목</h5>
                      <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                      <a href="#" class="btn btn-primary">버튼(링크)</a>
                    </div>
                  </div>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="cards-images">
                <div class="card-header">
                  Images
                </div>
                <div class="card-body py-5 px-4">
                  <div class="sub-title-first">Image caps</div>
                  <!--Component-->
                  <div class="card mb-3">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#6c757d"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
                    <div class="card-body">
                      <h5 class="card-title">카드 제목</h5>
                      <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                      <p class="card-text"><small class="text-muted">3일 전</small></p>
                    </div>
                  </div>
                  <!--/Component-->
                  <div class="sub-title">Image overlays</div>
                  <!--Component-->
                  <div class="card bg-dark text-white">
                    <svg class="bd-placeholder-img card-img" width="100%" height="270" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Card image"><title>Placeholder</title><rect width="100%" height="100%" fill="#6c757d"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Card image</text></svg>
                    <div class="card-img-overlay">
                      <h5 class="card-title">카드 제목</h5>
                      <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                      <p class="card-text"><small>3일 전</small></p>
                    </div>
                  </div>
                  <!--/Component-->
                  <div class="sub-title">Horizontal</div>
                  <!--Component-->
                  <div class="card overflow-hidden mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <!-- <img src="..." class="card-img" alt="..."> -->
                        <svg class="bd-placeholder-img" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image"><title>Placeholder</title><rect width="100%" height="100%" fill="#6c757d"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image</text></svg>
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">카드 제목</h5>
                          <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                          <p class="card-text"><small class="text-muted">3일 전</small></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="cards-styles">
                <div class="card-header">
                  Card styles
                </div>
                <div class="card-body row py-5 px-4">
                  <div class="col">
                    <div class="sub-title-first">Background and color</div>
                    <!--Component-->
                    <div class="card bg-primary mb-3" style="max-width: 18rem;">
                      <div class="card-header">카드 헤더</div>
                      <div class="card-body">
                        <h5 class="card-title">Primary 카드 제목</h5>
                        <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                      </div>
                    </div>
                    <div class="card bg-secondary mb-3" style="max-width: 18rem;">
                      <div class="card-header">카드 헤더</div>
                      <div class="card-body">
                        <h5 class="card-title">Secondary 카드 제목</h5>
                        <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                      </div>
                    </div>
                    <div class="card bg-success mb-3" style="max-width: 18rem;">
                      <div class="card-header">카드 헤더</div>
                      <div class="card-body">
                        <h5 class="card-title">Success 카드 제목</h5>
                        <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                      </div>
                    </div>
                    <div class="card bg-danger mb-3" style="max-width: 18rem;">
                      <div class="card-header">카드 헤더</div>
                      <div class="card-body">
                        <h5 class="card-title">Danger 카드 제목</h5>
                        <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                      </div>
                    </div>
                    <div class="card bg-warning mb-3" style="max-width: 18rem;">
                      <div class="card-header">카드 헤더</div>
                      <div class="card-body">
                        <h5 class="card-title">Warning 카드 제목</h5>
                        <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                      </div>
                    </div>
                    <div class="card bg-info mb-3" style="max-width: 18rem;">
                      <div class="card-header">카드 헤더</div>
                      <div class="card-body">
                        <h5 class="card-title">Info 카드 제목</h5>
                        <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                      </div>
                    </div>
                    <div class="card bg-light mb-3" style="max-width: 18rem;">
                      <div class="card-header">카드 헤더</div>
                      <div class="card-body">
                        <h5 class="card-title">Light 카드 제목</h5>
                        <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                      </div>
                    </div>
                    <div class="card bg-dark mb-3" style="max-width: 18rem;">
                      <div class="card-header">카드 헤더</div>
                      <div class="card-body">
                        <h5 class="card-title">Dark 카드 제목</h5>
                        <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                      </div>
                    </div>
                  </div>
                  <!--/Component-->
                  <div class="col">
                    <div class="sub-title mt-0">Border</div>
                    <!--Component-->
                    <div class="card border-primary mb-3" style="max-width: 18rem;">
                      <div class="card-header">카드 헤더</div>
                      <div class="card-body">
                        <h5 class="card-title">Primary 카드 제목</h5>
                        <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                      </div>
                    </div>
                    <div class="card border-secondary mb-3" style="max-width: 18rem;">
                      <div class="card-header">카드 헤더</div>
                      <div class="card-body">
                        <h5 class="card-title">Secondary 카드 제목</h5>
                        <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                      </div>
                    </div>
                    <div class="card border-success mb-3" style="max-width: 18rem;">
                      <div class="card-header">카드 헤더</div>
                      <div class="card-body">
                        <h5 class="card-title">Success 카드 제목</h5>
                        <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                      </div>
                    </div>
                    <div class="card border-danger mb-3" style="max-width: 18rem;">
                      <div class="card-header">카드 헤더</div>
                      <div class="card-body">
                        <h5 class="card-title">Danger 카드 제목</h5>
                        <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                      </div>
                    </div>
                    <div class="card border-warning mb-3" style="max-width: 18rem;">
                      <div class="card-header">카드 헤더</div>
                      <div class="card-body">
                        <h5 class="card-title">Warning 카드 제목</h5>
                        <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                      </div>
                    </div>
                    <div class="card border-info mb-3" style="max-width: 18rem;">
                      <div class="card-header">카드 헤더</div>
                      <div class="card-body">
                        <h5 class="card-title">Info 카드 제목</h5>
                        <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                      </div>
                    </div>
                    <div class="card border-light mb-3" style="max-width: 18rem;">
                      <div class="card-header">카드 헤더</div>
                      <div class="card-body">
                        <h5 class="card-title">Light 카드 제목</h5>
                        <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                      </div>
                    </div>
                    <div class="card border-dark mb-3" style="max-width: 18rem;">
                      <div class="card-header">카드 헤더</div>
                      <div class="card-body">
                        <h5 class="card-title">Dark 카드 제목</h5>
                        <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                      </div>
                    </div>
                  </div>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="cards-mixins">
                <div class="card-header">
                  Mixins utilities
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <div class="card border-success" style="max-width: 18rem;">
                    <div class="card-header bg-transparent border-success">카드 헤더</div>
                    <div class="card-body text-success">
                      <h5 class="card-title">Success 카드 제목</h5>
                      <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                    </div>
                    <div class="card-footer bg-transparent border-success">카드 푸터</div>
                  </div>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="cards-layout">
                <div class="card-header">
                  Card layout
                </div>
                <div class="card-body py-5 px-4">
                  <div class="sub-title-first">Card groups</div>
                  <!--Component-->
                  <div class="card-group">
                    <div class="card">
                      <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#6c757d"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
                      <div class="card-body">
                        <h5 class="card-title">카드 제목</h5>
                        <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                        <p class="card-text"><small class="text-muted">3일 전</small></p>
                      </div>
                    </div>
                    <div class="card">
                      <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#6c757d"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
                      <div class="card-body">
                        <h5 class="card-title">카드 제목</h5>
                        <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                        <p class="card-text"><small class="text-muted">3일 전</small></p>
                      </div>
                    </div>
                    <div class="card">
                      <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#6c757d"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
                      <div class="card-body">
                        <h5 class="card-title">카드 제목</h5>
                        <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                        <p class="card-text"><small class="text-muted">3일 전</small></p>
                      </div>
                    </div>
                  </div>
                  <!--/Component-->
                  <div class="sub-title">Card Groups(Footers)</div>
                  <!--Component-->
                  <div class="card-group">
                    <div class="card">
                      <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#6c757d"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
                      <div class="card-body">
                        <h5 class="card-title">카드 제목</h5>
                        <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted">3일 전</small>
                      </div>
                    </div>
                    <div class="card">
                      <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#6c757d"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
                      <div class="card-body">
                        <h5 class="card-title">카드 제목</h5>
                        <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted">3일 전</small>
                      </div>
                    </div>
                    <div class="card">
                      <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#6c757d"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
                      <div class="card-body">
                        <h5 class="card-title">카드 제목</h5>
                        <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted">3일 전</small>
                      </div>
                    </div>
                  </div>
                  <!--/Component-->
                  <div class="sub-title">Card decks</div>
                  <!--Component-->
                  <div class="card-deck">
                    <div class="card">
                      <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#6c757d"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
                      <div class="card-body">
                        <h5 class="card-title">카드 제목</h5>
                        <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                        <p class="card-text"><small class="text-muted">3일 전</small></p>
                      </div>
                    </div>
                    <div class="card">
                      <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#6c757d"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
                      <div class="card-body">
                        <h5 class="card-title">카드 제목</h5>
                        <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                        <p class="card-text"><small class="text-muted">3일 전</small></p>
                      </div>
                    </div>
                    <div class="card">
                      <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#6c757d"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
                      <div class="card-body">
                        <h5 class="card-title">카드 제목</h5>
                        <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                        <p class="card-text"><small class="text-muted">3일 전</small></p>
                      </div>
                    </div>
                  </div>
                  <!--/Component-->
                  <div class="sub-title">Card decks(footers)</div>
                  <!--Component-->
                  <div class="card-deck">
                    <div class="card">
                      <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#6c757d"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
                      <div class="card-body">
                        <h5 class="card-title">카드 제목</h5>
                        <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted">3일 전</small>
                      </div>
                    </div>
                    <div class="card">
                      <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#6c757d"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
                      <div class="card-body">
                        <h5 class="card-title">카드 제목</h5>
                        <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted">3일 전</small>
                      </div>
                    </div>
                    <div class="card">
                      <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#6c757d"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
                      <div class="card-body">
                        <h5 class="card-title">카드 제목</h5>
                        <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted">3일 전</small>
                      </div>
                    </div>
                  </div>
                  <!--/Component-->
                  <div class="sub-title">Card columns</div>
                  <!--Component-->
                  <div class="card-columns">
                    <div class="card">
                      <svg class="bd-placeholder-img card-img-top" width="100%" height="160" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#6c757d"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
                      <div class="card-body">
                        <h5 class="card-title">카드 제목</h5>
                        <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                      </div>
                    </div>
                    <div class="card p-3">
                      <blockquote class="blockquote mb-0 card-body">
                        <p>UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                        <footer class="blockquote-footer">
                          <small class="text-muted">
                            UX Studio <cite title="Source Title">작가</cite>
                          </small>
                        </footer>
                      </blockquote>
                    </div>
                    <div class="card">
                      <svg class="bd-placeholder-img card-img-top" width="100%" height="160" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#6c757d"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
                      <div class="card-body">
                        <h5 class="card-title">카드 제목</h5>
                        <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                        <p class="card-text"><small class="text-muted">3일 전</small></p>
                      </div>
                    </div>
                    <div class="card bg-primary text-white text-center p-3">
                      <blockquote class="blockquote mb-0">
                        <p>UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                        <footer class="blockquote-footer text-white">
                          <small>
                            UX Studio <cite title="Source Title">작가</cite>
                          </small>
                        </footer>
                      </blockquote>
                    </div>
                    <div class="card text-center">
                      <div class="card-body">
                        <h5 class="card-title">카드 제목</h5>
                        <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                        <p class="card-text"><small class="text-muted">3일 전</small></p>
                      </div>
                    </div>
                    <div class="card">
                      <svg class="bd-placeholder-img card-img" width="100%" height="260" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Card image"><title>Placeholder</title><rect width="100%" height="100%" fill="#6c757d"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Card image</text></svg>
                    </div>
                    <div class="card p-3 text-right">
                      <blockquote class="blockquote mb-0">
                        <p>UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                        <footer class="blockquote-footer">
                          <small class="text-muted">
                            UX Studio <cite title="Source Title">작가</cite>
                          </small>
                        </footer>
                      </blockquote>
                    </div>
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">카드 제목</h5>
                        <p class="card-text">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                        <p class="card-text"><small class="text-muted">3일 전</small></p>
                      </div>
                    </div>
                  </div>
                  <!--/Component-->
                </div>
              </div>
            </div>
            <!-- /toc-content -->
          </div>
        </main>
        <!-- /docs-contents -->
      </div>

      <!-- theme-go-to-top -->
      <div class="theme-go-to-top">
        <a class="ux-top-link" href="#go-to-top">
          <span class="glyphicons-top" aria-hidden="true"></span>
          <span class="sr-only">Go to Top</span>
        </a>
      </div>
      <!-- /theme-go-to-top -->
    </div>
    <!-- /wrapper -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>

    <!-- UI Script -->
    <script src="../../../assets/common/js/vendor/perfect_scrollbar_1.4.0/perfect_scrollbar.min.js"></script>
    <script src="../../../assets/common/js/ui.js"></script>
    <script src="../../../assets/common/js/demo.js"></script>
  </body>
</html>