<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1.0, user-scalable=0">
    <meta name="keyword" content="">
    <meta name="description" content="">
    <title>Bootstrap Marketing &amp; Promotion</title>
    <link rel="shortcut icon" href="../../../assets/common/img/favicon/ux.ico">
    <link rel="apple-touch-icon" href="../../../assets/common/img/favicon/ux.png">
    <link rel="stylesheet" type="text/css" href="../../../assets/mkt/css/uxs.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/mkt/css/demo.css">
  </head>
  <body>
    <!-- wrapper -->
    <div class="wrapper wrapper-fixed" id="go-to-top">
      <!-- docs-header -->
      <div class="docs-header">
        <!-- lnb-toggler -->
        <button class="navbar-toggler docs-sidebar-toggler" type="button" aria-controls="theme-lnb" aria-expanded="false" aria-label="Toggle LNB">
          <span class="navbar-toggler-icon" aria-hidden="true"></span>
          <span class="sr-only">주 메뉴 바로가기</span>
        </button>
        <!-- /lnb-toggler -->
        <!--
          navbar-brand
          React - text-react,
          Vue   - text-vue
        -->
        <span class="navbar-brand text-bootstrap">Bootstrap</span>
        <span class="navbar-brand">Marketing &amp; Promotion</span>
      </div>
      <!-- /docs-header -->
      <div class="docs-body">
        <div class="docs-sidebar" data-include="../_includes/ct-sidebar.html" data-name="carousel"></div>
        <!-- docs-contents -->
        <main class="docs-contents contents-mt">
          <div class="d-flex flex-row align-items-start mb-7 mb-md-10">
            <!-- toc -->
            <div class="toc">
              <nav class="nav flex-column js-toc-triggers">
                <a class="nav-link" href="#carousel-slides-only">Slides only</a>
                <a class="nav-link" href="#carousel-controls">With controls</a>
                <a class="nav-link" href="#carousel-indicators">With indicators</a>
                <a class="nav-link" href="#carousel-captions">With captions</a>
                <a class="nav-link" href="#carousel-crossfade">Crossfade</a>
                <a class="nav-link" href="#carousel-individual">Individual</a>
                <a class="nav-link" href="#swiper-demos">Swiper(JS) Demos</a>
              </nav>
            </div>
            <!-- /toc -->

            <!-- toc-content -->
            <div class="toc-content">
              <div>Components</div>
              <div class="component-title font-weight-bold mb-7">Carousel</div>

              <div class="card mb-5" id="carousel-slides-only">
                <div class="card-header">
                  Slides only
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <svg class="bd-placeholder-img d-block w-100" width="400" height="400" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: First slide"><title>Placeholder</title><rect width="100%" height="100%" fill="#212529"></rect><text x="50%" y="50%" fill="#fff" dy=".3em">First slide</text></svg>
                      </div>
                      <div class="carousel-item">
                        <svg class="bd-placeholder-img d-block w-100" width="400" height="400" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Second slide"><title>Placeholder</title><rect width="100%" height="100%" fill="#212529"></rect><text x="50%" y="50%" fill="#fff" dy=".3em">Second slide</text></svg>
                      </div>
                      <div class="carousel-item">
                        <svg class="bd-placeholder-img d-block w-100" width="400" height="400" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Third slide"><title>Placeholder</title><rect width="100%" height="100%" fill="#212529"></rect><text x="50%" y="50%" fill="#fff" dy=".3em">Third slide</text></svg>
                      </div>
                    </div>
                  </div>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="carousel-controls">
                <div class="card-header">
                  With controls
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                          <svg class="bd-placeholder-img d-block w-100" width="400" height="400" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: First slide"><title>Placeholder</title><rect width="100%" height="100%" fill="#212529"></rect><text x="50%" y="50%" fill="#fff" dy=".3em">First slide</text></svg>
                      </div>
                      <div class="carousel-item">
                        <svg class="bd-placeholder-img d-block w-100" width="400" height="400" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Second slide"><title>Placeholder</title><rect width="100%" height="100%" fill="#212529"></rect><text x="50%" y="50%" fill="#fff" dy=".3em">Second slide</text></svg>
                      </div>
                      <div class="carousel-item">
                        <svg class="bd-placeholder-img d-block w-100" width="400" height="400" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Third slide"><title>Placeholder</title><rect width="100%" height="100%" fill="#212529"></rect><text x="50%" y="50%" fill="#fff" dy=".3em">Third slide</text></svg>
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="carousel-indicators">
                <div class="card-header">
                  With indicators
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                          <svg class="bd-placeholder-img d-block w-100" width="400" height="400" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: First slide"><title>Placeholder</title><rect width="100%" height="100%" fill="#212529"></rect><text x="50%" y="50%" fill="#fff" dy=".3em">First slide</text></svg>
                      </div>
                      <div class="carousel-item">
                        <svg class="bd-placeholder-img d-block w-100" width="400" height="400" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Second slide"><title>Placeholder</title><rect width="100%" height="100%" fill="#212529"></rect><text x="50%" y="50%" fill="#fff" dy=".3em">Second slide</text></svg>
                      </div>
                      <div class="carousel-item">
                        <svg class="bd-placeholder-img d-block w-100" width="400" height="400" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Third slide"><title>Placeholder</title><rect width="100%" height="100%" fill="#212529"></rect><text x="50%" y="50%" fill="#fff" dy=".3em">Third slide</text></svg>
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="carousel-captions">
                <div class="card-header">
                  With captions
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <svg class="bd-placeholder-img d-block w-100" width="400" height="400" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: First slide"><title>Placeholder</title><rect width="100%" height="100%" fill="#212529"></rect><text x="50%" y="50%" fill="#fff" dy=".3em">First slide</text></svg>
                        <div class="carousel-caption d-none d-md-block">
                          <h5 class="carousel-heading">First slide label</h5>
                          <p>UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <svg class="bd-placeholder-img d-block w-100" width="400" height="400" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Second slide"><title>Placeholder</title><rect width="100%" height="100%" fill="#212529"></rect><text x="50%" y="50%" fill="#fff" dy=".3em">Second slide</text></svg>
                        <div class="carousel-caption d-none d-md-block">
                          <h5 class="carousel-heading">Second slide label</h5>
                          <p>UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <svg class="bd-placeholder-img d-block w-100" width="400" height="400" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Third slide"><title>Placeholder</title><rect width="100%" height="100%" fill="#212529"></rect><text x="50%" y="50%" fill="#fff" dy=".3em">Third slide</text></svg>
                        <div class="carousel-caption d-none d-md-block">
                          <h5 class="carousel-heading">Third slide label</h5>
                          <p>UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                        </div>
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="carousel-crossfade">
                <div class="card-header">
                  Crossfade
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <svg class="bd-placeholder-img d-block w-100" width="400" height="400" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: First slide"><title>Placeholder</title><rect width="100%" height="100%" fill="#212529"></rect><text x="50%" y="50%" fill="#fff" dy=".3em">First slide</text></svg>
                      </div>
                      <div class="carousel-item">
                        <svg class="bd-placeholder-img d-block w-100" width="400" height="400" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Second slide"><title>Placeholder</title><rect width="100%" height="100%" fill="#212529"></rect><text x="50%" y="50%" fill="#fff" dy=".3em">Second slide</text></svg>
                      </div>
                      <div class="carousel-item">
                        <svg class="bd-placeholder-img d-block w-100" width="400" height="400" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Third slide"><title>Placeholder</title><rect width="100%" height="100%" fill="#212529"></rect><text x="50%" y="50%" fill="#fff" dy=".3em">Third slide</text></svg>
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="carousel-individual">
                <div class="card-header">
                  Individual <code class="highlighter-rouge">.carousel-item</code> interval
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active" data-interval="10000">
                          <svg class="bd-placeholder-img d-block w-100" width="400" height="400" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: First slide"><title>Placeholder</title><rect width="100%" height="100%" fill="#212529"></rect><text x="50%" y="50%" fill="#fff" dy=".3em">First slide</text></svg>
                      </div>
                      <div class="carousel-item">
                        <svg class="bd-placeholder-img d-block w-100" width="400" height="400" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Second slide"><title>Placeholder</title><rect width="100%" height="100%" fill="#212529"></rect><text x="50%" y="50%" fill="#fff" dy=".3em">Second slide</text></svg>
                      </div>
                      <div class="carousel-item">
                        <svg class="bd-placeholder-img d-block w-100" width="400" height="400" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Third slide"><title>Placeholder</title><rect width="100%" height="100%" fill="#212529"></rect><text x="50%" y="50%" fill="#fff" dy=".3em">Third slide</text></svg>
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="swiper-demos">
                <div class="card-header">
                  Swiper(JS) Demos - Slides
                </div>
                <div class="card-body py-5 px-0">
                  <!--Component-->
                  <div class="swiper-container swiper-slides swiper-reviews">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <div class="user-photo">
                          <img src="../../../assets/mkt/img/contents/Profile_1.jpg" alt="">
                        </div>
                        <div class="user-name">
                          김유리, Designer
                        </div>
                        <div class="user-review">
                          “이용권과 함께 구매하니<br>더 다양한 서비스를 즐길 수 있어서 좋아요.”
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="user-photo">
                          <img src="../../../assets/mkt/img/contents/Profile_2.jpg" alt="">
                        </div>
                        <div class="user-name">
                          공효진, 교사
                        </div>
                        <div class="user-review">
                          “명령어가 간단해서 아이들이 혼자서도 충분히 활용할수 있을 것 같아요.”
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="user-photo">
                          <img src="../../../assets/mkt/img/contents/Profile_3.jpg" alt="">
                        </div>
                        <div class="user-name">
                          강하늘, 대학생
                        </div>
                        <div class="user-review">
                          “ 말하는 대로 원하는대로 세상을 깨우는 AI “
                        </div>
                      </div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                  </div>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5">
                <div class="card-header">
                  Swiper(JS) Demos - Centered Slides
                </div>
                <div class="card-body py-5 px-0">
                  <!--Component-->
                  <div class="swiper-container swiper-centered-slides swiper-service">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <div class="swiper-service-inner">
                          <div class="swiper-service-img">
                            <img src="../../../assets/mkt/img/contents/main_slide_2.jpg" alt="">
                          </div>
                          <div class="swiper-service-name">
                            두 손이 자유로운 통화
                          </div>
                          <div class="swiper-service-desc">
                            이제 멀리서 핸드폰 찾지 말고, NUGU 스피커로 편리하게 통화해보세요.<br>
                            간단한 음성명령으로 전화 수신, 취소, 통화 목록을 조회할 수 있습니다.
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="swiper-service-inner">
                          <div class="swiper-service-img">
                            <img src="../../../assets/mkt/img/contents/main_slide_3.jpg" alt="">
                          </div>
                          <div class="swiper-service-name">
                            아리아, 뽀로로 틀어줘
                          </div>
                          <div class="swiper-service-desc">
                            우리 아이들의 놀이와 학습을 위한 키즈 콘텐츠를 이용해 보세요.<br>
                            다양한 키즈 동영상과 키즈 채널은 물론 온 가족이 함께해서 더 즐거운 NUGU 키즈 서비스입니다.
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="swiper-service-inner">
                          <div class="swiper-service-img">
                            <img src="../../../assets/mkt/img/contents/main_slide_1.jpg" alt="">
                          </div>
                          <div class="swiper-service-name">
                            아리아, 즐거운 하루 보내!
                          </div>
                          <div class="swiper-service-desc">
                            NUGU와 함께 기분 좋은 인사로 하루의 아침을 열어보세요.<br>
                            오늘 날씨는 어떤지, 출근길 도로 상황은 어떤지, 당신의 삶을 더욱 풍성하고 풍요롭게 도와드립니다.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-next btn btn-outline-light"></div>
                    <div class="swiper-button-prev btn btn-outline-light"></div>
                  </div>
                  <!--/Component-->
                </div>
              </div>
            </div>
            <!-- /toc-content -->
          </div>
        </main>
        <!-- /docs-contents -->
      </div>

      <!-- theme-go-to-top -->
      <div class="theme-go-to-top">
        <a class="ux-top-link" href="#go-to-top">
          <span class="glyphicons-top" aria-hidden="true"></span>
          <span class="sr-only">Go to Top</span>
        </a>
      </div>
      <!-- /theme-go-to-top -->
    </div>
    <!-- /wrapper -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>

    <!-- UI Script -->
    <script src="../../../assets/common/js/vendor/perfect_scrollbar_1.4.0/perfect_scrollbar.min.js"></script>
    <script src="../../../assets/common/js/vendor/swiper-5.2.1/swiper.min.js"></script>
    <script src="../../../assets/common/js/ui.js"></script>
    <script src="../../../assets/common/js/demo.js"></script>
  </body>
</html>