<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1.0, user-scalable=0">
    <meta name="keyword" content="">
    <meta name="description" content="">
    <title>Bootstrap Marketing &amp; Promotion</title>
    <link rel="shortcut icon" href="../../../assets/common/img/favicon/ux.ico">
    <link rel="apple-touch-icon" href="../../../assets/common/img/favicon/ux.png">
    <link rel="stylesheet" type="text/css" href="../../../assets/mkt/css/uxs.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/mkt/css/demo.css">
  </head>
  <body>
    <!-- wrapper -->
    <div class="wrapper wrapper-fixed" id="go-to-top">
      <!-- docs-header -->
      <div class="docs-header">
        <!-- lnb-toggler -->
        <button class="navbar-toggler docs-sidebar-toggler" type="button" aria-controls="theme-lnb" aria-expanded="false" aria-label="Toggle LNB">
          <span class="navbar-toggler-icon" aria-hidden="true"></span>
          <span class="sr-only">주 메뉴 바로가기</span>
        </button>
        <!-- /lnb-toggler -->
        <!--
          navbar-brand
          React - text-react,
          Vue   - text-vue
        -->
        <span class="navbar-brand text-bootstrap">Bootstrap</span>
        <span class="navbar-brand">Marketing &amp; Promotion</span>
      </div>
      <!-- /docs-header -->
      <div class="docs-body">
        <div class="docs-sidebar" data-include="../_includes/ct-sidebar.html" data-name="dropdowns"></div>
        <!-- docs-contents -->
        <main class="docs-contents contents-mt">
          <div class="d-flex flex-row align-items-start mb-7 mb-md-10">
            <!-- toc -->
            <div class="toc">
              <nav class="nav flex-column js-toc-triggers">
                <a class="nav-link" href="#dropdowns-examples">Examples</a>
                <a class="nav-link" href="#dropdowns-justify">Justify</a>
                <a class="nav-link" href="#dropdowns-colors">Colors</a>
                <a class="nav-link" href="#dropdowns-split">Split</a>
                <a class="nav-link" href="#dropdowns-split-justify">Split (justify)</a>
                <a class="nav-link" href="#dropdowns-directions">Directions</a>
                <a class="nav-link" href="#dropdowns-sizing">Sizing</a>
                <a class="nav-link" href="#dropdowns-menu-alignment">Menu alignment</a>
                <a class="nav-link" href="#dropdowns-menu-items">Menu items</a>
                <a class="nav-link" href="#dropdowns-menu-content">Menu content</a>
              </nav>
            </div>
            <!-- /toc -->

            <!-- toc-content -->
            <div class="toc-content">
              <div>Components</div>
              <div class="component-title font-weight-bold mb-7">Dropdowns</div>

              <div class="card mb-5" id="dropdowns-examples">
                <div class="card-header">
                  Examples
                </div>
                <div class="card-body row py-5 px-4">
                  <!--Component-->
                  <div class="dropdown mr-3 mb-5">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      드롭다운(Button)
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <button class="dropdown-item disabled" type="button">드롭다운 아이템</button>
                      <button class="dropdown-item" type="button">드롭다운 아이템</button>
                      <button class="dropdown-item selected" type="button">드롭다운 아이템</button>
                      <div class="dropdown-divider"></div>
                      <button class="dropdown-item" type="button">드롭다운 아이템</button>
                    </div>
                  </div>
                  <div class="dropdown">
                    <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      드롭다운(Link)
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item disabled" href="#">드롭다운 아이템</a>
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      <a class="dropdown-item selected" href="#">드롭다운 아이템</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                    </div>
                  </div>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="dropdowns-justify">
                <div class="card-header">
                  Justify
                </div>
                <div class="card-body row py-5 px-4">
                  <!--Component-->
                  <div class="dropdown mr-3 mb-5">
                    <button
                      class="btn btn-info dropdown-toggle d-inline-flex justify-content-between align-items-center"
                      type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                      드롭다운(Button)
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                      <button class="dropdown-item disabled" type="button">드롭다운 아이템</button>
                      <button class="dropdown-item" type="button">드롭다운 아이템</button>
                      <button class="dropdown-item" type="button">드롭다운 아이템</button>
                      <div class="dropdown-divider"></div>
                      <button class="dropdown-item" type="button">드롭다운 아이템</button>
                    </div>
                  </div>
                  <div class="dropdown dropup mr-3 mb-5">
                    <a class="btn btn-info dropdown-toggle d-inline-flex justify-content-between align-items-center"
                      href="#" role="button" id="dropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                      드롭다운(Link)
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink2">
                      <a class="dropdown-item disabled" href="#">드롭다운 아이템</a>
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                    </div>
                  </div>
                  <div class="dropdown dropright mr-3 mb-5">
                    <button
                      class="btn btn-info dropdown-toggle d-inline-flex justify-content-between align-items-center"
                      type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                      드롭다운(Button)
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                      <button class="dropdown-item disabled" type="button">드롭다운 아이템</button>
                      <button class="dropdown-item" type="button">드롭다운 아이템</button>
                      <button class="dropdown-item" type="button">드롭다운 아이템</button>
                      <div class="dropdown-divider"></div>
                      <button class="dropdown-item" type="button">드롭다운 아이템</button>
                    </div>
                  </div>
                  <div class="dropdown dropleft">
                    <a class="btn btn-info dropdown-toggle d-inline-flex justify-content-between align-items-center"
                      href="#" role="button" id="dropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                      드롭다운(Link)
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink2">
                      <a class="dropdown-item disabled" href="#">드롭다운 아이템</a>
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                    </div>
                  </div>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="dropdowns-colors">
                <div class="card-header">
                  Colors
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <div class="row">
                    <!-- primary -->
                    <div class="dropdown mr-3 mb-5">
                      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Primary
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      </div>
                    </div>
                    <!-- /primary -->
                    <!-- secondary -->
                    <div class="dropdown mr-3 mb-5">
                      <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Secondary
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      </div>
                    </div>
                    <!-- /secondary -->
                    <!-- success -->
                    <div class="dropdown mr-3 mb-5">
                      <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Success
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      </div>
                    </div>
                    <!-- /success -->
                    <!-- danger(error) -->
                    <div class="dropdown mr-3 mb-5">
                      <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Danger/Error
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      </div>
                    </div>
                    <!-- /danger(error) -->
                    <!-- info -->
                    <div class="dropdown mr-3 mb-5">
                      <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Info
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      </div>
                    </div>
                    <!-- /info -->
                    <!-- warning -->
                    <div class="dropdown mr-3 mb-5">
                      <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Warning
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      </div>
                    </div>
                    <!-- /warning -->
                    <!-- light -->
                    <div class="dropdown mr-3 mb-5">
                      <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Warning
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      </div>
                    </div>
                    <!-- /light -->
                    <!-- dark -->
                    <div class="dropdown mr-3 mb-5">
                      <button class="btn btn-dark dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Warning
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      </div>
                    </div>
                    <!-- /dark -->
                  </div>
                  <div class="row">
                    <!-- primary -->
                    <div class="dropdown mr-3 mb-5">
                      <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Primary
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      </div>
                    </div>
                    <!-- /primary -->
                    <!-- secondary -->
                    <div class="dropdown mr-3 mb-5">
                      <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Secondary
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      </div>
                    </div>
                    <!-- /secondary -->
                    <!-- success -->
                    <div class="dropdown mr-3 mb-5">
                      <button class="btn btn-outline-success dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Success
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      </div>
                    </div>
                    <!-- /success -->
                    <!-- danger(error) -->
                    <div class="dropdown mr-3 mb-5">
                      <button class="btn btn-outline-danger dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Danger/Error
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      </div>
                    </div>
                    <!-- /danger(error) -->
                    <!-- info -->
                    <div class="dropdown mr-3 mb-5">
                      <button class="btn btn-outline-info dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Info
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      </div>
                    </div>
                    <!-- /info -->
                    <!-- warning -->
                    <div class="dropdown mr-3 mb-5">
                      <button class="btn btn-outline-warning dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Warning
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      </div>
                    </div>
                    <!-- /warning -->
                    <!-- light -->
                    <div class="dropdown mr-3 mb-5">
                      <button class="btn btn-outline-light dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Warning
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      </div>
                    </div>
                    <!-- /light -->
                    <!-- dark -->
                    <div class="dropdown mr-3 mb-5">
                      <button class="btn btn-outline-dark dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Warning
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      </div>
                    </div>
                    <!-- /dark -->
                  </div>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="dropdowns-split">
                <div class="card-header">
                  Split
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <div class="row">
                    <!-- primary -->
                    <div class="btn-group mr-3 mb-5">
                      <button type="button" class="btn btn-primary">드롭다운</button>
                      <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      </div>
                    </div>
                    <!-- /primary -->
                    <!-- secondary -->
                    <div class="btn-group mr-3 mb-5">
                      <button type="button" class="btn btn-secondary">드롭다운</button>
                      <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      </div>
                    </div>
                    <!-- /secondary -->
                    <!-- success -->
                    <div class="btn-group mr-3 mb-5">
                      <button type="button" class="btn btn-success">드롭다운</button>
                      <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      </div>
                    </div>
                    <!-- /success -->
                    <!-- danger(error) -->
                    <div class="btn-group mr-3 mb-5">
                      <button type="button" class="btn btn-danger">드롭다운</button>
                      <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      </div>
                    </div>
                    <!-- /danger(error) -->
                    <!-- info -->
                    <div class="btn-group mr-3 mb-5">
                      <button type="button" class="btn btn-info">드롭다운</button>
                      <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      </div>
                    </div>
                    <!-- /info -->
                    <!-- warning -->
                    <div class="btn-group mr-3 mb-5">
                      <button type="button" class="btn btn-warning">드롭다운</button>
                      <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      </div>
                    </div>
                    <!-- /warning -->
                    <!-- light -->
                    <div class="btn-group mr-3 mb-5">
                      <button type="button" class="btn btn-light">드롭다운</button>
                      <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      </div>
                    </div>
                    <!-- /light -->
                    <!-- dark -->
                    <div class="btn-group mb-5">
                      <button type="button" class="btn btn-dark">드롭다운</button>
                      <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      </div>
                    </div>
                    <!-- /dark -->
                  </div>
                  <div class="row">
                    <!-- primary -->
                    <div class="btn-group btn-group-split-primary mr-3 mb-5">
                      <button type="button" class="btn btn-ghost-primary">드롭다운</button>
                      <button type="button" class="btn btn-ghost-primary dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      </div>
                    </div>
                    <!-- /primary -->
                    <!-- secondary -->
                    <div class="btn-group btn-group-split-secondary mr-3 mb-5">
                      <button type="button" class="btn btn-ghost-secondary">드롭다운</button>
                      <button type="button" class="btn btn-ghost-secondary dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      </div>
                    </div>
                    <!-- /secondary -->
                    <!-- success -->
                    <div class="btn-group btn-group-split-success mr-3 mb-5">
                      <button type="button" class="btn btn-ghost-success">드롭다운</button>
                      <button type="button" class="btn btn-ghost-success dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      </div>
                    </div>
                    <!-- /success -->
                    <!-- danger(error) -->
                    <div class="btn-group btn-group-split-danger mr-3 mb-5">
                      <button type="button" class="btn btn-ghost-danger">드롭다운</button>
                      <button type="button" class="btn btn-ghost-danger dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      </div>
                    </div>
                    <!-- /danger(error) -->
                    <!-- info -->
                    <div class="btn-group btn-group-split-info mr-3 mb-5">
                      <button type="button" class="btn btn-ghost-info">드롭다운</button>
                      <button type="button" class="btn btn-ghost-info dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      </div>
                    </div>
                    <!-- /info -->
                    <!-- warning -->
                    <div class="btn-group btn-group-split-warning mr-3 mb-5">
                      <button type="button" class="btn btn-ghost-warning">드롭다운</button>
                      <button type="button" class="btn btn-ghost-warning dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      </div>
                    </div>
                    <!-- /warning -->
                    <!-- light -->
                    <div class="btn-group btn-group-split-light mr-3 mb-5">
                      <button type="button" class="btn btn-ghost-light">드롭다운</button>
                      <button type="button" class="btn btn-ghost-light dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      </div>
                    </div>
                    <!-- /light -->
                    <!-- dark -->
                    <div class="btn-group btn-group-split-dark mb-5">
                      <button type="button" class="btn btn-ghost-dark">드롭다운</button>
                      <button type="button" class="btn btn-ghost-dark dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      </div>
                    </div>
                    <!-- /dark -->
                  </div>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="dropdowns-split-justify">
                <div class="card-header">
                  Split(justify)
                </div>
                <div class="card-body row py-5 px-4">
                  <!--Component-->
                  <div class="btn-group mr-3 mb-5 mr-3">
                    <button type="button" class="btn btn-info text-left" style="width: 130px;">드롭다운</button>
                    <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                    </div>
                  </div>
                  <div class="btn-group dropup mr-3 mb-5">
                    <button type="button" class="btn btn-info text-left" style="width: 130px;">드롭다운</button>
                    <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                    </div>
                  </div>
                  <div class="btn-group dropright mb-5 mr-3">
                    <button type="button" class="btn btn-info text-left" style="width: 130px;">드롭다운</button>
                    <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                    </div>
                  </div>
                  <div class="btn-group mb-5">
                    <div class="btn-group dropleft" role="group">
                      <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      </div>
                    </div>
                    <button type="button" class="btn btn-info text-right" style="width: 130px;">
                      드롭다운
                    </button>
                  </div>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="dropdowns-directions">
                <div class="card-header">
                  Directions
                </div>
                <div class="card-body row py-5 px-4">
                  <!--Component-->
                  <!-- dropup -->
                  <div class="btn-group dropup mr-3 mb-5">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      Dropup
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                    </div>
                  </div>
                  <!-- /dropup -->
                  <!-- split dropup -->
                  <div class="btn-group dropup mr-3 mb-5">
                    <button type="button" class="btn btn-secondary">
                      Split dropup
                    </button>
                    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                    </div>
                  </div>
                  <!-- /split dropup -->
                  <!-- dropright -->
                  <div class="btn-group dropright mr-3 mb-5">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      Dropright
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                    </div>
                  </div>
                  <!-- /dropright -->
                  <!-- split dropright -->
                  <div class="btn-group dropright mr-3 mb-5">
                    <button type="button" class="btn btn-danger">
                      Split dropright
                    </button>
                    <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                    </div>
                  </div>
                  <!-- /split dropright -->
                  <!-- dropleft -->
                  <div class="btn-group dropleft mr-3 mb-5">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      Dropleft
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                    </div>
                  </div>
                  <!-- /dropleft -->
                  <!-- split dropleft -->
                  <div class="btn-group mb-5">
                    <div class="btn-group dropleft" role="group">
                      <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropleft</span>
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      </div>
                    </div>
                    <button type="button" class="btn btn-warning">
                      Split dropleft
                    </button>
                  </div>
                  <!-- /split dropleft -->
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="dropdowns-sizing">
                <div class="card-header">
                  Sizing
                </div>
                <div class="card-body row py-5 px-4">
                  <!--Component-->
                  <!-- large button -->
                  <div class="btn-group mr-3 mb-5">
                    <div class="dropdown">
                      <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        라지 드롭다운
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      </div>
                    </div>
                  </div>
                  <!-- /large button -->
                  <!-- medium button -->
                  <div class="btn-group mr-3 mb-5">
                    <div class="dropdown">
                      <button class="btn btn-secondary btn-md dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        미디엄 드롭다운
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      </div>
                    </div>
                  </div>
                  <!-- /medium button -->
                  <!-- small button -->
                  <div class="btn-group mr-3 mb-5">
                    <div class="dropdown">
                      <button class="btn btn-success btn-sm dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        스몰 드롭다운
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                        <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      </div>
                    </div>
                  </div>
                  <!-- /small button -->
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="dropdowns-menu-alignment">
                <div class="card-header">
                  Menu alignment
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <div class="btn-group mr-3 mb-5">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      Right-aligned menu
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                    </div>
                  </div>
                  <div class="btn-group mr-3 mb-5">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      Left-aligned menu
                    </button>
                    <div class="dropdown-menu dropdown-menu-left">
                      <button class="dropdown-item" type="button">드롭다운 아이템</button>
                      <button class="dropdown-item" type="button">드롭다운 아이템</button>
                      <button class="dropdown-item" type="button">드롭다운 아이템</button>
                    </div>
                  </div>
                  <div class="btn-group w-100 mr-3 mb-5" style="max-width: 400px;">
                    <button type="button" class="btn btn-secondary dropdown-toggle d-flex align-items-center w-100" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                      <span class="d-inline-block w-100 text-left text-truncate">Left-aligned but right aligned when large screen</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-lg-right">
                      <button class="dropdown-item" type="button">드롭다운 아이템</button>
                      <button class="dropdown-item" type="button">드롭다운 아이템</button>
                      <button class="dropdown-item" type="button">드롭다운 아이템</button>
                    </div>
                  </div>
                  <div class="btn-group w-100 mr-3 mb-5" style="max-width: 400px;">
                    <button type="button" class="btn btn-secondary dropdown-toggle d-flex align-items-center w-100" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                      <span class="d-inline-block w-100 text-left text-truncate">Right-aligned but left aligned when large screen</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                      <button class="dropdown-item" type="button">드롭다운 아이템</button>
                      <button class="dropdown-item" type="button">드롭다운 아이템</button>
                      <button class="dropdown-item" type="button">드롭다운 아이템</button>
                    </div>
                  </div>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="dropdowns-menu-items">
                <div class="card-header">
                  Menu items
                </div>
                <div class="card-body row py-5 px-4">
                  <!--Component-->
                  <div class="dropdown mr-3 mb-5">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="true">
                      Item Text &amp; Link
                    </button>
                    <div class="dropdown-menu">
                      <span class="dropdown-item-text">드롭다운 아이템</span>
                      <a class="dropdown-item" href="#">
                        드롭다운 아이템
                      </a>
                      <a class="dropdown-item" href="#">
                        드롭다운 아이템
                      </a>
                      <a class="dropdown-item" href="#">
                        드롭다운 아이템
                      </a>
                    </div>
                  </div>
                  <div class="dropdown mr-3 mb-5">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="true">
                      Menu Hover
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      <a class="dropdown-item hover" href="#">드롭다운 아이템(Hover)</a>
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                    </div>
                  </div>
                  <div class="dropdown mr-3 mb-5">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="true">
                      Menu Active
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      <a class="dropdown-item active" href="#">드롭다운 아이템(Active)</a>
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                    </div>
                  </div>
                  <div class="dropdown mr-3 mb-5">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="true">
                      Menu Disabled
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      <a class="dropdown-item disabled" href="#">드롭다운 아이템(Disabled)</a>
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                    </div>
                  </div>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="dropdowns-menu-content">
                <div class="card-header">
                  Menu content
                </div>
                <div class="card-body row py-5 px-4">
                  <!--Component-->
                  <div class="dropdown mr-3 mb-5">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="true">
                      Dropdown header
                    </button>
                    <div class="dropdown-menu">
                      <h6 class="dropdown-header">드롭다운(header)</h6>
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                    </div>
                  </div>
                  <div class="dropdown mr-3 mb-5">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="true">
                      Dropdown Separated link
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">드롭다운 아이템</a>
                    </div>
                  </div>
                  <div class="dropdown mr-3 mb-5">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="true">
                      Dropdown Text
                    </button>
                    <div class="dropdown-menu p-4 text-muted">
                      <p class="text-grays-7">
                        UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.
                      </p>
                      <p class="mb-0 text-grays-7">
                        1일 전
                      </p>
                    </div>
                  </div>
                  <!--/Component-->
                </div>
              </div>
            </div>
            <!-- /toc-content -->
          </div>
        </main>
        <!-- /docs-contents -->
      </div>

      <!-- theme-go-to-top -->
      <div class="theme-go-to-top">
        <a class="ux-top-link" href="#go-to-top">
          <span class="glyphicons-top" aria-hidden="true"></span>
          <span class="sr-only">Go to Top</span>
        </a>
      </div>
      <!-- /theme-go-to-top -->
    </div>
    <!-- /wrapper -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>

    <!-- UI Script -->
    <script src="../../../assets/common/js/vendor/perfect_scrollbar_1.4.0/perfect_scrollbar.min.js"></script>
    <script src="../../../assets/common/js/ui.js"></script>
    <script src="../../../assets/common/js/demo.js"></script>
  </body>
</html>