<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1.0, user-scalable=0">
    <meta name="keyword" content="">
    <meta name="description" content="">
    <title>Bootstrap Marketing &amp; Promotion</title>
    <link rel="shortcut icon" href="../../../assets/common/img/favicon/ux.ico">
    <link rel="apple-touch-icon" href="../../../assets/common/img/favicon/ux.png">
    <link rel="stylesheet" type="text/css" href="../../../assets/mkt/css/uxs.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/mkt/css/demo.css">
  </head>
  <body>
    <!-- wrapper -->
    <div class="wrapper wrapper-fixed" id="go-to-top">
      <!-- docs-header -->
      <div class="docs-header">
        <!-- lnb-toggler -->
        <button class="navbar-toggler docs-sidebar-toggler" type="button" aria-controls="theme-lnb" aria-expanded="false" aria-label="Toggle LNB">
          <span class="navbar-toggler-icon" aria-hidden="true"></span>
          <span class="sr-only">주 메뉴 바로가기</span>
        </button>
        <!-- /lnb-toggler -->
        <!--
          navbar-brand
          React - text-react,
          Vue   - text-vue
        -->
        <span class="navbar-brand text-bootstrap">Bootstrap</span>
        <span class="navbar-brand">Marketing &amp; Promotion</span>
      </div>
      <!-- /docs-header -->
      <div class="docs-body">
        <div class="docs-sidebar" data-include="../_includes/ct-sidebar.html" data-name="list_group"></div>
        <!-- docs-contents -->
        <main class="docs-contents contents-mt">
          <div class="d-flex flex-row align-items-start mb-7 mb-md-10">
            <!-- toc -->
            <div class="toc">
              <nav class="nav flex-column js-toc-triggers">
                <a class="nav-link" href="#listgroup-examples">Examples</a>
                <a class="nav-link" href="#listgroup-active">Active items</a>
                <a class="nav-link" href="#listgroup-disabled">Disabled items</a>
                <a class="nav-link" href="#listgroup-links-btn">Links and buttons</a>
                <a class="nav-link" href="#listgroup-flush">Flush</a>
                <a class="nav-link" href="#listgroup-horizontal">Horizontal</a>
                <a class="nav-link" href="#listgroup-contextual">Contextual classes</a>
                <a class="nav-link" href="#listgroup-badges">With badges</a>
                <a class="nav-link" href="#listgroup-custom">Custom content</a>
                <a class="nav-link" href="#listgroup-js-behavior">JavaScript behavior</a>
              </nav>
            </div>
            <!-- /toc -->

            <!-- toc-content -->
            <div class="toc-content">
              <div>Components</div>
              <div class="component-title font-weight-bold mb-7">List group</div>

              <div class="card mb-5" id="listgroup-examples">
                <div class="card-header">
                  Examples
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <ul class="list-group">
                    <li class="list-group-item">리스트 그룹 아이템</li>
                    <li class="list-group-item">리스트 그룹 아이템</li>
                    <li class="list-group-item">리스트 그룹 아이템</li>
                    <li class="list-group-item">리스트 그룹 아이템</li>
                    <li class="list-group-item">리스트 그룹 아이템</li>
                  </ul>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="listgroup-active">
                <div class="card-header">
                  Active items
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <ul class="list-group">
                    <li class="list-group-item active">리스트 그룹 아이템</li>
                    <li class="list-group-item">리스트 그룹 아이템</li>
                    <li class="list-group-item">리스트 그룹 아이템</li>
                    <li class="list-group-item">리스트 그룹 아이템</li>
                    <li class="list-group-item">리스트 그룹 아이템</li>
                  </ul>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="listgroup-disabled">
                <div class="card-header">
                  Disabled items
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <ul class="list-group">
                    <li class="list-group-item disabled" aria-disabled="true">리스트 그룹 아이템</li>
                    <li class="list-group-item">리스트 그룹 아이템</li>
                    <li class="list-group-item">리스트 그룹 아이템</li>
                    <li class="list-group-item">리스트 그룹 아이템</li>
                    <li class="list-group-item">리스트 그룹 아이템</li>
                  </ul>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="listgroup-links-btn">
                <div class="card-header">
                  Links and buttons
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active">
                      리스트 그룹 아이템
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">리스트 그룹 아이템</a>
                    <a href="#" class="list-group-item list-group-item-action">리스트 그룹 아이템</a>
                    <a href="#" class="list-group-item list-group-item-action">리스트 그룹 아이템</a>
                    <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">리스트 그룹 아이템</a>
                  </div>
                  <hr class="ct-hr">
                  <div class="list-group">
                    <button type="button" class="list-group-item list-group-item-action active">
                      리스트 그룹 아이템
                    </button>
                    <button type="button" class="list-group-item list-group-item-action">리스트 그룹 아이템</button>
                    <button type="button" class="list-group-item list-group-item-action">리스트 그룹 아이템</button>
                    <button type="button" class="list-group-item list-group-item-action">리스트 그룹 아이템</button>
                    <button type="button" class="list-group-item list-group-item-action" disabled>리스트 그룹 아이템</button>
                  </div>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="listgroup-flush">
                <div class="card-header">
                  Flush
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">리스트 그룹 아이템</li>
                    <li class="list-group-item">리스트 그룹 아이템</li>
                    <li class="list-group-item">리스트 그룹 아이템</li>
                    <li class="list-group-item">리스트 그룹 아이템</li>
                    <li class="list-group-item">리스트 그룹 아이템</li>
                  </ul>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="listgroup-horizontal">
                <div class="card-header">
                  Horizontal
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <ul class="list-group list-group-horizontal">
                    <li class="list-group-item">리스트 그룹 아이템</li>
                    <li class="list-group-item">리스트 그룹 아이템</li>
                    <li class="list-group-item">리스트 그룹 아이템</li>
                  </ul>
                  <!--/Component-->
                  <div class="sub-title">list-group-horizontal-{sm}</div>
                  <!--Component-->
                  <ul class="list-group list-group-horizontal-sm">
                    <li class="list-group-item">리스트 그룹 아이템</li>
                    <li class="list-group-item">리스트 그룹 아이템</li>
                    <li class="list-group-item">리스트 그룹 아이템</li>
                  </ul>
                  <!--/Component-->
                  <div class="sub-title">list-group-horizontal-{md}</div>
                  <!--Component-->
                  <ul class="list-group list-group-horizontal-md">
                    <li class="list-group-item">리스트 그룹 아이템</li>
                    <li class="list-group-item">리스트 그룹 아이템</li>
                    <li class="list-group-item">리스트 그룹 아이템</li>
                  </ul>
                  <!--/Component-->
                  <div class="sub-title">list-group-horizontal-{lg}</div>
                  <!--Component-->
                  <ul class="list-group list-group-horizontal-lg">
                    <li class="list-group-item">리스트 그룹 아이템</li>
                    <li class="list-group-item">리스트 그룹 아이템</li>
                    <li class="list-group-item">리스트 그룹 아이템</li>
                  </ul>
                  <!--/Component-->
                  <div class="sub-title">list-group-horizontal-{xl}</div>
                  <!--Component-->
                  <ul class="list-group list-group-horizontal-xl">
                    <li class="list-group-item">리스트 그룹 아이템</li>
                    <li class="list-group-item">리스트 그룹 아이템</li>
                    <li class="list-group-item">리스트 그룹 아이템</li>
                  </ul>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="listgroup-contextual">
                <div class="card-header">
                  Contextual classes
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <ul class="list-group">
                    <li class="list-group-item">리스트 그룹 아이템</li>
                    <li class="list-group-item list-group-item-primary">리스트 그룹 아이템</li>
                    <li class="list-group-item list-group-item-secondary">리스트 그룹 아이템</li>
                    <li class="list-group-item list-group-item-success">리스트 그룹 아이템</li>
                    <li class="list-group-item list-group-item-danger">리스트 그룹 아이템</li>
                    <li class="list-group-item list-group-item-warning">리스트 그룹 아이템</li>
                    <li class="list-group-item list-group-item-info">리스트 그룹 아이템</li>
                    <li class="list-group-item list-group-item-light">리스트 그룹 아이템</li>
                    <li class="list-group-item list-group-item-dark">리스트 그룹 아이템</li>
                  </ul>
                  <!--/Component-->
                  <div class="sub-title">Hover Styles</div>
                  <!--Component-->
                  <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">리스트 그룹 아이템</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-primary">리스트 그룹 아이템</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">리스트 그룹 아이템</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-success">리스트 그룹 아이템</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">리스트 그룹 아이템</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-warning">리스트 그룹 아이템</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-info">리스트 그룹 아이템</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-light">리스트 그룹 아이템</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-dark">리스트 그룹 아이템</a>
                  </div>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="listgroup-badges">
                <div class="card-header">
                  With badges
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      리스트 그룹 아이템
                      <span class="badge badge-primary badge-pill">14</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      리스트 그룹 아이템
                      <span class="badge badge-primary badge-pill">2</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      리스트 그룹 아이템
                      <span class="badge badge-primary badge-pill">1</span>
                    </li>
                    <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">
                      리스트 그룹 아이템
                      <span class="badge badge-light">25</span>
                    </li>
                    <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                      리스트 그룹 아이템
                      <span class="badge badge-light">33</span>
                    </li>
                    <li class="list-group-item d-flex list-group-item-info justify-content-between align-items-center">
                      리스트 그룹 아이템
                      <span class="badge badge-light">100</span>
                    </li>
                  </ul>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="listgroup-custom">
                <div class="card-header">
                  Custom content
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="list-group-item-title mb-1">리스트 그룹 아이템 제목</h5>
                        <small>1일 전</small>
                      </div>
                      <p class="mb-1">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                      <small>이를 위해, 가이드, 문서, 테마&패키지, UX 점검 및 커뮤니티 기능을 제공합니다.</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="list-group-item-title mb-1">리스트 그룹 아이템 제목</h5>
                        <small class="text-muted">1일 전</small>
                      </div>
                      <p class="mb-1">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                      <small class="text-muted">이를 위해, 가이드, 문서, 테마&패키지, UX 점검 및 커뮤니티 기능을 제공합니다.</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="list-group-item-title mb-1">리스트 그룹 아이템 제목</h5>
                        <small class="text-muted">1일 전</small>
                      </div>
                      <p class="mb-1">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                      <small class="text-muted">이를 위해, 가이드, 문서, 테마&패키지, UX 점검 및 커뮤니티 기능을 제공합니다.</small>
                    </a>
                  </div>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="listgroup-js-behavior">
                <div class="card-header">
                  JavaScript behavior
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <div class="row">
                    <div class="col-4">
                      <div class="list-group" id="list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Home</a>
                        <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Profile</a>
                        <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Messages</a>
                        <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Settings</a>
                      </div>
                    </div>
                    <div class="col-8">
                      <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">본 가이드는 SK 텔레콤 서비스 UX/UI 디자인의 공통적인 방향성과 기준점을 제시하기 위해 제작되었습니다. 특히 조직 내에 디자인 전문 인력이 없는 경우에도 본 가이드의 내용을 참고하여 서비스를 기획하고 개발할 수 있도록 UX/UI 디자인에 필요한 가장 기본적인 사항들을 중심으로 내용을 구성하였습니다.</div>
                        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">본 가이드는 SK 텔레콤 서비스 UX/UI 디자인의 공통적인 방향성과 기준점을 제시하기 위해 제작되었습니다. 특히 조직 내에 디자인 전문 인력이 없는 경우에도 본 가이드의 내용을 참고하여 서비스를 기획하고 개발할 수 있도록 UX/UI 디자인에 필요한 가장 기본적인 사항들을 중심으로 내용을 구성하였습니다.</div>
                        <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">본 가이드는 SK 텔레콤 서비스 UX/UI 디자인의 공통적인 방향성과 기준점을 제시하기 위해 제작되었습니다. 특히 조직 내에 디자인 전문 인력이 없는 경우에도 본 가이드의 내용을 참고하여 서비스를 기획하고 개발할 수 있도록 UX/UI 디자인에 필요한 가장 기본적인 사항들을 중심으로 내용을 구성하였습니다.</div>
                        <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">본 가이드는 SK 텔레콤 서비스 UX/UI 디자인의 공통적인 방향성과 기준점을 제시하기 위해 제작되었습니다. 특히 조직 내에 디자인 전문 인력이 없는 경우에도 본 가이드의 내용을 참고하여 서비스를 기획하고 개발할 수 있도록 UX/UI 디자인에 필요한 가장 기본적인 사항들을 중심으로 내용을 구성하였습니다.</div>
                      </div>
                    </div>
                  </div>
                  <!--/Component-->
                </div>
              </div>
            </div>
            <!-- /toc-content -->
          </div>
        </main>
        <!-- /docs-contents -->
      </div>

      <!-- theme-go-to-top -->
      <div class="theme-go-to-top">
        <a class="ux-top-link" href="#go-to-top">
          <span class="glyphicons-top" aria-hidden="true"></span>
          <span class="sr-only">Go to Top</span>
        </a>
      </div>
      <!-- /theme-go-to-top -->
    </div>
    <!-- /wrapper -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>

    <!-- UI Script -->
    <script src="../../../assets/common/js/vendor/perfect_scrollbar_1.4.0/perfect_scrollbar.min.js"></script>
    <script src="../../../assets/common/js/ui.js"></script>
    <script src="../../../assets/common/js/demo.js"></script>
  </body>
</html>