<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1.0, user-scalable=0">
    <meta name="keyword" content="">
    <meta name="description" content="">
    <title>Bootstrap Marketing &amp; Promotion</title>
    <link rel="shortcut icon" href="../../../assets/common/img/favicon/ux.ico">
    <link rel="apple-touch-icon" href="../../../assets/common/img/favicon/ux.png">
    <link rel="stylesheet" type="text/css" href="../../../assets/mkt/css/uxs.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/mkt/css/demo.css">
  </head>
  <body>
    <!-- wrapper -->
    <div class="wrapper wrapper-fixed" id="go-to-top">
      <!-- docs-header -->
      <div class="docs-header">
        <!-- lnb-toggler -->
        <button class="navbar-toggler docs-sidebar-toggler" type="button" aria-controls="theme-lnb" aria-expanded="false" aria-label="Toggle LNB">
          <span class="navbar-toggler-icon" aria-hidden="true"></span>
          <span class="sr-only">주 메뉴 바로가기</span>
        </button>
        <!-- /lnb-toggler -->
        <!--
          navbar-brand
          React - text-react,
          Vue   - text-vue
        -->
        <span class="navbar-brand text-bootstrap">Bootstrap</span>
        <span class="navbar-brand">Marketing &amp; Promotion</span>
      </div>
      <!-- /docs-header -->
      <div class="docs-body">
        <div class="docs-sidebar" data-include="../_includes/ct-sidebar.html" data-name="navbar"></div>
        <!-- docs-contents -->
        <main class="docs-contents contents-mt">
          <div class="d-flex flex-row align-items-start mb-7 mb-md-10">
            <!-- toc -->
            <div class="toc">
              <nav class="nav flex-column js-toc-triggers">
                <a class="nav-link" href="#navbar-examples">Examples</a>
                <a class="nav-link" href="#navbar-color">Color schemes</a>
                <a class="nav-link" href="#navbar-containers">Containers</a>
                <a class="nav-link" href="#navbar-placement">Placement</a>
                <a class="nav-link" href="#navbar-responsive">Responsive behaviors</a>
                <a class="nav-link" href="#navbar-external">External content</a>
              </nav>
            </div>
            <!-- /toc -->

            <!-- toc-content -->
            <div class="toc-content">
              <div>Components</div>
              <div class="component-title font-weight-bold mb-7">Navbar</div>

              <div class="card mb-5" id="navbar-examples">
                <div class="card-header">
                  Examples
                </div>
                <div class="card-body py-5 px-4 bg-grays-1">
                  <!--Component-->
                  <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="#">브랜드</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="#">메뉴 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">메뉴</a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                          </div>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">메뉴(Disabled)</a>
                        </li>
                      </ul>
                      <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="검색" aria-label="Search">
                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">검색</button>
                      </form>
                    </div>
                  </nav>
                  <!--/Component-->
                  <div class="sub-title">Brand(Link)</div>
                  <!--Component-->
                  <nav class="navbar navbar-light">
                    <a class="navbar-brand" href="#">브랜드</a>
                  </nav>
                  <!--/Component-->
                  <div class="sub-title">Brand(heading)</div>
                  <!--Component-->
                  <nav class="navbar navbar-light">
                    <span class="navbar-brand mb-0 h1">Navbar</span>
                  </nav>
                  <!--/Component-->
                  <div class="sub-title">Brand(Image)</div>
                  <!--Component-->
                  <nav class="navbar navbar-light">
                    <a class="navbar-brand" href="#">
                      <img src="../../../assets/mkt/img/svg/brand_dark.svg" width="76" height="15" alt="">
                    </a>
                  </nav>
                  <!--/Component-->
                  <div class="sub-title">Brand(Image and Text)</div>
                  <!--Component-->
                  <nav class="navbar navbar-light">
                    <a class="navbar-brand text-grays-7" href="#">
                      <img src="../../../assets/mkt/img/svg/brand_dark.svg" width="76" height="15" class="mb-1 mr-1" alt="">
                      Subtitle
                    </a>
                  </nav>
                  <!--/Component-->
                  <div class="sub-title">Nav(List)</div>
                  <!--Component-->
                  <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="#">브랜드</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                      <ul class="navbar-nav">
                        <li class="nav-item active">
                          <a class="nav-link" href="#">메뉴 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">메뉴</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">메뉴</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">메뉴(Disabled)</a>
                        </li>
                      </ul>
                    </div>
                  </nav>
                  <!--/Component-->
                  <div class="sub-title">Nav(Link)</div>
                  <!--Component-->
                  <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="#">브랜드</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                      <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="#">메뉴 <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" href="#">메뉴</a>
                        <a class="nav-item nav-link" href="#">메뉴</a>
                        <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">메뉴(Disabled)</a>
                      </div>
                    </div>
                  </nav>
                  <!--/Component-->
                  <div class="sub-title">Nav(Dropdown)</div>
                  <!--Component-->
                  <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="#">브랜드</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                      <ul class="navbar-nav">
                        <li class="nav-item active">
                          <a class="nav-link" href="#">메뉴 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">메뉴</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">메뉴</a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown link
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </nav>
                  <!--/Component-->
                  <div class="sub-title">Forms</div>
                  <!--Component-->
                  <nav class="navbar navbar-light">
                    <form class="form-inline">
                      <input class="form-control mr-sm-2" type="search" placeholder="검색" aria-label="검색">
                      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">검색</button>
                    </form>
                  </nav>
                  <br>
                  <nav class="navbar navbar-light">
                    <a class="navbar-brand">Navbar</a>
                    <form class="form-inline">
                      <input class="form-control mr-sm-2" type="search" placeholder="검색" aria-label="검색">
                      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">검색</button>
                    </form>
                  </nav>
                  <br>
                  <nav class="navbar navbar-light">
                    <form class="form-inline">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">@</span>
                        </div>
                        <input type="text" class="form-control" placeholder="이름" aria-label="이름" aria-describedby="basic-addon1">
                      </div>
                    </form>
                  </nav>
                  <!--/Component-->
                  <div class="sub-title">Button</div>
                  <!--Component-->
                  <nav class="navbar navbar-light">
                    <form class="form-inline">
                      <button class="btn btn-outline-light mr-2" type="button">버튼</button>
                      <button class="btn btn-sm btn-outline-secondary" type="button">버튼</button>
                    </form>
                  </nav>
                  <!--/Component-->
                  <div class="sub-title">Text</div>
                  <!--Component-->
                  <nav class="navbar navbar-light">
                    <span class="navbar-text">
                      UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.
                    </span>
                  </nav>
                  <!--/Component-->
                  <div class="sub-title">Text(Mix)</div>
                  <!--Component-->
                  <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="#">Navbar w/ text</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="#">메뉴 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">메뉴</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">메뉴</a>
                        </li>
                      </ul>
                      <span class="navbar-text">
                        Navbar text with an inline element
                      </span>
                    </div>
                  </nav>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="navbar-color">
                <div class="card-header">
                  Color schemes
                </div>
                <div class="card-body py-5 px-4 bg-grays-1">
                  <!--Component-->
                  <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="#">
                      <img src="../../../assets/mkt/img/svg/brand_dark.svg" width="76" height="15" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="#">메뉴 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                          </div>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">메뉴(Disabled)</a>
                        </li>
                      </ul>
                      <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="검색" aria-label="검색">
                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">검색</button>
                      </form>
                    </div>
                  </nav>
                  <br>
                  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                    <a class="navbar-brand" href="#">
                      <img src="../../../assets/mkt/img/svg/brand_white.svg" width="76" height="15" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="#">메뉴 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                          </div>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">메뉴(Disabled)</a>
                        </li>
                      </ul>
                      <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="검색" aria-label="검색">
                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">검색</button>
                      </form>
                    </div>
                  </nav>
                  <br>
                  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #6c757d;">
                    <a class="navbar-brand" href="#">
                      <img src="../../../assets/mkt/img/svg/brand_white.svg" width="76" height="15" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="#">메뉴 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                          </div>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">메뉴(Disabled)</a>
                        </li>
                      </ul>
                      <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="검색" aria-label="검색">
                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">검색</button>
                      </form>
                    </div>
                  </nav>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="navbar-containers">
                <div class="card-header">
                  Containers
                </div>
                <div class="card-body py-5 px-4 bg-grays-1">
                  <!--Component-->
                  <div class="container">
                    <nav class="navbar navbar-expand-lg navbar-light">
                      <a class="navbar-brand" href="#">브랜드</a>
                    </nav>
                  </div>
                  <br>
                  <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container">
                      <a class="navbar-brand" href="#">브랜드</a>
                    </div>
                  </nav>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="navbar-placement">
                <div class="card-header">
                  Placement
                </div>
                <div class="card-body py-5 px-4 bg-grays-1">
                  <!--Component-->
                  <nav class="navbar navbar-light">
                    <a class="navbar-brand" href="#">Default</a>
                  </nav>
                  <br>
                  <nav class="navbar fixed-top navbar-light" style="position: static;">
                    <a class="navbar-brand" href="#">Fixed top</a>
                  </nav>
                  <br>
                  <nav class="navbar fixed-bottom navbar-light" style="position: static;">
                    <a class="navbar-brand" href="#">Fixed bottom</a>
                  </nav>
                  <br>
                  <nav class="navbar sticky-top navbar-light">
                    <a class="navbar-brand" href="#">Sticky top</a>
                  </nav>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="navbar-responsive">
                <div class="card-header">
                  Responsive behaviors
                </div>
                <div class="card-body py-5 px-4 bg-grays-1">
                  <div class="sub-title-first">Toggler(Large)</div>
                  <!--Component-->
                  <nav class="navbar navbar-expand-lg navbar-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                      <a class="navbar-brand" href="#">Hidden brand</a>
                      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                          <a class="nav-link" href="#">메뉴 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">메뉴</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">메뉴(Disabled)</a>
                        </li>
                      </ul>
                      <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="검색" aria-label="검색">
                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">검색</button>
                      </form>
                    </div>
                  </nav>
                  <!--/Component-->
                  <div class="sub-title">Toggler(Large / Left - Brand / Right - Toggle)</div>
                  <!--Component-->
                  <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="#">브랜드</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                          <a class="nav-link" href="#">메뉴 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">메뉴</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">메뉴(Disabled)</a>
                        </li>
                      </ul>
                      <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="검색">
                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">검색</button>
                      </form>
                    </div>
                  </nav>
                  <!--/Component-->
                  <div class="sub-title">Toggler(Large / Left - Toggle / Right - Brand)</div>
                  <!--Component-->
                  <nav class="navbar navbar-expand-lg navbar-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="#">브랜드</a>

                    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                          <a class="nav-link" href="#">메뉴 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">메뉴</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">메뉴(Disabled)</a>
                        </li>
                      </ul>
                      <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="검색" aria-label="Search">
                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">검색</button>
                      </form>
                    </div>
                  </nav>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="navbar-external">
                <div class="card-header">
                  External content
                </div>
                <div class="card-body py-5 px-4 bg-grays-1">
                  <!--Component-->
                  <div class="pos-f-t">
                    <div class="collapse" id="navbarToggleExternalContent">
                      <div class="bg-primary p-4">
                        <h5 class="text-white h3">콘텐츠 제목</h5>
                        <span class="text-white-87 content-4">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</span>
                      </div>
                    </div>
                    <nav class="navbar navbar-dark bg-primary pl-1">
                      <button class="navbar-toggler btn btn-lg icon-only" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="glyphicons-list"></span>
                      </button>
                    </nav>
                  </div>
                  <!--/Component-->
                </div>
              </div>
            </div>
            <!-- /toc-content -->
          </div>
        </main>
        <!-- /docs-contents -->
      </div>

      <!-- theme-go-to-top -->
      <div class="theme-go-to-top">
        <a class="ux-top-link" href="#go-to-top">
          <span class="glyphicons-top" aria-hidden="true"></span>
          <span class="sr-only">Go to Top</span>
        </a>
      </div>
      <!-- /theme-go-to-top -->
    </div>
    <!-- /wrapper -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>

    <!-- UI Script -->
    <script src="../../../assets/common/js/vendor/perfect_scrollbar_1.4.0/perfect_scrollbar.min.js"></script>
    <script src="../../../assets/common/js/ui.js"></script>
    <script src="../../../assets/common/js/demo.js"></script>
  </body>
</html>