<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1.0, user-scalable=0">
    <meta name="keyword" content="">
    <meta name="description" content="">
    <title>Bootstrap Marketing &amp; Promotion</title>
    <link rel="shortcut icon" href="../../../assets/common/img/favicon/ux.ico">
    <link rel="apple-touch-icon" href="../../../assets/common/img/favicon/ux.png">
    <link rel="stylesheet" type="text/css" href="../../../assets/mkt/css/uxs.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/mkt/css/demo.css">
  </head>
  <body>
    <!-- wrapper -->
    <div class="wrapper wrapper-fixed" id="go-to-top">
      <!-- docs-header -->
      <div class="docs-header">
        <!-- lnb-toggler -->
        <button class="navbar-toggler docs-sidebar-toggler" type="button" aria-controls="theme-lnb" aria-expanded="false" aria-label="Toggle LNB">
          <span class="navbar-toggler-icon" aria-hidden="true"></span>
          <span class="sr-only">주 메뉴 바로가기</span>
        </button>
        <!-- /lnb-toggler -->
        <!--
          navbar-brand
          React - text-react,
          Vue   - text-vue
        -->
        <span class="navbar-brand text-bootstrap">Bootstrap</span>
        <span class="navbar-brand">Marketing &amp; Promotion</span>
      </div>
      <!-- /docs-header -->
      <div class="docs-body">
        <div class="docs-sidebar" data-include="../_includes/ct-sidebar.html" data-name="navs"></div>
        <!-- docs-contents -->
        <main class="docs-contents contents-mt">
          <div class="d-flex flex-row align-items-start mb-7 mb-md-10">
            <!-- toc -->
            <div class="toc">
              <nav class="nav flex-column js-toc-triggers">
                <a class="nav-link" href="#navs-base">Base nav</a>
                <a class="nav-link" href="#navs-horizontal">Horizontal alignment</a>
                <a class="nav-link" href="#navs-vertical">Vertical</a>
                <a class="nav-link" href="#navs-tabs">Tabs</a>
                <a class="nav-link" href="#navs-flex">Working with flex utilities</a>
                <a class="nav-link" href="#navs-dropdowns">Using dropdowns</a>
                <a class="nav-link" href="#navs-javascript">JavaScript behavior</a>
              </nav>
            </div>
            <!-- /toc -->

            <!-- toc-content -->
            <div class="toc-content">
              <div>Components</div>
              <div class="component-title font-weight-bold mb-7">Navs</div>

              <div class="card mb-5" id="navs-base">
                <div class="card-header">
                  Base nav
                </div>
                <div class="card-body py-5 px-4">
                  <div style="overflow-x: auto;">
                    <div style="min-width: 360px;">
                      <div class="sub-title-first">List</div>
                      <!--Component-->
                      <ul class="nav">
                        <li class="nav-item">
                          <a class="nav-link active" href="#">메뉴</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">메뉴</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">메뉴</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">메뉴</a>
                        </li>
                      </ul>
                      <!--/Component-->
                      <div class="sub-title mt-5 mb-3">Link</div>
                      <!--Component-->
                      <nav class="nav">
                        <a class="nav-link active" href="#">메뉴</a>
                        <a class="nav-link" href="#">메뉴</a>
                        <a class="nav-link" href="#">메뉴</a>
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">메뉴(Disabled)</a>
                      </nav>
                      <!--/Component-->
                    </div>
                  </div>
                </div>
              </div>

              <div class="card mb-5" id="navs-horizontal">
                <div class="card-header">
                  Horizontal alignment
                </div>
                <div class="card-body py-5 px-4">
                  <div style="overflow-x: auto;">
                    <div style="min-width: 400px;">
                      <div class="sub-title-first">Centered with <code>.justify-content-center</code></div>
                      <!--Component-->
                      <ul class="nav justify-content-center">
                        <li class="nav-item">
                          <a class="nav-link active" href="#">메뉴</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">메뉴</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">메뉴</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">메뉴(Disabled)</a>
                        </li>
                      </ul>
                      <!--/Component-->
                      <div class="sub-title mt-5 mb-3">Right-aligned with <code>.justify-content-end</code></div>
                      <!--Component-->
                      <ul class="nav justify-content-end">
                        <li class="nav-item">
                          <a class="nav-link active" href="#">메뉴</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">메뉴</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">메뉴</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">메뉴(Disabled)</a>
                        </li>
                      </ul>
                      <!--/Component-->
                    </div>
                  </div>
                </div>
              </div>

              <div class="card mb-5" id="navs-vertical">
                <div class="card-header">
                  Vertical
                </div>
                <div class="card-body py-5 px-4">
                  <div class="sub-title-first">List</div>
                  <!--Component-->
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link active" href="#">메뉴</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">메뉴</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">메뉴</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">메뉴(Disabled)</a>
                    </li>
                  </ul>
                  <!--/Component-->
                  <div class="sub-title mt-5 mb-3">Link</div>
                  <!--Component-->
                  <nav class="nav flex-column">
                    <a class="nav-link active" href="#">메뉴</a>
                    <a class="nav-link" href="#">메뉴</a>
                    <a class="nav-link" href="#">메뉴</a>
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">메뉴(Disabled)</a>
                  </nav>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="navs-tabs">
                <div class="card-header">
                  Tabs
                </div>
                <div class="card-body py-5 px-4">
                  <div style="overflow-x: auto;">
                    <div style="min-width: 800px;">
                      <div class="sub-title-first mb-3">List</div>
                      <!--Component-->
                      <ul class="nav nav-tabs">
                        <li class="nav-item">
                          <a class="nav-link active" href="#">메뉴</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">메뉴</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">메뉴</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">메뉴(Disabled)</a>
                        </li>
                      </ul>
                      <!--/Component-->
                      <div class="sub-title mb-5 mb-3">Link</div>
                      <!--Component-->
                      <nav class="nav nav-tabs">
                        <a class="nav-item nav-link active" href="#">메뉴</a>
                        <a class="nav-item nav-link" href="#">메뉴</a>
                        <a class="nav-item nav-link" href="#">메뉴</a>
                        <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">메뉴(Disabled)</a>
                      </nav>
                      <!--/Component-->
                      <div class="sub-title mb-5 mb-3">Under line(List)</div>
                      <!--Component-->
                      <ul class="nav nav-underlines nav-underlines-sm">
                        <li class="nav-item">
                          <a class="nav-link active" href="#">라이브러리</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">UX 점검</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">데이터</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">비활성화 메뉴</a>
                        </li>
                      </ul>
                      <!--/Component-->
                      <br>
                      <!--Component-->
                      <ul class="nav nav-underlines">
                        <li class="nav-item">
                          <a class="nav-link active" href="#">라이브러리</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">UX 점검</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">데이터</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">비활성화 메뉴</a>
                        </li>
                      </ul>
                      <!--/Component-->
                      <div class="sub-title mb-5 mb-3">Under line(Link)</div>
                      <!--Component-->
                      <nav class="nav nav-underlines nav-underlines-sm">
                        <a class="nav-item nav-link active" href="#">메뉴</a>
                        <a class="nav-item nav-link" href="#">메뉴</a>
                        <a class="nav-item nav-link" href="#">메뉴</a>
                        <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">메뉴(Disabled)</a>
                      </nav>
                      <!--/Component-->
                      <br>
                      <!--Component-->
                      <nav class="nav nav-underlines">
                        <a class="nav-item nav-link active" href="#">메뉴</a>
                        <a class="nav-item nav-link" href="#">메뉴</a>
                        <a class="nav-item nav-link" href="#">메뉴</a>
                        <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">메뉴(Disabled)</a>
                      </nav>
                      <!--/Component-->
                      <div class="sub-title mb-5 mb-3">Out line(List)</div>
                      <!--Component-->
                      <ul class="nav nav-outlines">
                        <li class="nav-item">
                          <a class="nav-link active" href="#">메뉴</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">메뉴</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">메뉴</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">메뉴(Disabled)</a>
                        </li>
                      </ul>
                      <!--/Component-->
                      <div class="sub-title mb-5 mb-3">Out line(Link)</div>
                      <!--Component-->
                      <nav class="nav nav-outlines">
                        <a class="nav-item nav-link active" href="#">메뉴</a>
                        <a class="nav-item nav-link" href="#">메뉴</a>
                        <a class="nav-item nav-link" href="#">메뉴</a>
                        <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">메뉴(Disabled)</a>
                      </nav>
                      <!--/Component-->
                      <div class="sub-title mb-5 mb-3">Pills(List)</div>
                      <!--Component-->
                      <ul class="nav nav-pills">
                        <li class="nav-item">
                          <a class="nav-link active" href="#">메뉴</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">메뉴</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">메뉴</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">메뉴(Disabled)</a>
                        </li>
                      </ul>
                      <!--/Component-->
                      <div class="sub-title mb-5 mb-3">Fill(List) and justify</div>
                      <!--Component-->
                      <ul class="nav nav-pills nav-fill">
                        <li class="nav-item">
                          <a class="nav-link active" href="#">메뉴</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Much longer nav link</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">메뉴</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">메뉴(Disabled)</a>
                        </li>
                      </ul>
                      <!--/Component-->
                      <div class="sub-title mb-5 mb-3">Fill(Link) and justify</div>
                      <!--Component-->
                      <nav class="nav nav-pills nav-fill">
                        <a class="nav-item nav-link active" href="#">메뉴</a>
                        <a class="nav-item nav-link" href="#">Much longer nav link</a>
                        <a class="nav-item nav-link" href="#">메뉴</a>
                        <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">메뉴(Disabled)</a>
                      </nav>
                      <!--/Component-->
                      <div class="sub-title mb-5 mb-3">Fill(List) and justified</div>
                      <!--Component-->
                      <ul class="nav nav-pills nav-justified">
                        <li class="nav-item">
                          <a class="nav-link active" href="#">메뉴</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Much longer nav link</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">메뉴</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link disabled" href="#">메뉴(Disabled)</a>
                        </li>
                      </ul>
                      <!--/Component-->
                      <div class="sub-title mb-5 mb-3">Fill(Link) and justified</div>
                      <!--Component-->
                      <nav class="nav nav-pills nav-justified">
                        <a class="nav-item nav-link active" href="#">메뉴</a>
                        <a class="nav-item nav-link" href="#">Much longer nav link</a>
                        <a class="nav-item nav-link" href="#">메뉴</a>
                        <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">메뉴(Disabled)</a>
                      </nav>
                      <!--/Component-->
                    </div>
                  </div>
                </div>
              </div>

              <div class="card mb-5" id="navs-flex">
                <div class="card-header">
                  Working with flex utilities
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <nav class="nav nav-pills flex-column flex-sm-row">
                    <a class="flex-sm-fill text-sm-center nav-link active" href="#">메뉴</a>
                    <a class="flex-sm-fill text-sm-center nav-link" href="#">Longer nav link</a>
                    <a class="flex-sm-fill text-sm-center nav-link" href="#">메뉴</a>
                    <a class="flex-sm-fill text-sm-center nav-link disabled" href="#" tabindex="-1"
                      aria-disabled="true">메뉴(Disabled)</a>
                  </nav>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="navs-dropdowns">
                <div class="card-header">
                  Using dropdowns
                </div>
                <div class="card-body py-5 px-4">
                  <div style="overflow-x: auto;">
                    <div style="min-width: 500px;">
                      <div class="sub-title-first">Tabs with dropdowns</div>
                      <!--Component-->
                      <ul class="nav nav-tabs">
                        <li class="nav-item">
                          <a class="nav-link active" href="#">메뉴</a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">Dropdown</a>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                          </div>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">메뉴</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">메뉴(Disabled)</a>
                        </li>
                      </ul>
                      <!--/Component-->
                      <div class="sub-title mt-5 mb-3">Pills with dropdowns</div>
                      <!--Component-->
                      <ul class="nav nav-pills">
                        <li class="nav-item">
                          <a class="nav-link active" href="#">메뉴</a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">Dropdown</a>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                          </div>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">메뉴</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">메뉴(Disabled)</a>
                        </li>
                      </ul>
                      <!--/Component-->
                    </div>
                  </div>
                </div>
              </div>

              <div class="card mb-5" id="navs-javascript">
                <div class="card-header">
                  JavaScript behavior
                </div>
                <div class="card-body py-5 px-4">
                  <div style="overflow-x: auto;">
                    <div style="min-width: 610px;">
                      <div class="sub-title-first">List</div>
                      <!--Component-->
                      <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                            aria-controls="home" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                            aria-controls="profile" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                            aria-controls="contact" aria-selected="false">Contact</a>
                        </li>
                      </ul>
                      <!--/Component-->
                      <div class="sub-title mt-5 mb-3">Link(Pills)</div>
                      <!--Component-->
                      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                            aria-controls="pills-home" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                            aria-controls="pills-profile" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                            aria-controls="pills-contact" aria-selected="false">Contact</a>
                        </li>
                      </ul>
                      <!--/Component-->
                      <div class="sub-title mt-5 mb-3">Vertical Link(Pills)</div>
                      <!--Component-->
                      <div class="row">
                        <div class="col-3">
                          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                            aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"
                              role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
                            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile"
                              role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
                            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages"
                              role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a>
                            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings"
                              role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
                          </div>
                        </div>
                        <div class="col-9">
                          <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                              본 가이드는 SK 텔레콤 서비스 UX/UI 디자인의 공통적인 방향성과 기준점을 제시하기 위해 제작되었습니다.
                              특히 조직 내에 디자인 전문 인력이 없는 경우에도 본 가이드의 내용을 참고하여 서비스를 기획하고 개발할 수 있도록 UX/UI 디자인에 필요한 가장 기본적인 사항들을 중심으로 내용을 구성하였습니다.
                            </div>
                            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                              본 가이드는 SK 텔레콤 서비스 UX/UI 디자인의 공통적인 방향성과 기준점을 제시하기 위해 제작되었습니다.
                              특히 조직 내에 디자인 전문 인력이 없는 경우에도 본 가이드의 내용을 참고하여 서비스를 기획하고 개발할 수 있도록 UX/UI 디자인에 필요한 가장 기본적인 사항들을 중심으로 내용을 구성하였습니다.
                            </div>
                            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                              본 가이드는 SK 텔레콤 서비스 UX/UI 디자인의 공통적인 방향성과 기준점을 제시하기 위해 제작되었습니다.
                              특히 조직 내에 디자인 전문 인력이 없는 경우에도 본 가이드의 내용을 참고하여 서비스를 기획하고 개발할 수 있도록 UX/UI 디자인에 필요한 가장 기본적인 사항들을 중심으로 내용을 구성하였습니다.
                            </div>
                            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                              본 가이드는 SK 텔레콤 서비스 UX/UI 디자인의 공통적인 방향성과 기준점을 제시하기 위해 제작되었습니다.
                              특히 조직 내에 디자인 전문 인력이 없는 경우에도 본 가이드의 내용을 참고하여 서비스를 기획하고 개발할 수 있도록 UX/UI 디자인에 필요한 가장 기본적인 사항들을 중심으로 내용을 구성하였습니다.
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--/Component-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /toc-content -->
          </div>
        </main>
        <!-- /docs-contents -->
      </div>

      <!-- theme-go-to-top -->
      <div class="theme-go-to-top">
        <a class="ux-top-link" href="#go-to-top">
          <span class="glyphicons-top" aria-hidden="true"></span>
          <span class="sr-only">Go to Top</span>
        </a>
      </div>
      <!-- /theme-go-to-top -->
    </div>
    <!-- /wrapper -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>

    <!-- UI Script -->
    <script src="../../../assets/common/js/vendor/perfect_scrollbar_1.4.0/perfect_scrollbar.min.js"></script>
    <script src="../../../assets/common/js/ui.js"></script>
    <script src="../../../assets/common/js/demo.js"></script>
  </body>
</html>