<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1.0, user-scalable=0">
    <meta name="keyword" content="">
    <meta name="description" content="">
    <title>Bootstrap Marketing &amp; Promotion</title>
    <link rel="shortcut icon" href="../../../assets/common/img/favicon/ux.ico">
    <link rel="apple-touch-icon" href="../../../assets/common/img/favicon/ux.png">
    <link rel="stylesheet" type="text/css" href="../../../assets/mkt/css/uxs.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/mkt/css/demo.css">
  </head>
  <body>
    <!-- wrapper -->
    <div class="wrapper wrapper-fixed" id="go-to-top">
      <!-- docs-header -->
      <div class="docs-header">
        <!-- lnb-toggler -->
        <button class="navbar-toggler docs-sidebar-toggler" type="button" aria-controls="theme-lnb" aria-expanded="false" aria-label="Toggle LNB">
          <span class="navbar-toggler-icon" aria-hidden="true"></span>
          <span class="sr-only">주 메뉴 바로가기</span>
        </button>
        <!-- /lnb-toggler -->
        <!--
          navbar-brand
          React - text-react,
          Vue   - text-vue
        -->
        <span class="navbar-brand text-bootstrap">Bootstrap</span>
        <span class="navbar-brand">Marketing &amp; Promotion</span>
      </div>
      <!-- /docs-header -->
      <div class="docs-body">
        <div class="docs-sidebar" data-include="../_includes/ct-sidebar.html" data-name="pagination"></div>
        <!-- docs-contents -->
        <main class="docs-contents contents-mt">
          <div class="d-flex flex-row align-items-start mb-7 mb-md-10">
            <!-- toc -->
            <div class="toc">
              <nav class="nav flex-column js-toc-triggers">
                <a class="nav-link" href="#pagination-example">Examples</a>
                <a class="nav-link" href="#pagination-icons">Working with icons</a>
                <a class="nav-link" href="#pagination-states">Disabled and active states</a>
                <a class="nav-link" href="#pagination-sizing">Sizing</a>
                <a class="nav-link" href="#pagination-alignment">Alignment</a>
              </nav>
            </div>
            <!-- /toc -->

            <!-- toc-content -->
            <div class="toc-content">
              <div>Components</div>
              <div class="component-title font-weight-bold mb-7">Pagination</div>

              <div class="card mb-5" id="pagination-example">
                <div class="card-header">
                  Examples
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item prev"><a class="page-link" href="#">이전</a></li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item next"><a class="page-link" href="#">다음</a></li>
                    </ul>
                  </nav>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="pagination-icons">
                <div class="card-header">
                  Working with icons
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item page-icon prev ">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span class="glyphicons-mkt_previous" aria-hidden="true"></span>
                          <span class="sr-only">이전</span>
                        </a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item page-icon next">
                        <a class="page-link" href="#" aria-label="Next">
                          <span class="glyphicons-mkt_next" aria-hidden="true"></span>
                          <span class="sr-only">다음</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                  <br>
                  <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item page-icon prev-10 ">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span class="glyphicons-mkt_first" aria-hidden="true"></span>
                          <span class="sr-only">이전</span>
                        </a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item page-icon next-10">
                        <a class="page-link" href="#" aria-label="Next">
                          <span class="glyphicons-mkt_last" aria-hidden="true"></span>
                          <span class="sr-only">다음</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                  <br>
                  <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item page-icon prev-10 ">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span class="glyphicons-mkt_first" aria-hidden="true"></span>
                          <span class="sr-only">이전 10개</span>
                        </a>
                      </li>
                      <li class="page-item page-icon prev ">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span class="glyphicons-mkt_previous" aria-hidden="true"></span>
                          <span class="sr-only">이전</span>
                        </a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item page-icon next">
                        <a class="page-link" href="#" aria-label="Next">
                          <span class="glyphicons-mkt_next" aria-hidden="true"></span>
                          <span class="sr-only">다음</span>
                        </a>
                      </li>
                      <li class="page-item page-icon next-10">
                        <a class="page-link" href="#" aria-label="Next">
                          <span class="glyphicons-mkt_last" aria-hidden="true"></span>
                          <span class="sr-only">다음 10개</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="pagination-states">
                <div class="card-header">
                  Disabled and active states
                </div>
                <div class="card-body py-5 px-4">
                  <div class="sub-title-first"><code>&lt;a&gt;</code> tags</div>
                  <!--Component-->
                  <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item prev disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">이전</a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item next">
                        <a class="page-link" href="#">다음</a>
                      </li>
                    </ul>
                  </nav>
                  <!--/Component-->
                  <div class="sub-title"><code>&lt;span&gt;</code> tags</div>
                  <!--Component-->
                  <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item prev disabled">
                        <span class="page-link">이전</span>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item active" aria-current="page">
                        <span class="page-link">
                          2
                          <span class="sr-only">(current)</span>
                        </span>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item next">
                        <a class="page-link" href="#">다음</a>
                      </li>
                    </ul>
                  </nav>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="pagination-sizing">
                <div class="card-header">
                  Sizing
                </div>
                <div class="card-body py-5 px-4">
                  <div class="sub-title-first"><code>.pagination-lg</code></div>
                  <!--Component-->
                  <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-lg">
                      <li class="page-item active" aria-current="page">
                        <span class="page-link">
                          1
                          <span class="sr-only">(current)</span>
                        </span>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                    </ul>
                  </nav>
                  <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-lg">
                      <li class="page-item prev disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">이전</a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item active" aria-current="page">
                        <span class="page-link">2 <span class="sr-only">(current)</span></span>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item next">
                        <a class="page-link" href="#">다음</a>
                      </li>
                    </ul>
                  </nav>
                  <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-lg">
                      <li class="page-item page-icon prev-10 ">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span class="glyphicons-mkt_first" aria-hidden="true"></span>
                          <span class="sr-only">이전 10개</span>
                        </a>
                      </li>
                      <li class="page-item page-icon prev ">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span class="glyphicons-mkt_previous" aria-hidden="true"></span>
                          <span class="sr-only">이전</span>
                        </a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item active" aria-current="page">
                        <span class="page-link">2 <span class="sr-only">(current)</span></span>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item page-icon next">
                        <a class="page-link" href="#" aria-label="Next">
                          <span class="glyphicons-mkt_next" aria-hidden="true"></span>
                          <span class="sr-only">다음</span>
                        </a>
                      </li>
                      <li class="page-item page-icon next-10">
                        <a class="page-link" href="#" aria-label="Next">
                          <span class="glyphicons-mkt_last" aria-hidden="true"></span>
                          <span class="sr-only">다음 10개</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                  <!--/Component-->
                  <div class="sub-title">Default(Medium)</div>
                  <!--Component-->
                  <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item active" aria-current="page">
                        <span class="page-link">
                          1
                          <span class="sr-only">(current)</span>
                        </span>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                    </ul>
                  </nav>
                  <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item prev disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">이전</a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item active" aria-current="page">
                        <span class="page-link">2 <span class="sr-only">(current)</span></span>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item next">
                        <a class="page-link" href="#">다음</a>
                      </li>
                    </ul>
                  </nav>
                  <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item page-icon prev-10 ">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span class="glyphicons-mkt_first" aria-hidden="true"></span>
                          <span class="sr-only">이전 10개</span>
                        </a>
                      </li>
                      <li class="page-item page-icon prev ">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span class="glyphicons-mkt_previous" aria-hidden="true"></span>
                          <span class="sr-only">이전</span>
                        </a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item active" aria-current="page">
                        <span class="page-link">2 <span class="sr-only">(current)</span></span>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item page-icon next">
                        <a class="page-link" href="#" aria-label="Next">
                          <span class="glyphicons-mkt_next" aria-hidden="true"></span>
                          <span class="sr-only">다음</span>
                        </a>
                      </li>
                      <li class="page-item page-icon next-10">
                        <a class="page-link" href="#" aria-label="Next">
                          <span class="glyphicons-mkt_last" aria-hidden="true"></span>
                          <span class="sr-only">다음 10개</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                  <!--/Component-->
                  <div class="sub-title"><code>.pagination-sm</code></div>
                  <!--Component-->
                  <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-sm">
                      <li class="page-item active" aria-current="page">
                        <span class="page-link">
                          1
                          <span class="sr-only">(current)</span>
                        </span>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                    </ul>
                  </nav>
                  <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-sm">
                      <li class="page-item prev disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">이전</a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item active" aria-current="page">
                        <span class="page-link">2 <span class="sr-only">(current)</span></span>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item next">
                        <a class="page-link" href="#">다음</a>
                      </li>
                    </ul>
                  </nav>
                  <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-sm">
                      <li class="page-item page-icon prev-10 ">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span class="glyphicons-mkt_first" aria-hidden="true"></span>
                          <span class="sr-only">이전 10개</span>
                        </a>
                      </li>
                      <li class="page-item page-icon prev ">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span class="glyphicons-mkt_previous" aria-hidden="true"></span>
                          <span class="sr-only">이전</span>
                        </a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item active" aria-current="page">
                        <span class="page-link">2 <span class="sr-only">(current)</span></span>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item page-icon next">
                        <a class="page-link" href="#" aria-label="Next">
                          <span class="glyphicons-mkt_next" aria-hidden="true"></span>
                          <span class="sr-only">다음</span>
                        </a>
                      </li>
                      <li class="page-item page-icon next-10">
                        <a class="page-link" href="#" aria-label="Next">
                          <span class="glyphicons-mkt_last" aria-hidden="true"></span>
                          <span class="sr-only">다음 10개</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="pagination-alignment">
                <div class="card-header">
                  Alignment
                </div>
                <div class="card-body py-5 px-4">
                  <div class="sub-title-first"><code>.justify-content-start</code></div>
                  <!--Component-->
                  <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                      <li class="page-item prev disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">이전</a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item next">
                        <a class="page-link" href="#">다음</a>
                      </li>
                    </ul>
                  </nav>
                  <!--/Component-->
                  <div class="sub-title"><code>.justify-content-center</code></div>
                  <!--Component-->
                  <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                      <li class="page-item prev disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">이전</a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item next">
                        <a class="page-link" href="#">다음</a>
                      </li>
                    </ul>
                  </nav>
                  <!--/Component-->
                  <div class="sub-title"><code>.justify-content-end</code></div>
                  <!--Component-->
                  <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                      <li class="page-item prev disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">이전</a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item next">
                        <a class="page-link" href="#">다음</a>
                      </li>
                    </ul>
                  </nav>
                  <!--/Component-->
                </div>
              </div>
            </div>
            <!-- /toc-content -->
          </div>
        </main>
        <!-- /docs-contents -->
      </div>

      <!-- theme-go-to-top -->
      <div class="theme-go-to-top">
        <a class="ux-top-link" href="#go-to-top">
          <span class="glyphicons-top" aria-hidden="true"></span>
          <span class="sr-only">Go to Top</span>
        </a>
      </div>
      <!-- /theme-go-to-top -->
    </div>
    <!-- /wrapper -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>

    <!-- UI Script -->
    <script src="../../../assets/common/js/vendor/perfect_scrollbar_1.4.0/perfect_scrollbar.min.js"></script>
    <script src="../../../assets/common/js/ui.js"></script>
    <script src="../../../assets/common/js/demo.js"></script>
  </body>
</html>