<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1.0, user-scalable=0">
    <meta name="keyword" content="">
    <meta name="description" content="">
    <title>Bootstrap Marketing &amp; Promotion</title>
    <link rel="shortcut icon" href="../../../assets/common/img/favicon/ux.ico">
    <link rel="apple-touch-icon" href="../../../assets/common/img/favicon/ux.png">
    <link rel="stylesheet" type="text/css" href="../../../assets/mkt/css/uxs.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/mkt/css/demo.css">
  </head>
  <body>
    <!-- wrapper -->
    <div class="wrapper wrapper-fixed" id="go-to-top">
      <!-- docs-header -->
      <div class="docs-header">
        <!-- lnb-toggler -->
        <button class="navbar-toggler docs-sidebar-toggler" type="button" aria-controls="theme-lnb" aria-expanded="false" aria-label="Toggle LNB">
          <span class="navbar-toggler-icon" aria-hidden="true"></span>
          <span class="sr-only">주 메뉴 바로가기</span>
        </button>
        <!-- /lnb-toggler -->
        <!--
          navbar-brand
          React - text-react,
          Vue   - text-vue
        -->
        <span class="navbar-brand text-bootstrap">Bootstrap</span>
        <span class="navbar-brand">Marketing &amp; Promotion</span>
      </div>
      <!-- /docs-header -->
      <div class="docs-body">
        <div class="docs-sidebar" data-include="../_includes/ct-sidebar.html" data-name="popovers"></div>
        <!-- docs-contents -->
        <main class="docs-contents contents-mt">
          <div class="d-flex flex-row align-items-start mb-7 mb-md-10">
            <!-- toc -->
            <div class="toc">
              <nav class="nav flex-column js-toc-triggers">
                <a class="nav-link" href="#popovers-examples">Examples</a>
                <a class="nav-link" href="#popovers-four-directions">Four directions</a>
                <a class="nav-link" href="#popovers-dismiss">Dismiss on next click</a>
                <a class="nav-link" href="#popovers-disabled">Disabled elements</a>
              </nav>
            </div>
            <!-- /toc -->

            <!-- toc-content -->
            <div class="toc-content">
              <div>Components</div>
              <div class="component-title font-weight-bold mb-7">Popovers</div>

              <div class="card mb-5" id="popovers-examples">
                <div class="card-header">
                  Examples
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <button type="button" class="btn btn-lg btn-danger example-popover" data-toggle="popover" title="Popover 제목" data-content="UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.">토글 팝 오버</button>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="popovers-four-directions">
                <div class="card-header">
                  Four directions
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <button type="button" class="btn btn-primary example-popover mb-5" data-container="body" data-toggle="popover" data-placement="top" data-content="UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.">
                    팝 오버(TOP)
                  </button>

                  <button type="button" class="btn btn-success example-popover mb-5" data-container="body" data-toggle="popover" data-placement="right" data-content="UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.">
                    팝 오버(Right)
                  </button>

                  <button type="button" class="btn btn-warning example-popover mb-5" data-container="body" data-toggle="popover" data-placement="bottom" data-content="UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.">
                    팝 오버(Bottom)
                  </button>

                  <button type="button" class="btn btn-info example-popover mb-5" data-container="body" data-toggle="popover" data-placement="left" data-content="UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.">
                    팝 오버(Left)
                  </button>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="popovers-dismiss">
                <div class="card-header">
                  Dismiss on next click
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <a tabindex="0" class="btn btn-lg btn-primary popover-dismiss" role="button" data-toggle="popover" data-trigger="focus" title="Dismissible popover" data-content="UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.">팝 오버(Dismissible)</a>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="popovers-disabled">
                <div class="card-header">
                  Disabled elements
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <span class="d-inline-block" data-toggle="popover" data-content="Disabled popover">
                    <button class="btn btn-primary" style="pointer-events: none;" type="button" disabled>Disabled button</button>
                  </span>
                  <!--/Component-->
                </div>
              </div>
            </div>
            <!-- /toc-content -->
          </div>
        </main>
        <!-- /docs-contents -->
      </div>

      <!-- theme-go-to-top -->
      <div class="theme-go-to-top">
        <a class="ux-top-link" href="#go-to-top">
          <span class="glyphicons-top" aria-hidden="true"></span>
          <span class="sr-only">Go to Top</span>
        </a>
      </div>
      <!-- /theme-go-to-top -->
    </div>
    <!-- /wrapper -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>

    <!-- UI Script -->
    <script src="../../../assets/common/js/vendor/perfect_scrollbar_1.4.0/perfect_scrollbar.min.js"></script>
    <script src="../../../assets/common/js/ui.js"></script>
    <script src="../../../assets/common/js/demo.js"></script>

    <script>
      $(function () {

        //popover
        $('.example-popover').popover({
          container: 'body'
        });

        //dismiss
        $('.popover-dismiss').popover({
          trigger: 'focus'
        });

      });
    </script>
  </body>
</html>