<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1.0, user-scalable=0">
    <meta name="keyword" content="">
    <meta name="description" content="">
    <title>Bootstrap Marketing &amp; Promotion</title>
    <link rel="shortcut icon" href="../../../assets/common/img/favicon/ux.ico">
    <link rel="apple-touch-icon" href="../../../assets/common/img/favicon/ux.png">
    <link rel="stylesheet" type="text/css" href="../../../assets/mkt/css/uxs.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/mkt/css/demo.css">
  </head>
  <body>
    <!-- wrapper -->
    <div class="wrapper wrapper-fixed" id="go-to-top">
      <!-- docs-header -->
      <div class="docs-header">
        <!-- lnb-toggler -->
        <button class="navbar-toggler docs-sidebar-toggler" type="button" aria-controls="theme-lnb" aria-expanded="false" aria-label="Toggle LNB">
          <span class="navbar-toggler-icon" aria-hidden="true"></span>
          <span class="sr-only">주 메뉴 바로가기</span>
        </button>
        <!-- /lnb-toggler -->
        <!--
          navbar-brand
          React - text-react,
          Vue   - text-vue
        -->
        <span class="navbar-brand text-bootstrap">Bootstrap</span>
        <span class="navbar-brand">Marketing &amp; Promotion</span>
      </div>
      <!-- /docs-header -->
      <div class="docs-body">
        <div class="docs-sidebar" data-include="../_includes/ct-sidebar.html" data-name="scrollspy"></div>
        <!-- docs-contents -->
        <main class="docs-contents contents-mt">
          <div class="d-flex flex-row align-items-start mb-7 mb-md-10">
            <!-- toc -->
            <div class="toc">
              <nav class="nav flex-column js-toc-triggers">
                <a class="nav-link" href="#scrollspy-examples">Examples</a>
                <a class="nav-link" href="#scrollspy-nested-nav">Example with nested nav</a>
                <a class="nav-link" href="#scrollspy-list-group">Example with list group</a>
              </nav>
            </div>
            <!-- /toc -->

            <!-- toc-content -->
            <div class="toc-content">
              <div>Components</div>
              <div class="component-title font-weight-bold mb-7">Scrollspy</div>

              <div class="card mb-5" id="scrollspy-examples">
                <div class="card-header">
                  Examples
                </div>
                <div class="card-body py-5 px-4">
                  <div style="overflow-x: auto;">
                    <div style="min-width: 540px;">
                      <!--Component-->
                      <nav id="navbar-example2" class="navbar navbar-light bg-light">
                        <a class="navbar-brand" href="#">Navbar</a>
                        <ul class="nav nav-pills">
                          <li class="nav-item">
                            <a class="nav-link" href="#fat">@fat</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#mdo">@mdo</a>
                          </li>
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                              aria-expanded="false">Dropdown</a>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="#one">one</a>
                              <a class="dropdown-item" href="#two">two</a>
                              <div role="separator" class="dropdown-divider"></div>
                              <a class="dropdown-item active" href="#three">three</a>
                            </div>
                          </li>
                        </ul>
                      </nav>
                      <div data-spy="scroll" data-target="#navbar-example2" data-offset="0" class="scrollspy-example pt-3">
                        <h4 id="fat">@fat</h4>
                        <p>
                          본 가이드는 SK 텔레콤 서비스 UX/UI 디자인의 공통적인 방향성과 기준점을 제시하기 위해 제작되었습니다.
                          특히 조직 내에 디자인 전문 인력이 없는 경우에도 본 가이드의 내용을 참고하여 서비스를 기획하고 개발할 수 있도록 UX/UI 디자인에 필요한 가장 기본적인 사항들을 중심으로 내용을 구성하였습니다.
                        </p>
                        <h4 id="mdo">@mdo</h4>
                        <p>
                          본 가이드는 SK 텔레콤 서비스 UX/UI 디자인의 공통적인 방향성과 기준점을 제시하기 위해 제작되었습니다.
                          특히 조직 내에 디자인 전문 인력이 없는 경우에도 본 가이드의 내용을 참고하여 서비스를 기획하고 개발할 수 있도록 UX/UI 디자인에 필요한 가장 기본적인 사항들을 중심으로 내용을 구성하였습니다.
                        </p>
                        <h4 id="one">one</h4>
                        <p>
                          본 가이드는 SK 텔레콤 서비스 UX/UI 디자인의 공통적인 방향성과 기준점을 제시하기 위해 제작되었습니다.
                          특히 조직 내에 디자인 전문 인력이 없는 경우에도 본 가이드의 내용을 참고하여 서비스를 기획하고 개발할 수 있도록 UX/UI 디자인에 필요한 가장 기본적인 사항들을 중심으로 내용을 구성하였습니다.
                        </p>
                        <h4 id="two">two</h4>
                        <p>
                          본 가이드는 SK 텔레콤 서비스 UX/UI 디자인의 공통적인 방향성과 기준점을 제시하기 위해 제작되었습니다.
                          특히 조직 내에 디자인 전문 인력이 없는 경우에도 본 가이드의 내용을 참고하여 서비스를 기획하고 개발할 수 있도록 UX/UI 디자인에 필요한 가장 기본적인 사항들을 중심으로 내용을 구성하였습니다.
                        </p>
                        <h4 id="three">three</h4>
                        <p>
                          본 가이드는 SK 텔레콤 서비스 UX/UI 디자인의 공통적인 방향성과 기준점을 제시하기 위해 제작되었습니다.
                          특히 조직 내에 디자인 전문 인력이 없는 경우에도 본 가이드의 내용을 참고하여 서비스를 기획하고 개발할 수 있도록 UX/UI 디자인에 필요한 가장 기본적인 사항들을 중심으로 내용을 구성하였습니다.
                        </p>
                        <p>
                          본 가이드는 SK 텔레콤 서비스 UX/UI 디자인의 공통적인 방향성과 기준점을 제시하기 위해 제작되었습니다.
                          특히 조직 내에 디자인 전문 인력이 없는 경우에도 본 가이드의 내용을 참고하여 서비스를 기획하고 개발할 수 있도록 UX/UI 디자인에 필요한 가장 기본적인 사항들을 중심으로 내용을 구성하였습니다.
                        </p>
                      </div>
                      <!--/Component-->
                    </div>
                  </div>
                </div>
              </div>

              <div class="card mb-5" id="scrollspy-nested-nav">
                <div class="card-header">
                  Example with nested nav
                </div>
                <div class="card-body py-5 px-4">
                  <div style="overflow-x: auto;">
                    <div style="min-width: 540px;">
                      <!--Component-->
                      <div class="row">
                        <div class="col-4">
                          <nav id="navbar-example3" class="navbar navbar-light bg-light flex-column">
                            <a class="navbar-brand" href="#">Navbar</a>
                            <nav class="nav nav-pills flex-column">
                              <a class="nav-link active" href="#item-1">Item 1</a>
                              <nav class="nav nav-pills flex-column">
                                <a class="nav-link ml-3 my-1" href="#item-1-1">Item 1-1</a>
                                <a class="nav-link ml-3 my-1" href="#item-1-2">Item 1-2</a>
                              </nav>
                              <a class="nav-link" href="#item-2">Item 2</a>
                              <a class="nav-link" href="#item-3">Item 3</a>
                              <nav class="nav nav-pills flex-column">
                                <a class="nav-link ml-3 my-1" href="#item-3-1">Item 3-1</a>
                                <a class="nav-link ml-3 my-1" href="#item-3-2">Item 3-2</a>
                              </nav>
                            </nav>
                          </nav>
                        </div>
                        <div class="col-8">
                          <div data-spy="scroll" data-target="#navbar-example3" data-offset="0" class="scrollspy-example-2">
                            <h4 id="item-1">Item 1</h4>
                            <p>
                              본 가이드는 SK 텔레콤 서비스 UX/UI 디자인의 공통적인 방향성과 기준점을 제시하기 위해 제작되었습니다.
                              특히 조직 내에 디자인 전문 인력이 없는 경우에도 본 가이드의 내용을 참고하여 서비스를 기획하고 개발할 수 있도록 UX/UI 디자인에 필요한 가장 기본적인 사항들을 중심으로 내용을 구성하였습니다.
                            </p>
                            <h5 id="item-1-1">Item 1-1</h5>
                            <p>
                              본 가이드는 SK 텔레콤 서비스 UX/UI 디자인의 공통적인 방향성과 기준점을 제시하기 위해 제작되었습니다.
                              특히 조직 내에 디자인 전문 인력이 없는 경우에도 본 가이드의 내용을 참고하여 서비스를 기획하고 개발할 수 있도록 UX/UI 디자인에 필요한 가장 기본적인 사항들을 중심으로 내용을 구성하였습니다.
                            </p>
                            <h5 id="item-1-2">Item 1-2</h5>
                            <p>
                              본 가이드는 SK 텔레콤 서비스 UX/UI 디자인의 공통적인 방향성과 기준점을 제시하기 위해 제작되었습니다.
                              특히 조직 내에 디자인 전문 인력이 없는 경우에도 본 가이드의 내용을 참고하여 서비스를 기획하고 개발할 수 있도록 UX/UI 디자인에 필요한 가장 기본적인 사항들을 중심으로 내용을 구성하였습니다.
                            </p>
                            <h4 id="item-2">Item 2</h4>
                            <p>
                              본 가이드는 SK 텔레콤 서비스 UX/UI 디자인의 공통적인 방향성과 기준점을 제시하기 위해 제작되었습니다.
                              특히 조직 내에 디자인 전문 인력이 없는 경우에도 본 가이드의 내용을 참고하여 서비스를 기획하고 개발할 수 있도록 UX/UI 디자인에 필요한 가장 기본적인 사항들을 중심으로 내용을 구성하였습니다.
                            </p>
                            <h4 id="item-3">Item 3</h4>
                            <p>
                              본 가이드는 SK 텔레콤 서비스 UX/UI 디자인의 공통적인 방향성과 기준점을 제시하기 위해 제작되었습니다.
                              특히 조직 내에 디자인 전문 인력이 없는 경우에도 본 가이드의 내용을 참고하여 서비스를 기획하고 개발할 수 있도록 UX/UI 디자인에 필요한 가장 기본적인 사항들을 중심으로 내용을 구성하였습니다.
                            </p>
                            <h5 id="item-3-1">Item 3-1</h5>
                            <p>
                              본 가이드는 SK 텔레콤 서비스 UX/UI 디자인의 공통적인 방향성과 기준점을 제시하기 위해 제작되었습니다.
                              특히 조직 내에 디자인 전문 인력이 없는 경우에도 본 가이드의 내용을 참고하여 서비스를 기획하고 개발할 수 있도록 UX/UI 디자인에 필요한 가장 기본적인 사항들을 중심으로 내용을 구성하였습니다.
                            </p>
                            <h5 id="item-3-2">Item 3-2</h5>
                            <p>
                              본 가이드는 SK 텔레콤 서비스 UX/UI 디자인의 공통적인 방향성과 기준점을 제시하기 위해 제작되었습니다.
                              특히 조직 내에 디자인 전문 인력이 없는 경우에도 본 가이드의 내용을 참고하여 서비스를 기획하고 개발할 수 있도록 UX/UI 디자인에 필요한 가장 기본적인 사항들을 중심으로 내용을 구성하였습니다.
                            </p>
                          </div>
                        </div>
                      </div>
                      <!--/Component-->
                    </div>
                  </div>
                </div>
              </div>

              <div class="card mb-5" id="scrollspy-list-group">
                <div class="card-header">
                  Example with list group
                </div>
                <div class="card-body py-5 px-4">
                  <div style="overflow-x: auto;">
                    <div style="min-width: 540px;">
                      <!--Component-->
                      <div class="row">
                        <div class="col-4">
                          <div id="list-example" class="list-group">
                            <a class="list-group-item list-group-item-action" href="#list-item-1">Item 1</a>
                            <a class="list-group-item list-group-item-action active" href="#list-item-2">Item 2</a>
                            <a class="list-group-item list-group-item-action" href="#list-item-3">Item 3</a>
                            <a class="list-group-item list-group-item-action" href="#list-item-4">Item 4</a>
                          </div>
                        </div>
                        <div class="col-8">
                          <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
                            <h4 id="list-item-1">Item 1</h4>
                            <p>
                              본 가이드는 SK 텔레콤 서비스 UX/UI 디자인의 공통적인 방향성과 기준점을 제시하기 위해 제작되었습니다.
                              특히 조직 내에 디자인 전문 인력이 없는 경우에도 본 가이드의 내용을 참고하여 서비스를 기획하고 개발할 수 있도록 UX/UI 디자인에 필요한 가장 기본적인 사항들을 중심으로 내용을 구성하였습니다.
                            </p>
                            <h4 id="list-item-2">Item 2</h4>
                            <p>
                              본 가이드는 SK 텔레콤 서비스 UX/UI 디자인의 공통적인 방향성과 기준점을 제시하기 위해 제작되었습니다.
                              특히 조직 내에 디자인 전문 인력이 없는 경우에도 본 가이드의 내용을 참고하여 서비스를 기획하고 개발할 수 있도록 UX/UI 디자인에 필요한 가장 기본적인 사항들을 중심으로 내용을 구성하였습니다.
                            </p>
                            <h4 id="list-item-3">Item 3</h4>
                            <p>
                              본 가이드는 SK 텔레콤 서비스 UX/UI 디자인의 공통적인 방향성과 기준점을 제시하기 위해 제작되었습니다.
                              특히 조직 내에 디자인 전문 인력이 없는 경우에도 본 가이드의 내용을 참고하여 서비스를 기획하고 개발할 수 있도록 UX/UI 디자인에 필요한 가장 기본적인 사항들을 중심으로 내용을 구성하였습니다.
                            </p>
                            <h4 id="list-item-4">Item 4</h4>
                            <p>
                              본 가이드는 SK 텔레콤 서비스 UX/UI 디자인의 공통적인 방향성과 기준점을 제시하기 위해 제작되었습니다.
                              특히 조직 내에 디자인 전문 인력이 없는 경우에도 본 가이드의 내용을 참고하여 서비스를 기획하고 개발할 수 있도록 UX/UI 디자인에 필요한 가장 기본적인 사항들을 중심으로 내용을 구성하였습니다.
                            </p>
                          </div>
                        </div>
                      </div>
                      <!--/Component-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /toc-content -->
          </div>
        </main>
        <!-- /docs-contents -->
      </div>

      <!-- theme-go-to-top -->
      <div class="theme-go-to-top">
        <a class="ux-top-link" href="#go-to-top">
          <span class="glyphicons-top" aria-hidden="true"></span>
          <span class="sr-only">Go to Top</span>
        </a>
      </div>
      <!-- /theme-go-to-top -->
    </div>
    <!-- /wrapper -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>

    <!-- UI Script -->
    <script src="../../../assets/common/js/vendor/perfect_scrollbar_1.4.0/perfect_scrollbar.min.js"></script>
    <script src="../../../assets/common/js/ui.js"></script>
    <script src="../../../assets/common/js/demo.js"></script>
  </body>
</html>