<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1.0, user-scalable=0">
    <meta name="keyword" content="">
    <meta name="description" content="">
    <title>Bootstrap Marketing &amp; Promotion</title>
    <link rel="shortcut icon" href="../../../assets/common/img/favicon/ux.ico">
    <link rel="apple-touch-icon" href="../../../assets/common/img/favicon/ux.png">
    <link rel="stylesheet" type="text/css" href="../../../assets/mkt/css/uxs.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/mkt/css/demo.css">
  </head>
  <body>
    <!-- wrapper -->
    <div class="wrapper wrapper-fixed" id="go-to-top">
      <!-- docs-header -->
      <div class="docs-header">
        <!-- lnb-toggler -->
        <button class="navbar-toggler docs-sidebar-toggler" type="button" aria-controls="theme-lnb" aria-expanded="false" aria-label="Toggle LNB">
          <span class="navbar-toggler-icon" aria-hidden="true"></span>
          <span class="sr-only">주 메뉴 바로가기</span>
        </button>
        <!-- /lnb-toggler -->
        <!--
          navbar-brand
          React - text-react,
          Vue   - text-vue
        -->
        <span class="navbar-brand text-bootstrap">Bootstrap</span>
        <span class="navbar-brand">Marketing &amp; Promotion</span>
      </div>
      <!-- /docs-header -->
      <div class="docs-body">
        <div class="docs-sidebar" data-include="../_includes/ct-sidebar.html" data-name="tables"></div>
        <!-- docs-contents -->
        <main class="docs-contents contents-mt">
          <div class="d-flex flex-row align-items-start mb-7 mb-md-10">
            <!-- toc -->
            <div class="toc">
              <nav class="nav flex-column js-toc-triggers">
                <a class="nav-link" href="#tables-examples">Examples</a>
                <a class="nav-link" href="#tables-head-options">Table head options</a>
                <a class="nav-link" href="#tables-striped-rows">Striped rows</a>
                <a class="nav-link" href="#tables-bordered">Bordered table</a>
                <a class="nav-link" href="#tables-borderless">Borderless table</a>
                <a class="nav-link" href="#tables-hoverable-rows">Hoverable rows</a>
                <a class="nav-link" href="#tables-small">Small table</a>
                <a class="nav-link" href="#tables-extra-small">Extra Small table</a>
                <a class="nav-link" href="#tables-contextual-classes">Contextual classes</a>
                <a class="nav-link" href="#tables-captions">Captions</a>
                <a class="nav-link" href="#tables-responsive">Responsive table</a>
              </nav>
            </div>
            <!-- /toc -->

            <!-- toc-content -->
            <div class="toc-content">
              <div>Components</div>
              <div class="component-title font-weight-bold mb-7">Tables</div>

              <div class="card mb-5" id="tables-examples">
                <div class="card-header">
                  Examples
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">헤더 셀</th>
                        <th scope="col">헤더 셀</th>
                        <th scope="col">헤더 셀</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                    </tbody>
                  </table>
                  <br>
                  <table class="table table-dark">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">헤더 셀</th>
                        <th scope="col">헤더 셀</th>
                        <th scope="col">헤더 셀</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                    </tbody>
                  </table>
                  <br>
                  <div class="table-responsive">
                    <table class="table" style="min-width: 1205px;">
                      <colgroup>
                        <col style="width: 20px">
                        <col style="width: 20px">
                        <col style="width: 200px">
                        <col style="width: 150px">
                        <col>
                        <col>
                        <col>
                      </colgroup>
                      <thead>
                        <tr>
                          <th scope="col">
                            <div class="custom-control custom-checkbox icon-only">
                              <input type="checkbox" class="custom-control-input uxs-check-all" id="checkAll">
                              <label class="custom-control-label" for="checkAll"><span class="sr-only">Check this custom checkbox</span></label>
                            </div>
                          </th>
                          <th scope="col">#</th>
                          <th scope="col">카테고리</th>
                          <th scope="col">카테고리</th>
                          <th scope="col">가격</th>
                          <th scope="col">재고</th>
                          <th scope="col">편집</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">
                            <div class="custom-control custom-checkbox icon-only">
                              <input type="checkbox" class="custom-control-input uxs-check-all-item" id="checkItem1">
                              <label class="custom-control-label" for="checkItem1"><span class="sr-only">Check this custom checkbox</span></label>
                            </div>
                          </th>
                          <td scope="row">1</td>
                          <td>
                            <button type="button" class="btn btn-primary">버튼</button> 데이터 셀
                          </td>
                          <td>
                            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              드롭다운(Button)
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                              <button class="dropdown-item disabled" type="button">드롭다운 아이템</button>
                              <button class="dropdown-item" type="button">드롭다운 아이템</button>
                              <button class="dropdown-item" type="button">드롭다운 아이템</button>
                              <div class="dropdown-divider"></div>
                              <button class="dropdown-item" type="button">드롭다운 아이템</button>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-radio custom-control-inline">
                              <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input" checked="">
                              <label class="custom-control-label" for="customRadioInline1">Toggle this custom radio</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                              <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                              <label class="custom-control-label" for="customRadioInline2">Or toggle this other custom radio</label>
                            </div>
                          </td>
                          <td> 53 <span class="badge badge-success">배지</span></td>
                          <td>
                            <button type="button" class="btn btn-ghost-primary icon-only">
                              <span class="glyphicons-outline_delete" aria-hidden="true"></span>
                              <span class="sr-only">Delete</span>
                            </button>
                            <button type="button" class="btn btn-ghost-primary icon-only">
                              <span class="glyphicons-add" aria-hidden="true"></span>
                              <span class="sr-only">ADD</span>
                            </button>
                          </td>
                        </tr>
                        <tr>
                          <th scope="roe">
                            <div class="custom-control custom-checkbox icon-only">
                              <input type="checkbox" class="custom-control-input uxs-check-all-item" id="checkItem2">
                              <label class="custom-control-label" for="checkItem1"><span class="sr-only">Check this custom checkbox</span></label>
                            </div>
                          </th>
                          <td scope="row">2</td>
                          <td>
                            <button type="button" class="btn btn-outline-primary">버튼</button> 데이터 셀
                          </td>
                          <td>
                            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              드롭다운(Button)
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                              <button class="dropdown-item disabled" type="button">드롭다운 아이템</button>
                              <button class="dropdown-item" type="button">드롭다운 아이템</button>
                              <button class="dropdown-item" type="button">드롭다운 아이템</button>
                              <div class="dropdown-divider"></div>
                              <button class="dropdown-item" type="button">드롭다운 아이템</button>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox custom-control-inline">
                              <input type="checkbox" class="custom-control-input" id="customCheck1" checked="">
                              <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                              <input type="checkbox" class="custom-control-input" id="customCheckDisabled2" disabled="">
                              <label class="custom-control-label" for="customCheckDisabled2">Check this custom checkbox</label>
                            </div>
                          </td>
                          <td> 62 <span class="badge badge-pill badge-info">배지</span></td>
                          <td>
                            <button type="button" class="btn btn-ghost-primary icon-only">
                              <span class="glyphicons-outline_delete" aria-hidden="true"></span>
                              <span class="sr-only">Delete</span>
                            </button>
                            <button type="button" class="btn btn-ghost-primary icon-only">
                              <span class="glyphicons-add" aria-hidden="true"></span>
                              <span class="sr-only">ADD</span>
                            </button>
                          </td>
                        </tr>
                        <tr>
                          <th scope="roe">
                            <div class="custom-control custom-checkbox icon-only">
                              <input type="checkbox" class="custom-control-input uxs-check-all-item" id="checkItem3">
                              <label class="custom-control-label" for="checkItem3"><span class="sr-only">Check this custom checkbox</span></label>
                            </div>
                          </th>
                          <td scope="row">3</td>
                          <td>
                            <button type="button" class="btn btn-info">버튼</button> 데이터 셀
                          </td>
                          <td>
                            <button class="btn btn-ghost-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              드롭다운(Button)
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                              <button class="dropdown-item disabled" type="button">드롭다운 아이템</button>
                              <button class="dropdown-item" type="button">드롭다운 아이템</button>
                              <button class="dropdown-item" type="button">드롭다운 아이템</button>
                              <div class="dropdown-divider"></div>
                              <button class="dropdown-item" type="button">드롭다운 아이템</button>
                            </div>
                          </td>
                          <td>
                            <input type="text" class="form-control" placeholder="First name">
                          </td>
                          <td> 105 <span class="badge badge-pill badge-danger">배지</span></td>
                          <td>
                            <button type="button" class="btn btn-ghost-primary icon-only">
                              <span class="glyphicons-outline_delete" aria-hidden="true"></span>
                              <span class="sr-only">Delete</span>
                            </button>
                            <button type="button" class="btn btn-ghost-primary icon-only">
                              <span class="glyphicons-add" aria-hidden="true"></span>
                              <span class="sr-only">ADD</span>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="tables-head-options">
                <div class="card-header">
                  Table head options
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">헤더 셀</th>
                        <th scope="col">헤더 셀</th>
                        <th scope="col">헤더 셀</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                    </tbody>
                  </table>
                  <br>
                  <table class="table">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">헤더 셀</th>
                        <th scope="col">헤더 셀</th>
                        <th scope="col">헤더 셀</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                    </tbody>
                  </table>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="tables-striped-rows">
                <div class="card-header">
                  Striped rows
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">헤더 셀</th>
                        <th scope="col">헤더 셀</th>
                        <th scope="col">헤더 셀</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                    </tbody>
                  </table>
                  <br>
                  <table class="table table-striped table-dark">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">헤더 셀</th>
                        <th scope="col">헤더 셀</th>
                        <th scope="col">헤더 셀</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                    </tbody>
                  </table>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="tables-bordered">
                <div class="card-header">
                  Bordered table
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">헤더 셀</th>
                        <th scope="col">헤더 셀</th>
                        <th scope="col">헤더 셀</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td colspan="2">데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                    </tbody>
                  </table>
                  <br>
                  <table class="table table-bordered table-dark">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">헤더 셀</th>
                        <th scope="col">헤더 셀</th>
                        <th scope="col">헤더 셀</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td colspan="2">데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                    </tbody>
                  </table>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="tables-borderless">
                <div class="card-header">
                  Borderless table
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">헤더 셀</th>
                        <th scope="col">헤더 셀</th>
                        <th scope="col">헤더 셀</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td colspan="2">데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                    </tbody>
                  </table>
                  <br>
                  <table class="table table-borderless table-dark">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">헤더 셀</th>
                        <th scope="col">헤더 셀</th>
                        <th scope="col">헤더 셀</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td colspan="2">데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                    </tbody>
                  </table>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="tables-hoverable-rows">
                <div class="card-header">
                  Hoverable rows
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">헤더 셀</th>
                        <th scope="col">헤더 셀</th>
                        <th scope="col">헤더 셀</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td colspan="2">데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                    </tbody>
                  </table>
                  <br>
                  <table class="table table-hover table-dark">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">헤더 셀</th>
                        <th scope="col">헤더 셀</th>
                        <th scope="col">헤더 셀</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td colspan="2">데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                    </tbody>
                  </table>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="tables-small">
                <div class="card-header">
                  Small table
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <table class="table table-sm">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">헤더 셀</th>
                        <th scope="col">헤더 셀</th>
                        <th scope="col">헤더 셀</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td colspan="2">데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                    </tbody>
                  </table>
                  <br>
                  <div class="table-responsive">
                    <table class="table table-sm" style="min-width: 1205px;">
                      <colgroup>
                        <col style="width: 20px">
                        <col style="width: 20px">
                        <col style="width: 200px">
                        <col style="width: 150px">
                        <col>
                        <col>
                        <col>
                      </colgroup>
                      <thead>
                        <tr>
                          <th scope="col">
                            <div class="custom-control custom-checkbox icon-only">
                              <input type="checkbox" class="custom-control-input uxs-check-all" id="checkAll2">
                              <label class="custom-control-label" for="checkAll2"><span class="sr-only">Check this custom checkbox</span></label>
                            </div>
                          </th>
                          <th scope="col">#</th>
                          <th scope="col">카테고리</th>
                          <th scope="col">카테고리</th>
                          <th scope="col">가격</th>
                          <th scope="col">재고</th>
                          <th scope="col">편집</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="roe">
                            <div class="custom-control custom-checkbox icon-only">
                              <input type="checkbox" class="custom-control-input uxs-check-all-item" id="checkItem2-1">
                              <label class="custom-control-label" for="checkItem2-1"><span class="sr-only">Check this custom checkbox</span></label>
                            </div>
                          </th>
                          <td scope="row">1</td>
                          <td><button type="button" class="btn btn-primary btn-sm">버튼</button> 데이터 셀</td>
                          <td>
                            <button class="btn btn-outline-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton2-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              드롭다운(Button)
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2-1">
                              <button class="dropdown-item disabled" type="button">드롭다운 아이템</button>
                              <button class="dropdown-item" type="button">드롭다운 아이템</button>
                              <button class="dropdown-item" type="button">드롭다운 아이템</button>
                              <div class="dropdown-divider"></div>
                              <button class="dropdown-item" type="button">드롭다운 아이템</button>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-radio custom-control-inline">
                              <input type="radio" id="customRadioInline2-1" name="customRadioInline2" class="custom-control-input" checked="">
                              <label class="custom-control-label" for="customRadioInline2-1">Toggle this custom radio</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                              <input type="radio" id="customRadioInline2-2" name="customRadioInline2" class="custom-control-input">
                              <label class="custom-control-label" for="customRadioInline2-2">Or toggle this other custom radio</label>
                            </div>
                          </td>
                          <td> 53 <span class="badge badge-success">배지</span></td>
                          <td>
                            <button type="button" class="btn btn-ghost-primary btn-sm icon-only">
                              <span class="glyphicons-outline_delete" aria-hidden="true"></span>
                              <span class="sr-only">Delete</span>
                            </button>
                            <button type="button" class="btn btn-ghost-primary btn-sm icon-only">
                              <span class="glyphicons-add" aria-hidden="true"></span>
                              <span class="sr-only">ADD</span>
                            </button>
                          </td>
                        </tr>
                        <tr>
                          <th scope="roe">
                            <div class="custom-control custom-checkbox icon-only">
                              <input type="checkbox" class="custom-control-input uxs-check-all-item" id="checkItem2-2">
                              <label class="custom-control-label" for="checkItem2-2"><span class="sr-only">Check this custom checkbox</span></label>
                            </div>
                          </th>
                          <td scope="row">2</td>
                          <td><button type="button" class="btn btn-outline-primary btn-sm">버튼</button> 데이터 셀</td>
                          <td>
                            <button class="btn btn-success btn-sm dropdown-toggle" type="button" id="dropdownMenuButton2-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              드롭다운(Button)
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2-2">
                              <button class="dropdown-item disabled" type="button">드롭다운 아이템</button>
                              <button class="dropdown-item" type="button">드롭다운 아이템</button>
                              <button class="dropdown-item" type="button">드롭다운 아이템</button>
                              <div class="dropdown-divider"></div>
                              <button class="dropdown-item" type="button">드롭다운 아이템</button>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox custom-control-inline">
                              <input type="checkbox" class="custom-control-input" id="customCheck2" checked="">
                              <label class="custom-control-label" for="customCheck2">Check this custom checkbox</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                              <input type="checkbox" class="custom-control-input" id="customCheckDisabled2" disabled="">
                              <label class="custom-control-label" for="customCheckDisabled2">Check this custom checkbox</label>
                            </div>
                          </td>
                          <td> 62 <span class="badge badge-pill badge-info">배지</span></td>
                          <td>
                            <button type="button" class="btn btn-ghost-primary btn-sm icon-only">
                              <span class="glyphicons-outline_delete" aria-hidden="true"></span>
                              <span class="sr-only">Delete</span>
                            </button>
                            <button type="button" class="btn btn-ghost-primary btn-sm icon-only">
                              <span class="glyphicons-add" aria-hidden="true"></span>
                              <span class="sr-only">ADD</span>
                            </button>
                          </td>
                        </tr>
                        <tr>
                          <th scope="roe">
                            <div class="custom-control custom-checkbox icon-only">
                              <input type="checkbox" class="custom-control-input uxs-check-all-item" id="checkItem2-3">
                              <label class="custom-control-label" for="checkItem2-3"><span class="sr-only">Check this custom checkbox</span></label>
                            </div>
                          </th>
                          <td scope="row">3</td>
                          <td><button type="button" class="btn btn-info btn-sm">버튼</button> 데이터 셀</td>
                          <td>
                            <button class="btn btn-ghost-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton2-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              드롭다운(Button)
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2-3">
                              <button class="dropdown-item disabled" type="button">드롭다운 아이템</button>
                              <button class="dropdown-item" type="button">드롭다운 아이템</button>
                              <button class="dropdown-item" type="button">드롭다운 아이템</button>
                              <div class="dropdown-divider"></div>
                              <button class="dropdown-item" type="button">드롭다운 아이템</button>
                            </div>
                          </td>
                          <td><input type="text" class="form-control form-control-sm" placeholder="First name"></td>
                          <td> 105 <span class="badge badge-pill badge-danger">배지</span></td>
                          <td>
                            <button type="button" class="btn btn-ghost-primary btn-sm icon-only">
                              <span class="glyphicons-outline_delete" aria-hidden="true"></span>
                              <span class="sr-only">Delete</span>
                            </button>
                            <button type="button" class="btn btn-ghost-primary btn-sm icon-only">
                              <span class="glyphicons-add" aria-hidden="true"></span>
                              <span class="sr-only">ADD</span>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <br>
                  <table class="table table-sm table-dark">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">헤더 셀</th>
                        <th scope="col">헤더 셀</th>
                        <th scope="col">헤더 셀</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td colspan="2">데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                    </tbody>
                  </table>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="tables-extra-small">
                <div class="card-header">
                  Extra Small table
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <table class="table table-xsm">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">헤더 셀</th>
                        <th scope="col">헤더 셀</th>
                        <th scope="col">헤더 셀</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td colspan="2">데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                    </tbody>
                  </table>
                  <br>
                  <table class="table table-xsm table-dark">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">헤더 셀</th>
                        <th scope="col">헤더 셀</th>
                        <th scope="col">헤더 셀</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td colspan="2">데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                    </tbody>
                  </table>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="tables-contextual-classes">
                <div class="card-header">
                  Contextual classes
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">클래스</th>
                        <th scope="col">헤더 셀</th>
                        <th scope="col">헤더 셀</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="table-active">
                        <th scope="row">Active</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr>
                        <th scope="row">Default</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr class="table-primary">
                        <th scope="row">Primary</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr>
                        <th scope="row">Cell</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr class="table-secondary">
                        <th scope="row">Secondary</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr>
                        <th scope="row">Cell</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr class="table-success">
                        <th scope="row">Success</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr>
                        <th scope="row">Cell</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr class="table-warning">
                        <th scope="row">Warning</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr>
                        <th scope="row">Cell</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr class="table-info">
                        <th scope="row">Info</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr>
                        <th scope="row">Cell</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr class="table-danger">
                        <th scope="row">Danger</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr>
                        <th scope="row">Cell</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr class="table-light">
                        <th scope="row">Light</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr>
                        <th scope="row">Cell</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr class="table-dark">
                        <th scope="row">Dark</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                    </tbody>
                  </table>
                  <br>
                  <table class="table table-dark">
                    <thead>
                      <tr>
                        <th scope="col">클래스</th>
                        <th scope="col">헤더 셀</th>
                        <th scope="col">헤더 셀</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="bg-primary">
                        <th scope="row">Primary</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr>
                        <th scope="row">Cell</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr class="bg-secondary">
                        <th scope="row">Secondary</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr>
                        <th scope="row">Cell</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr class="bg-success">
                        <th scope="row">Success</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr>
                        <th scope="row">Cell</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr class="bg-info">
                        <th scope="row">Info</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr>
                        <th scope="row">Cell</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr class="bg-warning">
                        <th scope="row">Warning</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr>
                        <th scope="row">Cell</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr class="bg-danger">
                        <th scope="row">Danger</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                    </tbody>
                  </table>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="tables-captions">
                <div class="card-header">
                  Captions
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <table class="table">
                    <caption>이 곳에 캡션이 들어갑니다.</caption>
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">헤더 셀</th>
                        <th scope="col">헤더 셀</th>
                        <th scope="col">헤더 셀</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                        <td>데이터 셀</td>
                      </tr>
                    </tbody>
                  </table>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="tables-responsive">
                <div class="card-header">
                  Responsive table
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Heading</th>
                          <th scope="col">Heading</th>
                          <th scope="col">Heading</th>
                          <th scope="col">Heading</th>
                          <th scope="col">Heading</th>
                          <th scope="col">Heading</th>
                          <th scope="col">Heading</th>
                          <th scope="col">Heading</th>
                          <th scope="col">Heading</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Cell</td>
                          <td>Cell</td>
                          <td>Cell</td>
                          <td>Cell</td>
                          <td>Cell</td>
                          <td>Cell</td>
                          <td>Cell</td>
                          <td>Cell</td>
                          <td>Cell</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Cell</td>
                          <td>Cell</td>
                          <td>Cell</td>
                          <td>Cell</td>
                          <td>Cell</td>
                          <td>Cell</td>
                          <td>Cell</td>
                          <td>Cell</td>
                          <td>Cell</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Cell</td>
                          <td>Cell</td>
                          <td>Cell</td>
                          <td>Cell</td>
                          <td>Cell</td>
                          <td>Cell</td>
                          <td>Cell</td>
                          <td>Cell</td>
                          <td>Cell</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!--/Component-->
                </div>
              </div>
            </div>
            <!-- /toc-content -->
          </div>
        </main>
        <!-- /docs-contents -->
      </div>

      <!-- theme-go-to-top -->
      <div class="theme-go-to-top">
        <a class="ux-top-link" href="#go-to-top">
          <span class="glyphicons-top" aria-hidden="true"></span>
          <span class="sr-only">Go to Top</span>
        </a>
      </div>
      <!-- /theme-go-to-top -->
    </div>
    <!-- /wrapper -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>

    <!-- UI Script -->
    <script src="../../../assets/common/js/vendor/perfect_scrollbar_1.4.0/perfect_scrollbar.min.js"></script>
    <script src="../../../assets/common/js/ui.js"></script>
    <script src="../../../assets/common/js/demo.js"></script>
  </body>
</html>