<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1.0, user-scalable=0">
    <meta name="keyword" content="">
    <meta name="description" content="">
    <title>Bootstrap Marketing &amp; Promotion</title>
    <link rel="shortcut icon" href="../../../assets/common/img/favicon/ux.ico">
    <link rel="apple-touch-icon" href="../../../assets/common/img/favicon/ux.png">
    <link rel="stylesheet" type="text/css" href="../../../assets/mkt/css/uxs.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/mkt/css/demo.css">
  </head>
  <body>
    <!-- wrapper -->
    <div class="wrapper wrapper-fixed" id="go-to-top">
      <!-- docs-header -->
      <div class="docs-header">
        <!-- lnb-toggler -->
        <button class="navbar-toggler docs-sidebar-toggler" type="button" aria-controls="theme-lnb" aria-expanded="false" aria-label="Toggle LNB">
          <span class="navbar-toggler-icon" aria-hidden="true"></span>
          <span class="sr-only">주 메뉴 바로가기</span>
        </button>
        <!-- /lnb-toggler -->
        <!--
          navbar-brand
          React - text-react,
          Vue   - text-vue
        -->
        <span class="navbar-brand text-bootstrap">Bootstrap</span>
        <span class="navbar-brand">Marketing &amp; Promotion</span>
      </div>
      <!-- /docs-header -->
      <div class="docs-body">
        <div class="docs-sidebar" data-include="../_includes/ct-sidebar.html" data-name="typography"></div>
        <!-- docs-contents -->
        <main class="docs-contents contents-mt">
          <div class="d-flex flex-row align-items-start mb-7 mb-md-10">
            <!-- toc -->
            <div class="toc">
              <nav class="nav flex-column js-toc-triggers">
                <a class="nav-link" href="#typography-headings">Headings</a>
                <a class="nav-link" href="#typography-contents">Contents</a>
                <a class="nav-link" href="#typography-customizing-headings">Customizing headings</a>
                <a class="nav-link" href="#typography-lead">Lead</a>
                <a class="nav-link" href="#typography-inline">Inline text elements</a>
                <a class="nav-link" href="#typography-abbreviations">Abbreviations</a>
                <a class="nav-link" href="#typography-blockquotes">Blockquotes</a>
                <a class="nav-link" href="#typography-naming">Naming a source</a>
                <a class="nav-link" href="#typography-alignment">Alignment</a>
                <a class="nav-link" href="#typography-lists-unstyled">Lists (Unstyled)</a>
                <a class="nav-link" href="#typography-description">Description list alignment</a>
              </nav>
            </div>
            <!-- /toc -->

            <!-- toc-content -->
            <div class="toc-content">
              <div>Components</div>
              <div class="component-title font-weight-bold mb-7">Typography</div>

              <div class="card mb-5" id="typography-headings">
                <div class="card-header">
                  Headings
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Heading &amp; Tags</th>
                        <th scope="col">Example</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="align-middle"><code>&lt;h1&gt;&lt;/h1&gt;</code></td>
                        <td><h1>h1. 제목 요소</h1></td>
                      </tr>
                      <tr>
                        <td class="align-middle"><code>&lt;h2&gt;&lt;/h2&gt;</code></td>
                        <td><h2>h2. 제목 요소</h2></td>
                      </tr>
                      <tr>
                        <td class="align-middle"><code>&lt;h3&gt;&lt;/h3&gt;</code></td>
                        <td><h3>h3. 제목 요소</h3></td>
                      </tr>
                      <tr>
                        <td class="align-middle"><code>&lt;h4&gt;&lt;/h4&gt;</code></td>
                        <td><h4>h4. 제목 요소</h4></td>
                      </tr>
                      <tr>
                        <td class="align-middle"><code>&lt;h5&gt;&lt;/h5&gt;</code></td>
                        <td><h5>h5. 제목 요소</h5></td>
                      </tr>
                      <tr>
                        <td class="align-middle"><code>&lt;h6&gt;&lt;/h6&gt;</code></td>
                        <td><h6>h6. 제목 요소</h6></td>
                      </tr>
                      <tr>
                        <td class="align-middle"><code>&lt;p class="h1"&gt;&lt;/p&gt;</code></td>
                        <td><p class="h1">h1. 타이포그라피</p></td>
                      </tr>
                      <tr>
                        <td class="align-middle"><code>&lt;p class="h2"&gt;&lt;/p&gt;</code></td>
                        <td><p class="h2">h2. 타이포그라피</p></td>
                      </tr>
                      <tr>
                        <td class="align-middle"><code>&lt;p class="h3"&gt;&lt;/p&gt;</code></td>
                        <td><p class="h3">h3. 타이포그라피</p></td>
                      </tr>
                      <tr>
                        <td class="align-middle"><code>&lt;p class="h4"&gt;&lt;/p&gt;</code></td>
                        <td><p class="h4">h4. 타이포그라피</p></td>
                      </tr>
                      <tr>
                        <td class="align-middle"><code>&lt;p class="h5"&gt;&lt;/p&gt;</code></td>
                        <td><p class="h5">h5. 타이포그라피</p></td>
                      </tr>
                      <tr>
                        <td class="align-middle"><code>&lt;p class="h6"&gt;&lt;/p&gt;</code></td>
                        <td><p class="h6">h6. 타이포그라피</p></td>
                      </tr>

                      <tr>
                        <td class="align-middle"><code>&lt;h1 class="display-1"&gt;&lt;/h1&gt;</code></td>
                        <td><h1 class="display-1">디스플레이(Display 1)</h1></td>
                      </tr>
                      <tr>
                        <td class="align-middle"><code>&lt;h1 class="display-2"&gt;&lt;/h1&gt;</code></td>
                        <td><h1 class="display-2">디스플레이(Display 2)</h1></td>
                      </tr>
                      <tr>
                        <td class="align-middle"><code>&lt;h1 class="display-3"&gt;&lt;/h1&gt;</code></td>
                        <td><h1 class="display-3">디스플레이(Display 3)</h1></td>
                      </tr>
                      <tr>
                        <td class="align-middle"><code>&lt;h1 class="display-4"&gt;&lt;/h1&gt;</code></td>
                        <td><h1 class="display-4">디스플레이(Display 4)</h1></td>
                      </tr>
                    </tbody>
                  </table>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="typography-contents">
                <div class="card-header">
                  Contents
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <table class="table table-bordered">
                    <colgroup>
                      <col style="width: 272px">
                      <col>
                    </colgroup>
                    <thead>
                      <tr>
                        <th scope="col">Contents</th>
                        <th scope="col">Example</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="align-middle"><code class="highlighter-rouge">&lt;p class="content-1"&gt;&lt;/p&gt;</code></td>
                        <td><p class="content-1 mb-0">content-1 타이포그라피</p></td>
                      </tr>
                      <tr>
                        <td class="align-middle"><code class="highlighter-rouge">&lt;p class="content-2"&gt;&lt;/p&gt;</code></td>
                        <td><p class="content-2 mb-0">content-2 타이포그라피</p></td>
                      </tr>
                      <tr>
                        <td class="align-middle"><code class="highlighter-rouge">&lt;p class="content-3"&gt;&lt;/p&gt;</code></td>
                        <td><p class="content-3 mb-0">content-3 타이포그라피</p></td>
                      </tr>
                      <tr>
                        <td class="align-middle"><code class="highlighter-rouge">&lt;p class="content-4"&gt;&lt;/p&gt;</code></td>
                        <td><p class="content-4 mb-0">content-4 타이포그라피</p></td>
                      </tr>
                      <tr>
                        <td class="align-middle"><code class="highlighter-rouge">&lt;p class="content-5"&gt;&lt;/p&gt;</code></td>
                        <td><p class="content-5 mb-0">content-5 타이포그라피</p></td>
                      </tr>
                    </tbody>
                  </table>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="typography-customizing-headings">
                <div class="card-header">
                  Customizing headings
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <h3>
                    h3. 제목 요소
                    <small class="text-muted">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</small>
                  </h3>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="typography-lead">
                <div class="card-header">
                  Lead
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <p class="lead">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="typography-inline">
                <div class="card-header">
                  Inline text elements
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <p>UX Studio는 <mark>빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스</mark>입니다.</p>
                  <p><del>UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</del></p>
                  <p><s>UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</s></p>
                  <p><ins>UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</ins></p>
                  <p><u>UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</u></p>
                  <p><small>UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</small></p>
                  <p><strong>UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</strong></p>
                  <p><em>UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</em></p>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="typography-abbreviations">
                <div class="card-header">
                  Abbreviations
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <p><abbr title="attribute">attr</abbr></p>
                  <p><abbr title="HyperText Markup Language" class="initialism">HTML</abbr></p>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="typography-blockquotes">
                <div class="card-header">
                  Blockquotes
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <blockquote class="blockquote">
                    <p class="mb-0">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                  </blockquote>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="typography-naming">
                <div class="card-header">
                  Naming a source
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <blockquote class="blockquote">
                    <p class="mb-0">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                    <footer class="blockquote-footer">UX Studio <cite title="작가">작가</cite></footer>
                  </blockquote>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="typography-alignment">
                <div class="card-header">
                  Alignment
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <blockquote class="blockquote text-center">
                    <p class="mb-0">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                    <footer class="blockquote-footer">UX Studio <cite title="작가">작가</cite></footer>
                  </blockquote>
                  <hr>
                  <blockquote class="blockquote text-right">
                    <p class="mb-0">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                    <footer class="blockquote-footer">UX Studio <cite title="작가">작가</cite></footer>
                  </blockquote>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="typography-lists-unstyled">
                <div class="card-header">
                  Lists (Unstyled)
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <ul class="list-unstyled">
                    <li>UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</li>
                    <li>UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</li>
                    <li>UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.
                      <ul>
                        <li>UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</li>
                        <li>UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</li>
                      </ul>
                    </li>
                    <li>UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</li>
                  </ul>

                  <hr>

                  <ul class="list-inline">
                    <li class="list-inline-item">· UX Studio</li>
                    <li class="list-inline-item">· UX Studio</li>
                    <li class="list-inline-item">· UX Studio</li>
                  </ul>
                  <!--/Component-->
                </div>
              </div>

              <div class="card mb-5" id="typography-description">
                <div class="card-header">
                  Description list alignment
                </div>
                <div class="card-body py-5 px-4">
                  <!--Component-->
                  <dl class="row">
                    <dt class="col-sm-3">Description lists</dt>
                    <dd class="col-sm-9">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</dd>

                    <dt class="col-sm-3">Euismod</dt>
                    <dd class="col-sm-9">
                      <p>UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                      <p>UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</p>
                    </dd>

                    <dt class="col-sm-3">Malesuada porta</dt>
                    <dd class="col-sm-9">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</dd>

                    <dt class="col-sm-3 text-truncate">Truncated term is truncated</dt>
                    <dd class="col-sm-9">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</dd>

                    <dt class="col-sm-3">Nesting</dt>
                    <dd class="col-sm-9">
                      <dl class="row">
                        <dt class="col-sm-4">Nested definition list</dt>
                        <dd class="col-sm-8">UX Studio는 빠르고 편리하게 높은 UX 품질의 웹 화면 구현을 지원하는 서비스입니다.</dd>
                      </dl>
                    </dd>
                  </dl>
                  <!--/Component-->
                </div>
              </div>
            </div>
            <!-- /toc-content -->
          </div>
        </main>
        <!-- /docs-contents -->
      </div>

      <!-- theme-go-to-top -->
      <div class="theme-go-to-top">
        <a class="ux-top-link" href="#go-to-top">
          <span class="glyphicons-top" aria-hidden="true"></span>
          <span class="sr-only">Go to Top</span>
        </a>
      </div>
      <!-- /theme-go-to-top -->
    </div>
    <!-- /wrapper -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>

    <!-- UI Script -->
    <script src="../../../assets/common/js/vendor/perfect_scrollbar_1.4.0/perfect_scrollbar.min.js"></script>
    <script src="../../../assets/common/js/ui.js"></script>
    <script src="../../../assets/common/js/demo.js"></script>
  </body>
</html>