// Blog related styles.

.td-blog {
    .td-rss-button {
        position: absolute;
        top: 32px;
        right: 32px;
        z-index: 22;
    }
}

.td-blog-list-title {
    margin: 0 0 32px 0;
}

.td-blog-list {
    display: grid;
    row-gap: 40px;

    &:not(:last-of-type) {
        margin: 0 0 40px 0;
    }

    &__item-header {
        margin: 0 0 24px 0;
    }

    &__item-header > * {
        &:last-child {
            margin: 0;
        }
    }

    &__item-main {

        &--with-image {
            @include media-breakpoint-up(md) {
                display: grid;
                grid-template-columns: 250px 1fr;
                column-gap: 24px;
            }
        }
    }

    &__item-image {
        display: none;
        margin: 0;
        @include media-breakpoint-up(md) {
            display: block;
        }
    }
}