// Buttons

@if $enable-rounded {
    .btn {
        border-radius: 1rem;

        &-lg {
            border-radius: 2rem;}

        &-sm {
            border-radius: 1rem;}}}

.btn-link-down {
    background-color: transparent;
    border: transparent;}