.card-list {
  display: grid;
  column-gap: 30px;
  row-gap: 30px;
  max-width: 420px;
  margin: 0 auto;

  @include media-breakpoint-up(md) {
    max-width: 800px;
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-breakpoint-up(xl) {
    margin: initial;
    max-width: initial;
    grid-template-columns: repeat(3, 1fr);
  }
}

.card-title {
  font-weight: bold;
  padding: 0;
  margin: 0 0 16px 0;
  font-size: 1.25em;
}