// The outer page container for the default base template.
.td-default {
    main {
        section:first-of-type {
            @include media-breakpoint-up(md) {
                padding-top: 8rem;
            }
        }

        section {
            @extend .td-block-padding;
        }
    }
}

.td-section .td-main,
.td-page .td-main {
    display: grid;
    margin: 64px 0 0 0;

    @include media-breakpoint-up(lg) {
        grid-template-columns: 260px 1fr;
        margin: 80px 0 0 0;
    }

    @include media-breakpoint-up(xl) {
        grid-template-columns: 1.65fr 6.7fr 1.65fr;
    }
}

.td-section main,
.td-page main {
    padding: 32px 15px;
    position: relative;
    overflow-x: auto;

    @include media-breakpoint-up(md) {
        padding: 32px;
    }
}


