//
// Left side navigation
//
.td-sidebar-nav {
    background-color: rgba(29, 17, 96, 0.03);
    border: 1px solid rgb(222, 226, 230);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    @include media-breakpoint-up(lg) {
        background-color: transparent;
        padding: 0;
        border: none;
        display: block !important;

        @supports (position: sticky) {
            overflow-y: auto;
        }
    }

    &__section {
        margin: 0;

        li {
            list-style: none;
        }

        & > ul {
            padding-left: .5rem;
        }

        @include media-breakpoint-up(md) {
            & > ul {
                padding-left: .5rem;
            }
        }


        padding-left: 0;
    }

    & > &__section {
        padding: 15px;

        @include media-breakpoint-up(lg) {
            padding: 0;
        }
    }

    &__section-title {
        display: block;
        font-weight: $font-weight-medium;

        .active {
            font-weight: $font-weight-bold;
        }

        a {
            color: $gray-900;
        }
    }

    .td-sidebar-link {
        display: block;
        padding-bottom: 0.375rem;

        &__page {
            color: $gray-700;
            font-weight: $font-weight-light;
        }
    }

    a {
        &:hover {
            color: $skred;
            text-decoration: none;
        }

        &.active {
            font-weight: $font-weight-bold;
        }
    }

    .dropdown {
        a {
            color: $gray-700;
        }

        .nav-link {
             padding: 0 0 1rem;
        }
    }
}

.td-sidebar {
    min-width: 260px;

    @include media-breakpoint-up(lg) {
        background-color: $td-sidebar-bg-color;
        border-right: 1px solid $td-sidebar-border-color;
    }

    &__toggle {
        line-height: 1;
        color: $white;
        width: 100%;
        text-align: left;
        background-color: $skgrey;
        padding: 13px 15px;
        transition: $transition;

        @include media-breakpoint-up(lg) {
            display: none;
        }

        &.btn {
            border-radius: 5px;
        }

        &:not(.collapsed) {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    &__search {
        @include media-breakpoint-up(md) {
            padding: 1rem 15px;
        }
    }

    &__inner {
        padding: 32px 15px 4px 15px;

        @include media-breakpoint-up(md) {
            padding: 32px 32px 4px 32px;
        }

        @include media-breakpoint-up(lg) {
            padding: 32px 24px;

            @supports (position: sticky) {
                height: calc(100vh - 80px);
                overflow-y: auto;
                position: sticky;
                top: 80px;
                z-index: 10;
            }
        }

        .td-search-box {
            width: 100%;
        }
    }
}


