{{ define "main" -}}
<div class="td-content">
  <h1>{{ .Title }}</h1>
  {{ with .Content }}{{ . }}{{ end -}}
</div>
{{ if (and .Parent .Parent.IsHome) -}}
  {{ $.Scratch.Set "blog-pages" (where .Site.RegularPages "Section" .Section) -}}
{{ else -}}
  {{ $.Scratch.Set "blog-pages" .Pages -}}
{{ end -}}

{{ if .Pages -}}
<div class="td-blog-posts">
  {{ $pager := .Paginate (( $.Scratch.Get "blog-pages").GroupByDate "2006" ) -}}
  {{ range $pager.PageGroups -}}
  <h2 class="skt-blog-year">{{ T "post_posts_in" }} {{ .Key }}</h2>
  <div class="skt-grid">
    {{ range .Pages -}}
      {{ partial "home/blog-card.html" . }}
    {{ end -}}
  </div>
  {{ end -}}
</div>
<div class="td-blog-posts__pagination mt-5">
  {{ partial "pagination.html" . -}}
</div>
{{- end -}}
{{ end -}}
