@mixin badge-outline-variant($bg) {
  color: $bg;
  border: $btn-border-width solid $bg;
  background-color: $badge-outline-bg-color;

  @at-root a#{&} {
    @include hover-focus {
      color: $bg;
      background-color: $gray-100;
    }

    &:focus,
    &.focus {
      outline: 0;
      box-shadow: 0 0 0 $badge-focus-width rgba($bg, .5);
    }
  }
}
