//
// Base styles
//
// text colors
.text-white-38 {
  color: $white38 !important;
}
.text-white-60 {
  color: $white60 !important;
}
.text-white-87 {
  color: $white87 !important;
}
.text-grays-9 {
  color: $text-grays-9 !important;
}
.text-grays-8 {
  color: $text-grays-8 !important;
}
.text-grays-7 {
  color: $text-grays-7 !important;
}
.text-grays-6 {
  color: $text-grays-6 !important;
}
.text-grays-5 {
  color: $text-grays-5 !important;
}
.text-grays-4 {
  color: $text-grays-4 !important;
}
.text-grays-3 {
  color: $text-grays-3 !important;
}
.text-grays-2 {
  color: $text-grays-2 !important;
}
.text-grays-1 {
  color: $text-grays-1 !important;
}
.text-black {
  color: $black !important;
}