<div class="sidebar-area">
  <nav class="docs-sidebar-nav">
    <ul class="navs">
      <li class="nav-item">
        <a href="../components/home.html" class="nav-link nav-first-link nav-triggers" data-name="home">
          <span class="glyphicons-home" aria-hidden="true"></span>
          HOME
        </a>
      </li>
      <li class="nav-item">
        <a href="../pages/pages.html" class="nav-link nav-first-link nav-triggers" data-name="pages">
          <span class="glyphicons-template" aria-hidden="true"></span>
          Pages
        </a>
      </li>
      <li class="nav-item nav-dropdown-toggler">
        <a href="#" class="nav-link nav-first-link nav-triggers nav-dropdown-toggler">
          <span class="glyphicons-layer" aria-hidden="true"></span>
          Components
        </a>
        <ul class="navs">
          <li><a href="../components/alerts.html" class="nav-link nav-triggers" data-name="alerts">Alerts</a></il>
          <li><a href="../components/badges.html" class="nav-link nav-triggers" data-name="badges">Badges</a></il>
          <li><a href="../components/breadcrumb.html" class="nav-link nav-triggers" data-name="breadcrumb">Breadcrumb</a></il>
          <li><a href="../components/button_group.html" class="nav-link nav-triggers" data-name="button_group">Button group</a></il>
          <li><a href="../components/buttons.html" class="nav-link nav-triggers" data-name="buttons">Buttons</a></il>
          <li><a href="../components/cards.html" class="nav-link nav-triggers" data-name="cards">Cards</a></il>
          <li><a href="../components/carousel.html" class="nav-link nav-triggers" data-name="carousel">Carousel</a></il>
          <li><a href="../components/charts.html" class="nav-link nav-triggers" data-name="charts">Charts</a></il>
          <li><a href="../components/collapse.html" class="nav-link nav-triggers" data-name="collapse">Collapse</a></il>
          <li><a href="../components/colors.html" class="nav-link nav-triggers" data-name="colors">Colors</a></il>
          <li><a href="../components/datatable.html" class="nav-link nav-triggers" data-name="datatable">Datatable</a></il>
          <li><a href="../components/date_picker.html" class="nav-link nav-triggers" data-name="date_picker">Datepicker</a></il>
          <li><a href="../components/dropdowns.html" class="nav-link nav-triggers" data-name="dropdowns">Dropdowns</a></il>
          <li><a href="../components/editor.html" class="nav-link nav-triggers" data-name="editor">Editor</a></il>
          <li><a href="../components/forms.html" class="nav-link nav-triggers" data-name="forms">Forms</a></il>
          <li><a href="../components/icons.html" class="nav-link nav-triggers" data-name="icons">Icons</a></il>
          <li><a href="../components/input_group.html" class="nav-link nav-triggers" data-name="input_group">Input group</a></il>
          <li><a href="../components/jumbotron.html" class="nav-link nav-triggers" data-name="jumbotron">Jumbotron</a></il>
          <li><a href="../components/list_group.html" class="nav-link nav-triggers" data-name="list_group">List group</a></il>
          <li><a href="../components/media_object.html" class="nav-link nav-triggers" data-name="media_object">Media object</a></il>
          <li><a href="../components/modal.html" class="nav-link nav-triggers" data-name="modal">Modal</a></il>
          <li><a href="../components/navbar.html" class="nav-link nav-triggers" data-name="navbar">Navbar</a></il>
          <li><a href="../components/navs.html" class="nav-link nav-triggers" data-name="navs">Navs</a></il>
          <li><a href="../components/pagination.html" class="nav-link nav-triggers" data-name="pagination">Pagination</a></il>
          <li><a href="../components/popovers.html" class="nav-link nav-triggers" data-name="popovers">Popovers</a></il>
          <li><a href="../components/progress.html" class="nav-link nav-triggers" data-name="progress">Progress</a></il>
          <li><a href="../components/scrollspy.html" class="nav-link nav-triggers" data-name="scrollspy">Scrollspy</a></il>
          <li><a href="../components/spinners.html" class="nav-link nav-triggers" data-name="spinners">Spinners</a></il>
          <li><a href="../components/tables.html" class="nav-link nav-triggers" data-name="tables">Tables</a></il>
          <li><a href="../components/toasts.html" class="nav-link nav-triggers" data-name="toasts">Toasts</a></il>
          <li><a href="../components/tooltips.html" class="nav-link nav-triggers" data-name="tooltips">Tooltips</a></il>
          <li><a href="../components/typography.html" class="nav-link nav-triggers" data-name="typography">Typography</a></il>
          <li><a href="../components/wizard.html" class="nav-link nav-triggers" data-name="wizard">Wizard</a></il>
        </ul>
      </li>
      <li class="nav-item nav-dropdown-toggler">
        <a href="#" class="nav-link nav-first-link nav-triggers nav-dropdown-toggler">
          <span class="glyphicons-date_structured" aria-hidden="true"></span>
          UX pattern
        </a>
        <ul class="navs">
          <li><a href="../patterns/cards.html" class="nav-link nav-triggers" data-name="p_cards">Cards</a></li>
          <li><a href="../patterns/forms.html" class="nav-link nav-triggers" data-name="p_forms">Forms</a></li>
          <li><a href="../patterns/layout.html" class="nav-link nav-triggers" data-name="p_layout">Layout</a></li>
          <li><a href="../patterns/list.html" class="nav-link nav-triggers" data-name="p_list">List</a></li>
          <li><a href="../patterns/table.html" class="nav-link nav-triggers" data-name="p_table">Table</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>